.addcard
  background-color $light_gray
  overflow-y hidden
  overflow-x hidden

  &-row-tooltip
    margin-top 23.5px

  &-tooltip
    font-size 20px
  &-loader
    display none

  &-alert
    width 100%
    margin 2em auto 0 auto
    font-family "Avenir LT Std Heavy"
    font-size 16px
    display none


  &-btn
    font-size 21px
    display inline-block
    padding 6px 21px
    margin 1.5em auto 6.5em auto

  &-btn-2
    font-size 21px
    display inline-block
    padding 6px 21px
    margin 1.5em auto 6.5em auto

  &-title
    font-family "Avenir LT Std Roman"
    font-size 35px
    font-weight bold
    text-align center
    color $dark_gray
    margin 6em 0 2em 0

  &-form
    &-desc
      font-family "Avenir LT Std Heavy"
      font-size 16px
      color $dark_gray
      margin 1.5em 0 0.5em 0
      text-align left
    &-input
      font-size 19px
      padding 0.7em
      width 100%
      margin 0.5em 0
      display inline-block