/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px)
  .emma-modal
    &-dialog
      width 80%
      margin 0em auto 0 auto
    &-form
      &-title
        color white
        font-size 40px
        font-family "Avenir LT Std Roman"
        text-align center
        margin 1.5em 0 0.5em 0
      &-input
        font-size 18px
        padding 0.7em
        display block
        width 100%
        margin 1em auto
      &-area
        width 100%
        font-size 18px
        padding 1em
        resize none
        height 10em

    &-btn
      width 75%
      font-size 21px
      display: block;
      margin 0 auto
      padding 6px 19px
      margin 1.5em auto 3em auto
