@font-face {
	font-family: 'Avenir LT Std Medium';
	src: url('../fonts/hinted-AvenirLTStd-Medium.eot');
	src: local('Avenir LT Std 65 Medium'), local('AvenirLTStd-Medium'),
		url('../fonts/hinted-AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-AvenirLTStd-Medium.woff2') format('woff2'),
		url('../fonts/hinted-AvenirLTStd-Medium.woff') format('woff'),
		url('../fonts/hinted-AvenirLTStd-Medium.ttf') format('truetype'),
		url('../fonts/hinted-AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Roman';
	src: url('../fonts/hinted-AvenirLTStd-Roman.eot');
	src: local('Avenir LT Std 55 Roman'), local('AvenirLTStd-Roman'),
		url('../fonts/hinted-AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-AvenirLTStd-Roman.woff2') format('woff2'),
		url('../fonts/hinted-AvenirLTStd-Roman.woff') format('woff'),
		url('../fonts/hinted-AvenirLTStd-Roman.ttf') format('truetype'),
		url('../fonts/hinted-AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Heavy';
	src: url('../fonts/hinted-AvenirLTStd-Heavy.eot');
	src: local('Avenir LT Std 85 Heavy'), local('AvenirLTStd-Heavy'),
		url('../fonts/hinted-AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-AvenirLTStd-Heavy.woff2') format('woff2'),
		url('../fonts/hinted-AvenirLTStd-Heavy.woff') format('woff'),
		url('../fonts/hinted-AvenirLTStd-Heavy.ttf') format('truetype'),
		url('../fonts/hinted-AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}
