/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px)
  .how-detail
    &-cont
      margin 5em 0 0 0
      &:first-child
        margin-top 3em
      &-title
        font-family "Avenir LT Std Heavy"
        font-size 18px
        color $dark_gray
        text-align center
        span
          display inline-block
          vertical-align middle
          max-width 78.2%
          margin-bottom 20px
      &-img
        height auto
        width 45px
        display block
        vertical-align middle
        margin 0 auto 0.8em auto
        img
          width 100%
          height 100%
      &-desc
        margin 0
        width 100%
        text-align center
    &-col-1
      margin-left 8.333%
    &-col-quest
      margin-left 8.333%
      margin-top 3em

    &-quest
      &-cont
        margin 0

    &-row-btn
      margin-top 40px

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 992px)
  .how-detail
    &-cont
      margin 3em 2em 0 0
      display inline-block
      width 45%
      vertical-align top
      &-title
        font-family "Avenir LT Std Heavy"
        font-size 18px
        color $dark_gray
        text-align center
        span
          display inline-block
          vertical-align middle
          max-width 78.2%
          margin-bottom 20px
          min-height 52px
      &-img
        height auto
        width 45px
        display block
        vertical-align middle
        margin 0 auto 0.8em auto
        img
          width 100%
          height 100%
      &-desc
        margin 0
        width 100%
        &-span
          min-height 150px
    &-col-1
      margin-left 8.333%
    &-col-quest
      margin-left 8.333%
      margin-top 3em

    &-quest
      &-cont
        margin 0

    &-row-btn
      margin-top 40px

/* Tablets en horizonal y escritorios pequeños
   ------------------------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1200px)
  .how-detail
    &-cont
      margin 3em 2em 0 0
      display inline-block
      width 45%
      vertical-align top
      &-title
        font-family "Avenir LT Std Heavy"
        font-size 18px
        color $dark_gray
        text-align center
        span
          display inline-block
          vertical-align middle
          max-width 78.2%
          margin-bottom 20px
          min-height 52px
      &-img
        height auto
        width 45px
        display block
        vertical-align middle
        margin 0 auto 0.8em auto
        img
          width 100%
          height 100%
      &-desc
        margin 0
        width 100%

        //&-span
          //min-height 150px
    &-col-1
      margin-left 8.333%
    &-col-quest
      margin-left 8.333%
      margin-top 3em

    &-quest
      &-cont
        margin 0

    &-row-btn
      margin-top 40px
