.how-detail
  overflow-x hidden
  overflow-y auto

  &-btn
    padding 7px 8px
    font-size 21px
    margin 0 auto
    display block

  &-sec
    padding-top 3em
    padding-bottom 7em

  &-col-1
    margin-left 8.2em
  &-col-quest
    margin-left 0.5em
  &-cont
    margin 4.5em 0 4em 0em
    &-title
      font-family "Avenir LT Std Heavy"
      font-size 18px
      color $dark_gray
      span
        display inline-block
        vertical-align middle
        max-width 78.2%
        margin-bottom 20px
    &:nth-child(3)
      .how-detail-cont-img
        width 50px
    &-img
      height auto
      width 45px
      display inline-block
      vertical-align middle
      margin-right 40px
      margin-top -22px
      img
        width 100%
        height 100%

    &-desc
      font-family "Avenir LT Std Roman"
      font-size 17px
      line-height 30px
      color $gray
      width 73%
      margin-left 90px
      text-align justify
      margin-right 0 !important
      &-list
        list-style none
        text-align left
        vertical-align top
        margin-top 2rem
        &-item
          vertical-align top
          margin 10px 0
          &-img
            display inline-block
            height auto
            width 13px
            vertical-align top
            margin-right 10px

            img
              width 100%
              height 100%
              margin-top -10px

          span
            display inline-block
            font-family "Avenir LT Std Roman"
            font-size 17px
            color $gray
            vertical-align middle
            max-width 88%

  &-sec
    background-color $light_gray
  &-title
    background-color white
    font-family "Avenir LT Std Heavy"
    font-size 37px
    text-align center
    color $dark_gray
    padding 4em 0 1em 0
  &-quest
    &-cont
      background-color white
      margin 4em
      border-radius 10px
    &-title
      font-family "Avenir LT Std Medium"
      font-size 27px
      color $dark_gray
      text-align center
      padding 1em
      font-weight bold
      letter-spacing -1px

    &-list
      list-style none
      display block

      &-item
        font-family "Avenir LT Std Medium"
        font-size 19px
        color $gray
        cursor pointer
        p
          padding 1em 0.3em
          width 90%
          margin 0 auto

        &-desc
          font-family "Avenir LT Std Roman"
          font-size 14px
          color $gray
          width 90%
          margin 0 auto

          p
            margin 1em
            text-align: justify;

.last
  word-spacing -2.3px

.graybg
  background-color rgba(128, 128, 128, 0.03)
