.emma
  &-btn-light
    background-color $yellow
    color white
    text-decoration none
    outline none
    border-radius 5px
    text-align center
    border none
    cursor pointer
    font-family "Avenir LT Std Roman"

  &-btn-dark
    background-color $orange
    color white
    text-decoration none
    outline none
    border-radius 5px
    text-align center
    border none
    cursor pointer
    font-family "Avenir LT Std Roman"

    &:hover
    &:active
    &:focus
      color white
      text-decoration none
      outline none

  &-input
    border-radius 5px
    background-color white
    color $gray
    outline none
    border none
    font-family "Avenir LT Std Medium"

    &:hover
    &:active
    &:focus
      text-decoration none
      outline none
