/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px)
  .login
    &-alert
      width 100%
    &-title
      margin 4em 0 2em 0

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px)
  .login
    &-title
      margin 6em 0 2em 0 !important
