.login
  background-color $light_gray
  overflow-y hidden
  overflow-x hidden

  &-alert
    width 70%
    margin 0.5em auto
    display none

  &-btn
    font-size 21px
    display: block;
    padding 6px 21px
    margin 3em auto 6.5em auto
  &-title
    font-family "Avenir LT Std Roman"
    font-size 35px
    font-weight bold
    text-align center
    color $dark_gray
    margin 6em 0 2em 0
  &-form
    &-input
      font-size 19px
      padding 0.7em
      width 70%
      margin 0.4em auto
