@import 'nib'
@import "fonts"
@import "vars"
@import "inputs"
@import "default"
@import "base"

@import "landing/home"
@import "landing/home-responsive"
@import "landing/how"
@import "landing/how-responsive"
@import "landing/services"
@import "landing/services-responsive"
@import "landing/about"
@import "landing/contact"
@import "landing/contact-responsive"
@import "landing/terms"
@import "landing/whowe"
@import "landing/whowe-responsive"
@import "landing/join"
@import "landing/date"
@import "landing/success"
@import "landing/success-responsive"

@import "users/add-card"
@import "users/add-card-responsive"
@import "users/pay-service"
@import "users/pay-service-responsive"

@import "xauth/signup"
@import "xauth/signup-responsive"
@import "xauth/passwd-reset-req"
@import "xauth/passwd-reset"
@import "xauth/change-passwd"
@import "xauth/login"

@import "services/contract-service-info"
@import "services/contract-signup"
@import "services/contract-location"
@import "services/contract-adult"
@import "services/contract-comprobation"
@import "services/contract-pay"

@import "dashboard/base"
@import "dashboard/dashboard-boxes"
@import "dashboard/user-profile"
@import "dashboard/emma-info"
@import "dashboard/welcome"
@import "dashboard/history-table"

@import "hiring-flow/base"
/*aux styles*/
.logos {
  width : 17%;
}

.logo_inger {
  width : 20%;
}
.logos__picture {
  height : 80px;
}
.logo_inger__picture {
  height : 110px;
}