#hiring-flow
  background $light_gray
  color #666
  font-family 'Avenir LT Std Medium'
  font-size 19.5px
  margin-top 86px
  padding 70px 0
  text-align center
  
  .steps-box-wrapper
    margin 0 auto
    max-width 530px
    width 90%
    
    &::before
      background white
      content ' '
      display block
      height 1px
      transform translateY(24.5px)
      
    .steps
      display flex
      justify-content space-between
      width 100%
      
      .step
        background white
        border-radius 50%
        display inline-block
        color $gray
        font-size 16px
        height 48px
        line-height 48px
        text-align center
        width 46px
        z-index 2
        
        &.active
          background $yellow
          color white
          
  .step-title
    font-size 34px
    margin-top 45px
    
  .white-boxes-container
    margin 0 auto
    width 90%
    
    .box
      &:not(:first-child)
        margin-top 26px
      
      .box-title
        border-color #ccc
        border-style solid
        border-width 0 0 2px 0
        color $dark_gray
        font-size 26.5px
        line-height 56px
        
      .box-content
        font-size 20px
        
      .radio-label
        font-weight normal
      
      .radio-label::before
        border solid 2px #bbb
        font-size 18px
        height 18px
        line-height 18px
        width 18px
        
      .radio-container
        font-size inherit
        float none
    
@import "choose-plan"
@import "details"
@import "emma"
@import "payment"
@import "confirmation"