#hiring-flow
  background $light_gray
  margin-top 86px
  padding 80px 20px
  
  .steps-box-wrapper
    margin 0 auto
    max-width 500px
    width 90%
    
    &::before
      background white
      content ' '
      display block
      height 1px
      transform translateY(24.5px)
      
    .steps
      display flex
      justify-content space-between
      width 100%
      
      .step
        background white
        border-radius 50%
        display inline-block
        color $gray
        font-family 'Avenir LT Std Medium'
        font-size 18px
        height 50px
        line-height 50px
        text-align center
        width 50px
        z-index 2
        
        &.active
          background $yellow
          color white