#hiring-flow
  background $light_gray
  margin-top 86px
  padding 80px 20px
  
  .steps-container
    margin 0 auto
    max-width 500px
    width 90%
    
    &::before
      background white
      content ' '
      display block
      height 1px