#hiring-flow
  .plans-introductory-text
    margin 0 auto
    max-width 670px
    margin-top 20px
    width 90%

  .plans-selector
    margin 0 auto
    margin-top 80px
    width 90%

    form, .plans-container
      display inline-block
      vertical-align middle

      &::after
        border-color #dadada
        border-style solid
        border-width 0 1px 0 0
        content ' '
        display inline-block
        height 319px
        margin 0 25px
        width 1px
        vertical-align middle

    .plan-item
      background white
      display inline-block
      vertical-align middle
      width 230px

      &:not(:first-of-type)
        margin-left 10px

      .plan-title
        border-color $light_gray
        border-style solid
        border-width 0 0 2px 0
        display block
        font-size 21px
        padding 12px 0 10px 0

      .plan-content-wrapper
        align-items center
        display flex
        height 265px
        padding 0 30px

        .plan-content
          text-align center
          width 100%

          .price
            display block
            font-family 'Avenir LT Std Heavy'
            font-size 27px
            line-height 0.9

            .sup
              font-size 10px
              margin-left 2px
              top 0
              vertical-align top
              line-height 0.7

            .small
              display block
              font-size 0.7em
              margin-top 0.45em

          .description
            color $gray
            font-size 13px
            margin 23px 0 27px 0

          .emma-btn
            display inline-block
            font-size 19px
            padding 7px 25px

      &.custom .plan-content-wrapper
        padding 0 35px

        .plan-content
          .description
            font-size 15px
            margin 10px 0 85px 0

    .form-loader
      width 50%

  .form-loader
      margin 0 auto
      width 80%

  .compare-plans-btn
    background $purple
    border-radius 5px
    color white
    display inline-block
    font-size 19px
    margin 70px 0
    padding 9px 16px

  .plans-table-container
    padding 110px 70px 75px 70px

    .plans-characteristics-table
      border 1px solid $dashboard_background

      thead th
        border none
        height 100px
        line-height 100px
        font-size 20px
        font-weight normal
        text-align center

        &:first-child
          text-align left

      tbody
        tr:nth-child(even)
          background white

          td .tooltip-container
            background $light_gray

        tr:nth-child(odd)
          background $light_gray

          td .tooltip-container
            background white

        tr:last-child td
          height 100px
          vertical-align top

        tr td
          border none
          font-size 15px
          padding 17px 0
          text-align center
          vertical-align middle

          &:first-child
            max-width 170px
            text-align left
            word-wrap break-word

          &:nth-child(2)
            padding-left 35px
            text-align left
            width 50px

      tr th:first-of-type, tr td:first-of-type
        padding-left 60px

      th:first-child
        max-width 260px

      .tooltip-container
        border-radius 50%
        cursor pointer
        display inline-block
        font-size 15px
        height 20px
        line-height 23px
        position relative
        text-align center
        width 20px

  .on-demand-container
    .on-demand-title
      font-size 27px
      margin 0 auto
      width 90%

    .on-demand-images
      display flex
      margin-top 40px

      .image-item
        background-position center 30%
        background-size cover
        height 24.44vw
        position relative
        width 33.3333%

        &:hover
          .hover-text
            opacity 1

        .hover-text
          background rgba(black, 0.7)
          color white
          display flex
          font-size 26px
          line-height 1.2
          opacity 0
          padding 0 65px
          width 100%
          align-items center
          height 100%
          transition opacity 0.2s
          justify-content center

    .button-container
      padding 70px 0 85px 0
      margin-bottom -70px

      p
        margin 0 auto
        width 60%

        span
          display block
          font-size 21px

        .emma-btn
          display inline-block
          font-size 14px
          margin-top 30px
          padding 9px 30px

@media screen and (max-width: 1130px)
  #hiring-flow .plans-selector .plans-container,
  #hiring-flow .plans-selector form
    display block

    &::after
      display none
      content ''

  #hiring-flow .plans-selector
    .plan-item
      margin-top 15px

      &.custom
        width 100%
        max-width 720px
        center-block()

        .plan-content-wrapper
          height auto
          padding 35px 15px

          .plan-content .description
            margin 0 0 30px 0

@media screen and (max-width: 1100px)
  #hiring-flow
    margin-top 65px

@media screen and (max-width: 890px)
  #hiring-flow .on-demand-container .on-demand-images .image-item .hover-text
    font-size 22px
    padding 0 30px

@media screen and (max-width: 810px)
  #hiring-flow .plans-selector .plans-container,
  #hiring-flow .plans-selector form
    .plan-item
      width 100%

      &:not(:first-child)
        margin-left 0


@media screen and (max-width: 768px)
  .plans-characteristics-table td
    max-width initial !important

    &:not(:first-child):not(:nth-child(2))
      padding-left 40px !important
      padding-right 40px !important

@media screen and (max-width: 767px)
  #hiring-flow
    padding-top 40px
    font-size 16px

    .plans-selector
      margin-top 46px

    .plans-table-container
      padding 0
      padding-bottom 32px

    .on-demand-container .on-demand-title
      font-size 22px

    .on-demand-container .on-demand-images
      flex-wrap wrap

      .image-item
        height 42vw
        min-height 240px
        width 100%

        .hover-text
          background rgba(black, 0.56)
          opacity 1