#hiring-flow
  .comprobation-boxes
    margin-top 70px
    max-width 820px
    
    .box
      .box-title
        color #6a6a6a
        font-size 32px
        line-height 64px
      
      .box-content
        font-size 21px
        padding 50px 0 66px 0
        text-align left

        >div
          max-width 500px
          
        .info-section:not(:first-child)
          margin-top 40px
          
        .line
          display block
          
          &.session
            padding-left 15px
          
          &:not(:first-child)
            margin-top 6px
          
          &.big
            color #555
            font-family 'Avenir LT Std Heavy'
            font-size 26px
          
          b
            color #555
            margin-right 3px
            font-family 'Avenir LT Std Heavy'
            font-weight normal
            
          span:first-child
            margin-right 3px
            
  .finish-button
    font-size 23px
    margin 50px 0 40px 0
    padding 9px 62px