#hiring-flow
  .plan-type-title
    color #444
    font-size 26px
    
  .plan-detail-boxes
    margin-top 55px
    max-width 840px
    
    .workshops-list, .activities-list
      display flex
      flex-flow row wrap
      margin 0 auto
      min-width 260px
      padding 30px 0 50px 0
      width 80%
      
      .workshop-item, .activity-item
        box-sizing border-box !important
        margin-top 16px
        padding-left 60px
        width 50%