#hiring-flow
  .emma-info-boxes
    margin-top 55px
    max-width 840px
    
    .language-box, .gender-box
      .box-content
        padding 50px 0
        
        >div
          text-align center
          width 60%
          
        .radio-container
          display inline-block
          
          &:not(:first-child)
            margin-left 15px
            
    .certifications-box
      .box-content
        padding 50px 0 65px 0
        
        >div
          text-align center
          width 60%
        
        .radio-container
          display inline-block
          margin-top 15px
          width calc(50% - 5px)
        
    .box-content > div
      margin 0 auto