#hiring-flow.on-demand
  form
    margin 0 auto
    width 62%

  .row
    & > div
      padding 0 7px
      
      *
        width 100%

    &.text-center > div
      vertical-align middle
    
  .emma-input
    font-size 21px
    padding 0.8em 1em 0.6em 0.9em

    &::-webkit-input-placeholder
      color $gray
      
    &::-moz-placeholder
      color $gray
      
    &:-ms-input-placeholder
      color $gray
      
    &:-moz-placeholder
      color $gray
    
  .center-placeholder  
    &::-webkit-input-placeholder
      text-align center
      
    &::-moz-placeholder
      text-align center
      
    &:-ms-input-placeholder
      text-align center
      
    &:-moz-placeholder
      text-align center

  textarea
    display block
    height 230px
    margin 0 auto
    width 60%
    
  select.emma-input
    padding-bottom 0.75em
    
  h1
    font-size 33px
    margin-bottom 60px
  
  h2
    font-size 20.5px
    margin 50px 0 20px 0
    
  .row.addres-2-row
    margin-top 15px
    
    .col-md-5
      width 37.5%
      
    .col-md-4
      width 37.5%
    
  .row h2
    text-align left
    line-height 1.5
    margin 0
    
  .row.duration-row
    margin-bottom 100px
    
    .col-md-2
      width 12%
      
      select
        font-size 17px
        padding 0.8em 1em 0.6em 1em
        
    .col-md-1
      color #888
        
  .emma-btn
    font-size 14px
    margin-bottom 20px
    padding 10px 32px