{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

	<section class="contract-adult">
		<div class="row text-center contract-row-img">
			<div class="col-lg-8">
				<img src="{% static "img/pasos_4.png" %}">
			</div>
		</div>
		<div class="row text-center contract-row-title">
			<div class="col-lg-6">
				<p class="contract-title">
					Información del adulto mayor
				</p>
				<p class="contract-subtitle">
					Ingresa los datos en el siguiente formulario:
				</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-7">
				<form class="contract-adult-form" action="."
              method="post" id="contract-adult-form">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6">
							{{ form.name }}
						</div>
						<div class="col-lg-6">
							{{ form.last_name }}
						</div>
					</div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-adult-form-desc">
				        Fecha de Nacimiento
			        </p>
		        </div>
	        </div>
					<div class="row">
						<div class="col-lg-5">
							{{ form.birthday }}
						</div>
					</div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-adult-form-desc">
				        *En caso de no contestar se contactará al médico de cabecera
			        </p>
		        </div>
	        </div>
					<div class="row">
						<div class="col-lg-5">
							{{ form.doctor_name }}
						</div>
						<div class="col-lg-4">
							{{ form.doctor_phone }}
						</div>
						<div class="col-lg-3">
							{{ form.doctor_cp }}
						</div>
					</div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-adult-form-desc">
				        Háblanos del adulto mayor:
			        </p>
		        </div>
	        </div>
					<div class="row">
	          <div class="col-lg-12">
	            {{ form.description }}
	          </div>
	        </div>
					<div class="row text-center">
			      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <button type="submit" class="emma-btn-dark contract-signup-btn">
			           Continuar
			        </button>
			      </div>
			    </div>
				</form>
			</div>
		</div>
	</section>

{% endblock %}