{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div id="hiring-flow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<a href="{% url 'services:contract_plan' %}" class="step previous" title="Ir al paso 1">1</a>
			<a href="{% url 'services:contract_details' %}" class="step previous" title="Ir al paso 2">2</a>
			<span class="step active">3</span>
			<span class="step">4</span>
			<span class="step">5</span>
		</div>
	</div>
	<h2 class="step-title">Tu Emma</h2>
	<form class="white-boxes-container emma-info-boxes" action="." method="post">
		{% csrf_token %}
		<div class="white box gender-box">
			<div class="box-title">Género de preferencia</div>
			<div class="box-content">
				<div>
					<span class="radio-container">
	          <input id="gender-emma" class="radio-input"
	                 type="radio" value="emma"
	                 name="gender" />
	           <label class="radio-label"
	                  for="gender-emma">
	             Emma
	           </label>
	        </span>
	        <span class="radio-container">
	          <input id="gender-frank" class="radio-input"
	                 type="radio" value="frank"
	                 name="gender"  />
	           <label class="radio-label"
	                  for="gender-frank">
	             Frank
	           </label>
	        </span>
	      </div>
			</div>
		</div>
		<div class="white box language-box">
			<div class="box-title">Idioma</div>
			<div class="box-content">
				<div>
					<span class="radio-container">
	          <input id="language-spa" class="radio-input"
	                 type="checkbox" value="spanish"
	                 name="language" />
	           <label class="radio-label"
	                  for="language-spa">
	             Español
	           </label>
	        </span>
	        <span class="radio-container">
	          <input id="language-eng" class="radio-input"
	                 type="checkbox" value="english"
	                 name="language"  />
	           <label class="radio-label"
	                  for="language-eng">
	             Inglés
	           </label>
	        </span>
	        <span class="radio-container">
	          <input id="language-fre" class="radio-input"
	                 type="checkbox" value="french"
	                 name="language"  />
	           <label class="radio-label"
	                  for="language-fre">
	             Francés
	           </label>
	        </span>
        </div>
			</div>
		</div>
		<div class="white box skills-box">
			<div class="box-title">Conocimientos y destrezas</div>
			<div class="box-content">
				<div class="knowledges-skills-container">
					<div class="knowledges">
					<h3 class="title">Conocimientos</h3>
						<span class="radio-container">
		          <input id="know-his" class="radio-input"
		                 type="checkbox" value="history"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-his">
		             Historia
		           </label>
		        </span>
						<span class="radio-container">
		          <input id="know-dep" class="radio-input"
		                 type="checkbox" value="sports"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-dep">
		             Deportes
		           </label>
		        </span>
						<span class="radio-container">
		          <input id="know-ar" class="radio-input"
		                 type="checkbox" value="art"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-ar">
		             Arte
		           </label>
		        </span>
		        <span class="radio-container">
		          <input id="know-cul" class="radio-input"
		                 type="checkbox" value="general culture"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-cul">
		             Cultura general
		           </label>
		        </span>
		        <span class="radio-container">
		          <input id="know-lec" class="radio-input"
		                 type="checkbox" value="reading"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-lec">
		             Lectura
		           </label>
		        </span>
						<span class="radio-container">
		          <input id="know-sci" class="radio-input"
		                 type="checkbox" value="science"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-sci">
		             Ciencia
		           </label>
		        </span>
						<span class="radio-container">
		          <input id="know-pol" class="radio-input"
		                 type="checkbox" value="politics"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-pol">
		             Política
		           </label>
		        </span>
		        <span class="radio-container">
		          <input id="know-mus" class="radio-input"
		                 type="checkbox" value="music"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-mus">
		             Música
		           </label>
		        </span>
		        <span class="radio-container">
		          <input id="know-cin" class="radio-input"
		                 type="checkbox" value="cinema"
		                 name="knowledge"  />
		           <label class="radio-label"
		                  for="know-cin">
		             Cine
		           </label>
		        </span>
		      </div>
		      <div class="skills">
						<h3 class="title">Destrezas</h3>
						<span class="radio-container">
		          <input id="skill-knit" class="radio-input"
		                 type="checkbox" value="knit"
		                 name="skill"  />
		           <label class="radio-label"
		                  for="skill-knit">
		             Tejer/Bordar
		           </label>
		        </span>
		        <span class="radio-container">
		          <input id="skill-cook" class="radio-input"
		                 type="checkbox" value="cook"
		                 name="skill"  />
		           <label class="radio-label"
		                  for="skill-cook">
		             Cocinar
		           </label>
		        </span>
						<span class="radio-container">
		          <input id="skill-manual" class="radio-input"
		                 type="checkbox" value="crafts"
		                 name="skill"  />
		           <label class="radio-label"
		                  for="skill-manual">
		             Manualidades
		           </label>
		        </span>
		        <span class="radio-container">
		          <input id="skill-paint" class="radio-input"
		                 type="checkbox" value="paint"
		                 name="skill"  />
		           <label class="radio-label"
		                  for="skill-paint">
		             Pintar
		           </label>
		        </span>
		      </div>
	      </div>
			</div>
		</div>
		<div class="white box certifications-box">
			<div class="box-title">Certificaciones especiales</div>
			<div class="box-content">
				<div>
					<span class="radio-container">
	          <input id="certification-aid" class="radio-input"
	                 type="checkbox" value="first aid"
	                 name="certification"  />
	           <label class="radio-label"
	                  for="certification-aid">
	             Primeros auxilios
	           </label>
	        </span>
	        <span class="radio-container">
	          <input id="certification-alz" class="radio-input"
	                 type="checkbox" value="alzheimer"
	                 name="certification"  />
	           <label class="radio-label"
	                  for="certification-alz">
	             Trato Alzhaimer
	           </label>
	        </span>
					<span class="radio-container">
	          <input id="certification-dep" class="radio-input"
	                 type="checkbox" value="depression"
	                 name="certification"  />
	           <label class="radio-label"
	                  for="certification-dep">
	             Depresión
	           </label>
	        </span>
	        <span class="radio-container">
	          <input id="certification-can" class="radio-input"
	                 type="checkbox" value="cancer"
	                 name="certification"  />
	           <label class="radio-label"
	                  for="certification-can">
	             Cáncer
	           </label>
	        </span>
	      </div>
			</div>
		</div>
		<div class="big-text">
			En Emma haremos un gran esfuerzo por encontrar al mejor candidato que cumpla tus preferencias
		</div>
		<div class="small-text">
			*No garantizamos que los acompañantes sean expertos en los temas seleccionados.
		</div>
		<button type="submit" class="emma-btn emma-btn-light">Siguiente</button>
	</form>
</div>
{% endblock %}