{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

	<section class="contract-comprobation">
		<div class="row text-center contract-comprobation-row-title">
			<div class="col-lg-8">
				<h1 class="contract-comprobation-title">
					Confirma tus datos
				</h1>
			</div>
		</div>
		<div class="row text-center contract-comprobation-row-content">
			<div class="col-lg-8">
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Nombre:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ name }} {{ last_name }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Correo electrónico:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ email }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Servicio:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ service }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Taller:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ workshops }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Dirección:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ street }} {{ outdoor_number }}, {{ colony }},
							{{ municipality }} {{ city }}. C.P. {{ postal_code }}
						</span>
					</div>
				</div>
				<div class="row margin-bottom-20"></div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Referencia
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ reference }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Dias
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ day_1 }} <br>
							{% if day_2 %}
								{{ day_2 }} <br>
							{% endif %}
							{% if day_3 %}
								{{ day_3 }} <br>
							{% endif %}
							{% if day_4 %}
								{{ day_4 }} <br>
							{% endif %}
							{% if day_5 %}
								{{ day_5 }} <br>
							{% endif %}
							{% if day_6 %}
								{{ day_6 }} <br>
							{% endif %}
							{% if day_7 %}
								{{ day_7 }} <br>
							{% endif %}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item margin-top-40">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-content-title">
							Adulto Mayor
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Nombre:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ adult_first_name }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Apellidos:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ adult_last_name }}
						</span>
					</div>
				</div>
				<div class="row contract-comprobation-row-item">
					<div class="col-lg-5 text-left">
						<span class="contract-comprobation-label">
							Edad:
						</span>
					</div>
					<div class="col-lg-6 text-left">
						<span class="contract-comprobation-content">
							{{ age }}
						</span>
					</div>
				</div>
				<div class="row text-center">
          <div class="col-xs-10 col-sm-6 col-md-6 col-lg-2">
            <a href="{% url 'services:contract_adult' %}"
               class="emma-btn-dark contract-location-btn">
	            Regresar
            </a>
          </div>
          <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
            <a href="{% url 'services:contract_payment' %}"
               class="emma-btn-dark login-btn">
              Continuar
            </a>
          </div>
        </div>
			</div>
		</div>
	</section>

{% endblock %}