{% extends "clients/dashboard_base.html" %}
{% load humanize %}
{% load static from staticfiles %}
{% block content %}
<div id="hiring-flow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<span class="step active">1</span>
			<span class="step">2</span>
			<span class="step">3</span>
			<span class="step">4</span>
      <span class="step">5</span>
		</div>
	</div>
	<h2 class="step-title">Tu Plan</h2>
	<p class="plans-introductory-text">
		Desde una hora de Emma con fines de entretenimiento hasta un plan
especializado con seguimiento geriátrico.
	</p>
	<p class="plans-introductory-text">
	Siempre encontrarás un plan acorde a las necesidades de tu ser querido:</p>
	<p>
	<div class="plans-selector">
		<form id="select-plan-form" class="loader-form" method="post" action=".">
			{% csrf_token %}
			<input type="hidden" name="plan">
			{% for plan in plans %}
			<div class="plan-item">
				<span class="plan-title">{{ plan.name }}</span>
				<div class="plan-content-wrapper">
					<div class="plan-content">
						<span class="price">
						${{ plan.price|intcomma:False }}<sup class="sup">MXN</sup> <span class="small">Plan mensual</span></span>
						<p class="description">
							{{ plan.weekly_hours }} hrs. de acompañamiento semanales
						</p>
						<button data-plan="{{ plan.id }}" class="emma-btn emma-btn-light" type="submit">Seleccionar</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</form>
		<div class="plan-item custom">
			<span class="plan-title">Personalizado</span>
			<div class="plan-content-wrapper">
				<div class="plan-content">
					<p class="description">
						¿Te gustaría tener un plan a tu medida?
					</p>
					<a href="#" class="emma-btn emma-btn-light">Crealo aquí</a>
				</div>
			</div>
		</div>
        <div class="row text-center padding-top-30 form-loader">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-50">
            <div id="movingBallG">
              <div class="movingBallLineG"></div>
              <div id="movingBallG_1" class="movingBallG"></div>
            </div>
          </div>
        </div>
	</div>
	{% include 'partials/chooseplan_services.html' %}
</div>
{% endblock %}
{% block js %}
<script src="{% static "js/hiring-flow/formloaders.js" %}"></script>
{% endblock %}