{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div id="hiring-flow" ng-app="emmaHiringFlow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<div class="step">1</div>
			<div class="step active">2</div>
			<div class="step">3</div>
			<div class="step">4</div>
			<div class="step">5</div>
		</div>
	</div>
	<h2 class="step-title">Detalles</h2>
	<h3 class="plan-type-title">Plan {{ service.plan.name|lower }}</h3>
	{% if service.plan.allows_workshops and service.plan.allows_activities %}
	<div ng-controller="planDetailController" ng-init="init(true, true, {{ service.plan.max_hours_per_month }}, {{ service.plan.max_weekly_sessions }})">
	{% elif service.plan.allows_workshops %}
	<div ng-controller="planDetailController" ng-init="init(true, false, {{ service.plan.max_hours_per_month }}, {{ service.plan.max_weekly_sessions }})">
	{% elif service.plan.allows_activities %}
	<div ng-controller="planDetailController" ng-init="init(false, true, {{ service.plan.max_hours_per_month }}, {{ service.plan.max_weekly_sessions }})">
	{% else %}
	<div ng-controller="planDetailController" ng-init="init(false, false, {{ service.plan.max_hours_per_month }}, {{ service.plan.max_weekly_sessions }})">
	{% endif %}
		<form class="white-boxes-container plan-detail-boxes" action="." method="post">
			{% csrf_token %}

			{% if service.plan.allows_workshops %}
			<div class="box white">
				<div class="box-title">Selecciona tus talleres</div>
				<div class="box-content">
					<div class="workshops-list">
						{% for workshop in workshops %}
						<span class="radio-container workshop-item">
		          <input id="workshop-{{ workshop.id }}" class="radio-input"
		                 type="checkbox" value="{{ workshop.id }}"
		                 name="workshop" ng-model="plan.workshops[{{ forloop.counter0 }}].isSelected"
		                 data-workshop-name="{{ workshop.name }}" />
		           <label class="radio-label"
		                  for="workshop-{{ workshop.id }}">
		             {{ workshop.name }}
		           </label>
		        </span>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

			{% if service.plan.allows_activities %}
			<div class="box white">
				<div class="box-title">Selecciona tus actividades</div>
				<div class="box-content">
					<div class="activities-list">
						{% for activity in activities %}
						<span class="radio-container activity-item">
		          <input id="activity-{{ activity.id }}" class="radio-input"
		                 type="checkbox" value="{{ activity.id }}"
		                 name="workshop" ng-model="plan.activities[{{ forloop.counter0 }}].isSelected"
		                 data-activity-name="{{ activity.name }}" />
		           <label class="radio-label"
		                  for="activity-{{ activity.id }}">
		             {{ activity.name }}
		           </label>
		        </span>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

			<div class="box white">
				<div class="box-title">Selecciona tus horarios (te quedan {$ getHoursLeft() $} horas)</div>
				<div class="box-content">
					<div class="timetable-container">
						<table class="timetable">
							<tr>
								<th>Dia de la semana</th>
								<th>Hora de inicio</th>
								<th>Duracion de la sesión</th>
								<th>Taller o actividad</th>
							</tr>
							<tr ng-repeat="day in weekDays">
								<td>
									<span class="radio-container activity-item">
					          <input id="day-{$ day.htmlValue $}" class="radio-input"
			                 type="checkbox" value="{$ day.htmlValue $}"
			                 name="{$ day.htmlValue $}_day" ng-model="day.isSelected" ng-change="disableDays()" ng-disabled="day.disabled" />
				           	<label class="radio-label"
		                  	for="day-{$ day.htmlValue $}">
			             		{$ day.text $}
				           	</label>
					        </span>
								</td>
								<td>
									<select name="{$ day.htmlValue $}_start_time" ng-disabled="day.disabled || !day.isSelected">
										<option value="">Seleccionar...</option>
										<option value="9:00">9:00 AM</option>
										<option value="10:00">10:00 AM</option>
										<option value="11:00">11:00 AM</option>
										<option value="12:00">12:00 PM</option>
										<option value="13:00">1:00 PM</option>
										<option value="14:00">2:00 PM</option>
										<option value="15:00">3:00 PM</option>
										<option value="16:00">4:00 PM</option>
										<option value="17:00">5:00 PM</option>
										<option value="18:00">6:00 PM</option>
										<option value="19:00">7:00 PM</option>
										<option value="20:00">8:00 PM</option>
									</select>
								</td>
								<td>
									<select ng-model="day.hours" name="{$ day.htmlValue $}_weekly_sessions" ng-disabled="day.disabled || !day.isSelected" ng-options="item.value as item.text for item in plan.sessionNumbers">
										<option value="">Seleccionar...</option>
									</select>
								</td>
								<td>
									<select name="{$ day.htmlValue $}_workshop_activity" ng-disabled="day.disabled || !day.isSelected">
										<option value="">Selecionar...</option>
										<option ng-repeat="item in getMergedLists()" value="{$ item.id $}-{$ item.name $}" ng-show="item.isSelected">{$ item.name $}</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="box white summary-box">
				<div class="box-title">Resumen</div>
				<div class="box-content">
					<p>
						Taller(es) seleccionados: <span ng-repeat="item in plan.workshops"><span ng-if="item.isSelected">{$ item.name $}</span></span> <br>
						Actividad(es) seleccionados: <span ng-repeat="item in plan.activities"><span ng-if="item.isSelected">{$ item.name $}</span></span> <br>
						Número de sesiones semanales: <span></span> <br>
						Cantidad total de horas semanales: <span></span> <br>
						Detalle de día y hora: <span></span>
					</p>
				</div>
			</div>

			<button type="submit" class="emma-btn emma-btn-light plan-detail-submit-button">Siguiente</button>
		</form>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'lib/angular/angular.min.js' %}"></script>
<script src="{% static 'js/hiring-flow/app.js' %}"></script>
<script src="{% static 'js/hiring-flow/plan-detail.js' %}"></script>
{% endblock %}