{% extends "base.html" %}
{% load static from staticfiles%}
{% block content %}
<div id="hiring-flow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<div class="step active">1</div>
			<div class="step">2</div>
			<div class="step">3</div>
			<div class="step">4</div>
			<div class="step">5</div>
		</div>
	</div>
	<h1>Selecciona el plan</h1>
	<p>
		{% for plan in plans %}
			<p>
				<form action="." method="post">
					<h2>{{ plan.name }}</h2>
					{% csrf_token %}
					<input type="hidden" name="plan" value="{{ plan.id }}">
					<button type="submit">Seleccionar</button>
				</form>
			</p>
		{% endfor %}
</div>
{% endblock %}