{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div id="hiring-flow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<span class="step">1</span>
			<span class="step">2</span>
			<span class="step">3</span>
			<span class="step">4</span>
			<span class="step active">5</span>
		</div>
	</div>
	<div class="white-boxes-container comprobation-boxes">
		<div class="box white">
			<h2 class="box-title">Confirmación</h2>
			<div class="box-content">
				<div>
					<div class="info-section">
						{% if contract_service.service.allows_workshops and workshops|length > 0 %}
						<span class="line">
							<b>Taller(es) seleccionados:</b>
							<span class="line">
								{% for workshop in workshops %}
									{% if not forloop.last %}
										{{ workshop.name }},
									{% else %}
										{{ workshop.name }}
									{% endif %}
								{% endfor %}
							</span>
						</span>
						{% endif %}
						{% if contract_service.service.allows_activities and activities|length > 0 %}
						<span class="line">
							<b>Actividad(es) seleccionadas:</b>
							<span class="line">
								{% for activity in activities %}
									{% if not forloop.last %}
										{{ activity.name }},
									{% else %}
										{{ activity.name }}
									{% endif %}
								{% endfor %}
							</span>
						</span>
						{% endif %}
						<span class="line">
							<b>Días de la semana y horas:</b>
						</span>
						{% for day in contract_service.service_days.all %}
						<span class="line session">
							<b>Sesión {{ forloop.counter }}:</b>
							<span>
								{{ day.get_day_display }} {{ day.start_time }} | {{ day.duration }}
							</span>
						</span>
						{% endfor %}
					</div>
					<div class="info-section">
						<span class="line">
							<b>Género de preferencia:</b>
							<span>{{ contract_service.get_emma_type_display }}</span>
						</span>
						<span class="line">
							<b>Idioma(s):</b>
							<span>{{ contract_service.languages }}</span>
						</span>
						<span class="line">
							<b>Conocimientos y destrezas especiales:</b>
							<span class="line">{{ contract_service.knowledges }}{{ contract_service.skills }}</span>
						</span>
						<span class="line">
							<b>Certificaciones especiales:</b>
							<span class="line">{{ contract_service.certifications }}</span>
						</span>
					</div>
					<div class="info-section">
						<span class="line big">Resumen de pago</span>
						<span class="line">
							<span>Nombre del titular:</span>
							<span>{{ card.holder_name }}</span>
						</span>
						<span class="line">
							<span>Número de tarjeta:</span>
							<span>{{ card.card_number }}</span>
						</span>
						<span class="line">
							<span>Fecha de vencimiento:</span>
							<span>{{ card.expiration_month }}/{{ card.expiration_year}}</span>
						</span>
						<span class="line">
							<span>Monto:</span>
							<span>${{ contract_service.service.price }}<sup style="font-size:13px">MXN</sup></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a href="{% url 'landing:success_contract' %}" class="emma-btn emma-btn-light finish-button margin-top-50" style="display: inline-block">Finalizar</a>

</div>
{% endblock %}