{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div id="hiring-flow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<div class="step active">1</div>
			<div class="step">2</div>
			<div class="step">3</div>
			<div class="step">4</div>
			<div class="step">5</div>
		</div>
	</div>
	<h2 class="step-title">Tu Plan</h2>
	<p class="plans-introductory-text">
		Desde una hora de Emma con fines de entretenimiento hasta un plan
especializado con seguimiento geriátrico.
	</p>
	<p class="plans-introductory-text">
	Siempre encontrarás un plan acorde a las necesidades de tu ser querido:</p>
	<p>
	<div class="plans-selector">
		<form>
			{% csrf_token %}
			<input type="hidden" name="plan">
			{% for plan in plans %}
			<div class="plan-item">
				<span class="plan-title">{{ plan.name }}</span>
				<div class="plan-content-wrapper">
					<div class="plan-content">
						<span class="price">
						${{ plan.price|intcomma:False }}<sup class="sup">MXN</sup></span>
						<p class="description">
							Hasta {{ plan.max_hours_per_month }} hrs. de acompañamiento mensuales
						</p>
						<button data-plan="{{ plan.id }}" class="emma-btn emma-btn-light" type="submit">Seleccionar</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</form>
		<div class="plan-item custom">
			<span class="plan-title">Personalizado</span>
			<div class="plan-content-wrapper">
				<div class="plan-content">
					<p class="description">
						¿Te gustaría tener un plan a tu medida?
					</p>
					<a href="#" class="emma-btn emma-btn-light">Crealo aquí</a>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="emma-btn compare-plans-btn">Comparar planes</a>
	<div class="white-box">
		<div class="plans-table-container">
		</div>
		<div class="on-demand-container">
			<p>
				<span>Envíanos tu solicitud y pide una <i>Emma</i> por única vez</span>
				<a href="#" class="emma-btn emma-btn-light">Solicitar una Emma</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}