{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<div id="hiring-flow" ng-app="emmaHiringFlow">
	<div class="steps-box-wrapper">
		<div class="steps">
			<div class="step">1</div>
			<div class="step active">2</div>
			<div class="step">3</div>
			<div class="step">4</div>
			<div class="step">5</div>
		</div>
	</div>
	<h2 class="step-title">Detalles</h2>
	<h3 class="plan-type-title">Plan {{ service.service.name|lower }}</h3>
	{% if service.service.allows_workshops and service.service.allows_activities %}
	<div ng-controller="planDetailController" ng-init="init(true, true, {{ service.service.max_hours_per_month }}, {{ service.service.max_weekly_sessions }})">
	{% elif service.service.allows_workshops %}
	<div ng-controller="planDetailController" ng-init="init(true, false, {{ service.service.max_hours_per_month }}, {{ service.service.max_weekly_sessions }})">
	{% elif service.service.allows_activities %}
	<div ng-controller="planDetailController" ng-init="init(false, true, {{ service.service.max_hours_per_month }}, {{ service.service.max_weekly_sessions }})">
	{% else %}
	<div ng-controller="planDetailController" ng-init="init(false, false, {{ service.service.max_hours_per_month }}, {{ service.service.max_weekly_sessions }})">
	{% endif %}
		<form class="white-boxes-container plan-detail-boxes" action="." method="post">
			{% csrf_token %}

			{% if service.service.allows_workshops %}
			<div class="box white language-box">
				<div class="box-title">Selecciona tus talleres</div>
				<div class="box-content">
					<div class="workshops-list">
						{% for workshop in workshops %}
						<span class="radio-container workshop-item">
		          <input id="workshop-{{ workshop.id }}" class="radio-input"
		                 type="checkbox" value="{{ workshop.id }}"
		                 name="workshop" ng-model="plan.workshops[{{ forloop.counter0 }}].isSelected"
		                 data-workshop-name="{{ workshop.name }}" 
		                 ng-change="mergeLists()" />
		           <label class="radio-label"
		                  for="workshop-{{ workshop.id }}">
		             {{ workshop.name }}
		           </label>
		        </span>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

			{% if service.service.allows_activities %}
			<div class="box white">
				<div class="box-title">Selecciona tus actividades</div>
				<div class="box-content">
					<div class="activities-list">
						{% for activity in activities %}
						<span class="radio-container activity-item">
		          <input id="activity-{{ activity.id }}" class="radio-input"
		                 type="checkbox" value="{{ activity.id }}"
		                 name="workshop" ng-model="plan.activities[{{ forloop.counter0 }}].isSelected"
		                 data-activity-name="{{ activity.name }}" 
		                 ng-change="mergeLists()" />
		           <label class="radio-label"
		                  for="activity-{{ activity.id }}">
		             {{ activity.name }}
		           </label>
		        </span>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}

			<div class="box white">
				<div class="box-title">Selecciona tus horarios (te {$ 'queda'|pluralize:'':getHoursLeft():'n' $} {$ getHoursLeft()|pluralize:'time' $})</div>
				<div class="box-content">
					<div class="timetable-container">
						<table class="timetable">
							<tr>
								<th>Dia de la semana</th>
								<th>Hora de inicio</th>
								<th>Duracion de la sesión</th>
								<th>Taller o actividad</th>
							</tr>
							<tr ng-repeat="day in sessions">
								<td>
									<span class="radio-container activity-item">
					          <input id="day-{$ day.htmlValue $}" class="radio-input"
			                 type="checkbox" value="{$ day.htmlValue $}"
			                 name="{$ day.htmlValue $}_day" ng-model="day.selected" ng-change="disableDays(day)" ng-disabled="day.disabled" />
				           	<label class="radio-label"
		                  	for="day-{$ day.htmlValue $}">
			             		{$ day.dayName $}
				           	</label>
					        </span>
								</td>
								<td>
									<select ng-model="day.initialHour" class="emma-input" name="{$ day.htmlValue $}_start_time" ng-disabled="day.disabled || !day.selected" ng-options="item.htmlValue as item.text for item in schedules track by item.htmlValue">
										<option value="">Seleccionar...</option>
									</select>
								</td>
								<td>
									<select class="emma-input" ng-model="day.duration" name="{$ day.htmlValue $}_weekly_sessions" ng-disabled="day.disabled || !day.selected" ng-options="item.value as item.text for item in plan.sessionNumbers track by item.value" ng-change="disableDays(day)">
										<option value="">Seleccionar...</option>
									</select>
								</td>
								<td>
									<select ng-model="day.selectedWorkshop" class="emma-input" name="{$ day.htmlValue $}_workshop_activity" ng-disabled="day.disabled || !day.selected" ng-options="item.id+'-'+item.name as item.name for item in mergedLists track by item.id+'-'+item.name">
										<option value="">Selecionar...</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="box white summary-box">
				<div class="box-title">Resumen</div>
				<div class="box-content">
					<p>
						<span class="line">
							<b>Taller(es) y actividad(es) seleccionados:</b>
							<span class="line">
								<span ng-repeat="item in mergedLists">
									<span ng-if="item.isSelected">
										{$ item.name $}<span ng-if="!$last">, </span>
									</span>
								</span>
							</span>
						</span>
						<span class="line">
							<b>Número de sesiones semanales:</b>
							<span>{$ (sessions|filter:{selected:true}).length|pluralize:'session' $}</span>
						</span>
						<span class="line">
							<b>Cantidad total de horas semanales:</b>
							<span> {$ usedHours|pluralize:'time' $}</span>
						</span>
						<span class="line">
							<b>Detalle de día y hora:</b>
							<span class="line indented" ng-repeat="session in sessions | filter: {selected:true}">
								{$ session.dayName $}: {$ session.initialHour|timeFormat $} - {$ session.duration|pluralize:'time' $}
							</span>
						</span>
					</p>
				</div>
			</div>

			<button type="submit" class="emma-btn emma-btn-light plan-detail-submit-button">Siguiente</button>
		</form>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'lib/angular/angular.min.js' %}"></script>
<script src="{% static 'js/hiring-flow/app.js' %}"></script>
<script src="{% static 'js/hiring-flow/plan-detail.js' %}"></script>
{% endblock %}