{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

	<section class="contract-adult">
		<div class="row text-center contract-row-img">
			<div class="col-lg-8">
				<img src="{% static "img/pasos_3.png" %}" height="66px" width="749">
			</div>
		</div>
		<div class="row text-center contract-row-title">
			<div class="col-lg-6">
				<p class="contract-title">
					Información del adulto mayor
				</p>
				<p class="contract-subtitle">
					Ingresa los datos en el siguiente formulario:
				</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-7">
				<form class="contract-adult-form" action="."
              method="post" id="contract-adult-form">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6">
							{{ form.name }}
							{% if form.name.errors %}
								<label class="error nowrap-lg">
									{{ form.name.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-6">
							{{ form.last_name }}
							{% if form.last_name.errors %}
								<label class="error nowrap-lg">
									{{ form.last_name.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-adult-form-desc">
				        Fecha de Nacimiento:
			        </p>
		        </div>
	        </div>
					<div class="row">
						<div class="col-lg-5">
							{{ form.birthday }}
							{% if form.birthday.errors %}
								<label class="error nowrap-lg">
									{{ form.birthday.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-adult-form-desc">
				        Háblanos del adulto mayor:
			        </p>
		        </div>
	        </div>
					<div class="row">
	          <div class="col-lg-12">
	            {{ form.description }}
		          {% if form.description.errors %}
								<label class="error nowrap-lg">
									{{ form.description.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
	          </div>
	        </div>
					<div class="row">
	          <div class="col-lg-12">
	            {{ form.familiar_structure }}
		          {% if form.familiar_structure.errors %}
								<label class="error nowrap-lg">
									{{ form.familiar_structure.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
	          </div>
	        </div>
					<div class="row">
	          <div class="col-lg-12">
	            {{ form.personality }}
		          {% if form.personality.errors %}
								<label class="error nowrap-lg">
									{{ form.personality.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
	          </div>
	        </div>
					<div class="row form-loader">
						<div class="col-lg-12">
			        <div id="movingBallG">
								<div class="movingBallLineG"></div>
								<div id="movingBallG_1" class="movingBallG"></div>
							</div>
			      </div>
					</div>
					<div class="row text-center">
	          <div class="col-xs-10 col-sm-6 col-md-6 col-lg-2">
	            <a href="{% url 'services:contract_location' %}"
	               class="emma-btn-dark contract-location-btn">
		            Regresar
	            </a>
            </div>
	          <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
              <input type="submit" value="Continuar"
                     class="emma-btn-dark contract-location-btn-2" />
            </div>
          </div>
				</form>
			</div>
		</div>
	</section>

{% endblock %}