{% extends "clients/dashboard_base.html" %}
{% load humanize %}
{% load static from staticfiles %}
{% block content %}
<div id="hiring-flow">
  <div class="steps-box-wrapper">
    <div class="steps">
      <a href="{% url 'services:contract_plan' %}" class="step previous" title="Ir al paso 1">1</a>
      <a href="{% url 'services:contract_details' %}" class="step previous" title="Ir al paso 2">2</a>
      <a href="{% url 'services:contract_emma' %}" class="step previous" title="Ir al paso 3">3</a>
      <span class="step active">4</span>
      <span class="step">5</span>
    </div>
  </div>
  <h2 class="step-title">Pago</h2>
  <div style="margin-top: 12px">
    <b>Total a pagar: </b>
    <span>${{ service_price|intcomma:False }}<sup style="font-size: 12px">MXN</sup></span>
  </div>
  <span class="payment-legend">Ingresa tus datos en el siguiente formulario:</span>
	<form action="." method="post" id="contract-pay-form" name="contract-pay-form">
      {% csrf_token %}
      <input type="hidden" name="token_id" id="token_id" />
      <div class="row">
        <input type="text" name="customer_name"
               data-openpay-card="holder_name" required
               placeholder="Nombre titular"
               class="emma-input col-md-12 margin-top-40" />
        <input type="text" name="card_number"
               data-openpay-card="card_number" required
               placeholder="Número de tarjeta"
               class="emma-input col-md-12 margin-top-10" />
      </div>
      <span class="form-inner-span">Fecha de vencimiento</span>
      <div class="row multiple-inputs">
        <input type="text" name="card_month"
             data-openpay-card="expiration_month"
             placeholder="Mes" required
             size="2" maxlength='2'
             class="emma-input col-md-3" />
        <input type="text" name="card_year"
             data-openpay-card="expiration_year"
             placeholder="Año" required
             size="2" maxlength='2'
             class="emma-input col-md-3" />
        <input type="text" name="card_cvc"
             data-openpay-card="cvv2" required
             placeholder="CVC"
             class="emma-input col-md-3 margin-top-10" />
      </div>

      <input type='hidden' name='devsessionid' id='devsessionid'>

      <div class="row text-center padding-top-30 form-loader">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-50">
          <div id="movingBallG">
            <div class="movingBallLineG"></div>
            <div id="movingBallG_1" class="movingBallG"></div>
          </div>
        </div>
      </div>

      <button type="button" id="contract-pay-button" class="emma-btn emma-btn-light payment-button">Pagar</button>

			<p id="contract-pay-alert" style="display: none;">
				La tarjeta fue declinada
			</p>

    </form>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
<script>
	$(document).ready(function() {
	  OpenPay.setId('mg0kzdwsiduimlfaudun');
	  OpenPay.setApiKey('pk_106c640a77f94dd49bae11cf94937075');
	  OpenPay.setSandboxMode(true);
		OpenPay.deviceData.setup("contract-pay-form", "devsessionid");
	});
	var success_callbak = function(response) {
		console.log("Bien echo");
		var token_id = response.data.id;
		$('#token_id').val(token_id);
		$('#contract-pay-alert').hide();
		$('#contract-pay-form').submit();
	};

	var error_callbak = function(response) {
		console.log("Error");
		$('#contract-pay-alert').show();
    $('#contract-pay-form .form-loader').hide();
    $('#contract-pay-button').removeAttr('disabled');
	};
	$('#contract-pay-button').on('click', function(event) {
		$('#contract-pay-alert').hide();
    $('#contract-pay-form .form-loader').show();
    $('#contract-pay-button').attr('disabled', 'disabled');
		OpenPay.token.extractFormAndCreate(
			'contract-pay-form', success_callbak, error_callbak
		);
});
</script>
{% endblock %}