{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

	<section class="contract-location">
		<div class="row text-center contract-row-img">
			<div class="col-lg-8">
				<img src="{% static "img/pasos_3.png" %}">
			</div>
		</div>
		<div class="row text-center contract-row-title">
			<div class="col-lg-6">
				<p class="contract-title">
					Datos del servicio
				</p>
				<p class="contract-subtitle">
					Ingresa tus datos en el siguiente formulario:
				</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-lg-7">
				<div class="col-lg-8 col-lg-offset-2 contract-location-row-content">
					<div class="contract-location-header">
						<span class="radio-container">
	            <input class="radio-input"
	                   type="radio" checked readonly
	                   name="contract-service" required>
	             <label class="radio-label contract-location-header-radio-label">
	             </label>
	          </span>
						<span class="contract-location-header-title">
							{{ service }}
	          </span>
	          <span class="contract-location-header-price">
	            ${{ service.price }} <br> por hora
	          </span>
					</div>
					<div class="contract-location-body">
						{% for workshop in workshops %}
							<span class="radio-container contract-location-body-radio-cont">
		            <input id="workshop_{{ workshop.id }}" class="radio-input"
		                   type="checkbox" value="{{ workshop.id }}"
		                   name="contract-service-workshop" checked disabled
		                   data-service="{{ workshop.service.id }}">
		             <label class="radio-label contract-location-body-radio-label"
		                    for="workshop_{{ workshop.id }}">
			             {{ workshop.name }}
		             </label>
		          </span>
						{% endfor %}
					</div>
				</div>
				{% if form.non_field_errors %}
					<label class="error">
            {{ form.non_field_errors.as_text|cut:"*" }}
          </label>
				{% endif %}
				<form class="contract-location-form" action="."
              method="post" id="contract-location-form">
					{% csrf_token %}
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-location-form-desc">
				        Datos de dirección:
			        </p>
		        </div>
	        </div>
					<div class="row">
						<div class="col-lg-6">
							{{ form.street }}
							{% if form.street.errors %}
								<label class="error nowrap-lg">
									{{ form.street.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-3">
							{{ form.num_ext }}
							{% if form.num_ext.errors %}
								<label class="error nowrap-lg">
									{{ form.num_ext.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-3">
							{{ form.num_int }}
							{% if form.num_int.errors %}
								<label class="error nowrap-lg">
									{{ form.num_int.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							{{ form.colony }}
							{% if form.colony.errors %}
								<label class="error nowrap-lg">
									{{ form.colony.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-5">
							{{ form.delegation }}
							{% if form.delegation.errors %}
								<label class="error nowrap-lg">
									{{ form.delegation.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-3">
							{{ form.cp }}
							{% if form.cp.errors %}
								<label class="error nowrap-lg">
									{{ form.cp.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					<div class="row">
	          <div class="col-lg-12">
	            {{ form.address_reference }}
		          {% if form.address_reference.errors %}
								<label class="error nowrap-lg">
									{{ form.address_reference.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
	          </div>
	        </div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-location-form-desc">
				        Información del servicio:
			        </p>
		        </div>
	        </div>
					<!--
					<div class="row">
						<div class="col-lg-6">
							{{ form.hours_per_week }}
							{% if form.hours_per_week.errors %}
								<label class="error nowrap-lg">
									{{ form.hours_per_week.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					-->
					<div class="row">
						<div class="col-lg-4">
							{{ form.day_1 }}
							{% if form.day_1.errors %}
								<label class="error nowrap-lg">
									{{ form.day_1.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-4">
							{{ form.day_1_hour }}
							{% if form.day_1_hour.errors %}
								<label class="error nowrap-lg">
									{{ form.day_1_hour.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-2">
							{{ form.day_1_morning }}
							{% if form.day_1_morning.errors %}
								<label class="error nowrap-lg">
									{{ form.day_1_morning.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					{% if request.session.days_per_service > 1 %}
						<div class="row">
							<div class="col-lg-4">
								{{ form.day_2 }}
								{% if form.day_2.errors %}
									<label class="error nowrap-lg">
										{{ form.day_2.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-4">
								{{ form.day_2_hour }}
								{% if form.day_2_hour.errors %}
									<label class="error nowrap-lg">
										{{ form.day_2_hour.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-2">
								{{ form.day_2_morning }}
								{% if form.day_2_morning.errors %}
									<label class="error nowrap-lg">
										{{ form.day_2_morning.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
						</div>
					{% endif %}
					{% if request.session.days_per_service > 2 %}
						<div class="row">
							<div class="col-lg-4">
								{{ form.day_3 }}
								{% if form.day_3.errors %}
									<label class="error nowrap-lg">
										{{ form.day_3.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-4">
								{{ form.day_3_hour }}
								{% if form.day_3_hour.errors %}
									<label class="error nowrap-lg">
										{{ form.day_3_hour.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-2">
								{{ form.day_3_morning }}
								{% if form.day_3_morning.errors %}
									<label class="error nowrap-lg">
										{{ form.day_3_morning.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
						</div>
					{% endif %}
					{% if request.session.days_per_service > 3 %}
						<div class="row">
							<div class="col-lg-4">
								{{ form.day_4 }}
								{% if form.day_4.errors %}
									<label class="error nowrap-lg">
										{{ form.day_4.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-4">
								{{ form.day_4_hour }}
								{% if form.day_4_hour.errors %}
									<label class="error nowrap-lg">
										{{ form.day_4_hour.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-2">
								{{ form.day_4_morning }}
								{% if form.day_4_morning.errors %}
									<label class="error nowrap-lg">
										{{ form.day_4_morning.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
						</div>
					{% endif %}
					{% if request.session.days_per_service > 4 %}
						<div class="row">
							<div class="col-lg-4">
								{{ form.day_5 }}
								{% if form.day_5.errors %}
									<label class="error nowrap-lg">
										{{ form.day_5.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-4">
								{{ form.day_5_hour }}
								{% if form.day_5_hour.errors %}
									<label class="error nowrap-lg">
										{{ form.day_5_hour.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-2">
								{{ form.day_5_morning }}
								{% if form.day_5_morning.errors %}
									<label class="error nowrap-lg">
										{{ form.5_morning.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
						</div>
					{% endif %}
					{% if request.session.days_per_service > 5 %}
						<div class="row">
							<div class="col-lg-4">
								{{ form.day_6 }}
								{% if form.day_6.errors %}
									<label class="error nowrap-lg">
										{{ form.day_6.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-4">
								{{ form.day_6_hour }}
								{% if form.day_6_hour.errors %}
									<label class="error nowrap-lg">
										{{ form.day_6_hour.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-2">
								{{ form.day_6_morning }}
								{% if form.day_6_morning.errors %}
									<label class="error nowrap-lg">
										{{ form.day_6_morning.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
						</div>
					{% endif %}
					{% if request.session.days_per_service > 6 %}
						<div class="row">
							<div class="col-lg-4">
								{{ form.day_7 }}
								{% if form.day_7.errors %}
									<label class="error nowrap-lg">
										{{ form.day_7.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-4">
								{{ form.day_7_hour }}
								{% if form.day_7_hour.errors %}
									<label class="error nowrap-lg">
										{{ form.day_7_hour.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
							<div class="col-lg-2">
								{{ form.day_7_morning }}
								{% if form.day_7_morning.errors %}
									<label class="error nowrap-lg">
										{{ form.day_7_morning.errors.as_text|cut:"*" }}
									</label>
			          {% endif %}
							</div>
						</div>
					{% endif %}
					<div class="row">
            <div class="col-lg-3 contract-location-row-day-btn">
              <button class="emma-btn-dark contract-location-day-btn"
                      type="button" id="add_day">
	              <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Agregar un dia
              </button>
            </div>
						{% if request.session.days_per_service > 1 %}
							<div class="col-lg-3 contract-location-row-day-btn">
	              <button class="emma-btn-dark contract-location-day-btn"
	                      type="button" id="remove_day">
		              <i class="fa fa-minus-circle" aria-hidden="true"></i>
	                Quitar un dia
	              </button>
	            </div>
						{% endif %}
          </div>
					<div class="row contract-location-1-loader">
						<div class="col-lg-10">
			        <div id="movingBallG">
								<div class="movingBallLineG"></div>
								<div id="movingBallG_1" class="movingBallG"></div>
							</div>
			      </div>
					</div>
					<div class="row contract-location-row-days-error">
						<div class="col-lg-3">
							<label class="error">
								No puedes agregar mas dias
							</label>
						</div>
					</div>
					<div class="row">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			        <p class="contract-location-form-desc">
				        Fecha de inicio del servicio
			        </p>
		        </div>
	        </div>
					<div class="row">
						<div class="col-lg-4">
							{{ form.start_date }}
							{% if form.start_date.errors %}
								<label class="error nowrap-lg">
									{{ form.start_date.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-4">
							{{ form.start_time }}
							{% if form.start_time.errors %}
								<label class="error nowrap-lg">
									{{ form.start_time.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
						<div class="col-lg-2">
							{{ form.morning }}
							{% if form.morning.errors %}
								<label class="error nowrap-lg">
									{{ form.morning.errors.as_text|cut:"*" }}
								</label>
		          {% endif %}
						</div>
					</div>
					<div class="row contract-location-2-loader">
						<div class="col-lg-12">
			        <div id="movingBallG">
								<div class="movingBallLineG"></div>
								<div id="movingBallG_1" class="movingBallG"></div>
							</div>
			      </div>
					</div>
					{% if form.non_field_errors %}
						<div class="alert alert-danger login-alert" role="alert">
							{{ form.non_field_errors.as_text|cut:"*" }}
						</div>
					{% endif %}
					<div class="row text-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button class="emma-btn-dark login-btn">
                Continuar
              </button>
            </div>
          </div>
				</form>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}
	<script type="text/javascript">

		window.onload = function() {
			// sessionStorage.clear();
      var day_1 = sessionStorage.getItem('day_1');
      if (day_1 !== null) $('#id_day_1').val(day_1);

			var day_1_hour = sessionStorage.getItem('day_1_hour');
      if (day_1_hour !== null) $('#id_day_1_hour').val(day_1_hour);

			var day_1_morning = sessionStorage.getItem('day_1_morning');
      if (day_1_morning !== null) $('#id_day_1_morning').val(day_1_morning);

			{% if request.session.days_per_service > 1 %}
				var day_2 = sessionStorage.getItem('day_2');
	      if (day_2 !== null) $('#id_day_2').val(day_2);

				var day_2_hour = sessionStorage.getItem('day_2_hour');
	      if (day_2_hour !== null) $('#id_day_2_hour').val(day_2_hour);

				var day_2_morning = sessionStorage.getItem('day_2_morning');
	      if (day_2_morning !== null) $('#id_day_2_morning').val(day_2_morning);
			{% endif %}

			{% if request.session.days_per_service > 2 %}
				var day_3 = sessionStorage.getItem('day_3');
	      if (day_3 !== null) $('#id_day_3').val(day_3);

				var day_3_hour = sessionStorage.getItem('day_3_hour');
	      if (day_3_hour !== null) $('#id_day_3_hour').val(day_3_hour);

				var day_3_morning = sessionStorage.getItem('day_3_morning');
	      if (day_3_morning !== null) $('#id_day_3_morning').val(day_3_morning);
			{% endif %}

			{% if request.session.days_per_service > 3 %}
				var day_4 = sessionStorage.getItem('day_4');
	      if (day_4 !== null) $('#id_day_4').val(day_4);

				var day_4_hour = sessionStorage.getItem('day_4_hour');
	      if (day_4_hour !== null) $('#id_day_4_hour').val(day_4_hour);

				var day_4_morning = sessionStorage.getItem('day_4_morning');
	      if (day_4_morning !== null) $('#id_day_4_morning').val(day_4_morning);
			{% endif %}

			{% if request.session.days_per_service > 4 %}
				var day_5 = sessionStorage.getItem('day_5');
	      if (day_5 !== null) $('#id_day_5').val(day_5);

				var day_5_hour = sessionStorage.getItem('day_5_hour');
	      if (day_5_hour !== null) $('#id_day_5_hour').val(day_5_hour);

				var day_5_morning = sessionStorage.getItem('day_5_morning');
	      if (day_5_morning !== null) $('#id_day_5_morning').val(day_5_morning);
			{% endif %}

			{% if request.session.days_per_service > 5 %}
				var day_6 = sessionStorage.getItem('day_6');
	      if (day_6 !== null) $('#id_day_6').val(day_6);

				var day_6_hour = sessionStorage.getItem('day_6_hour');
	      if (day_6_hour !== null) $('#id_day_6_hour').val(day_6_hour);

				var day_6_morning = sessionStorage.getItem('day_6_morning');
	      if (day_6_morning !== null) $('#id_day_6_morning').val(day_6_morning);
			{% endif %}

			{% if request.session.days_per_service > 6 %}
				var day_7 = sessionStorage.getItem('day_7');
	      if (day_7 !== null) $('#id_day_7').val(day_7);

				var day_7_hour = sessionStorage.getItem('day_7_hour');
	      if (day_7_hour !== null) $('#id_day_7_hour').val(day_7_hour);

				var day_7_morning = sessionStorage.getItem('day_7_morning');
	      if (day_7_morning !== null) $('#id_day_7_morning').val(day_7_morning);
			{% endif %}
    };

		window.onbeforeunload = function() {
      sessionStorage.setItem("day_1", $('#id_day_1').val());
      sessionStorage.setItem("day_1_hour", $('#id_day_1_hour').val());
      sessionStorage.setItem("day_1_morning", $('#id_day_1_morning').val());

			{% if request.session.days_per_service > 1 %}
				sessionStorage.setItem("day_2", $('#id_day_2').val());
        sessionStorage.setItem("day_2_hour", $('#id_day_2_hour').val());
        sessionStorage.setItem("day_2_morning", $('#id_day_2_morning').val());
			{% endif %}

			{% if request.session.days_per_service > 2 %}
				sessionStorage.setItem("day_3", $('#id_day_3').val());
        sessionStorage.setItem("day_3_hour", $('#id_day_3_hour').val());
        sessionStorage.setItem("day_3_morning", $('#id_day_3_morning').val());
			{% endif %}

			{% if request.session.days_per_service > 3 %}
				sessionStorage.setItem("day_4", $('#id_day_4').val());
        sessionStorage.setItem("day_4_hour", $('#id_day_4_hour').val());
        sessionStorage.setItem("day_4_morning", $('#id_day_4_morning').val());
			{% endif %}

			{% if request.session.days_per_service > 4 %}
				sessionStorage.setItem("day_5", $('#id_day_5').val());
        sessionStorage.setItem("day_5_hour", $('#id_day_5_hour').val());
        sessionStorage.setItem("day_5_morning", $('#id_day_5_morning').val());
			{% endif %}

			{% if request.session.days_per_service > 5 %}
				sessionStorage.setItem("day_6", $('#id_day_6').val());
        sessionStorage.setItem("day_6_hour", $('#id_day_6_hour').val());
        sessionStorage.setItem("day_6_morning", $('#id_day_6_morning').val());
			{% endif %}

			{% if request.session.days_per_service > 6 %}
				sessionStorage.setItem("day_7", $('#id_day_7').val());
        sessionStorage.setItem("day_7_hour", $('#id_day_7_hour').val());
        sessionStorage.setItem("day_7_morning", $('#id_day_7_morning').val());
			{% endif %}
    };

    $('#add_day').on("click", function () {

	    var days = {{ request.session.days_per_service }};

	    if (days >= 7) {
		    $('.contract-location-row-days-error').show()
	    } else {
		    $('.contract-location-1-loader').show();
		    $.ajax({
	        url: '/contratar/agregar-dia/',
	        type: 'POST',
	        data: {
	          csrfmiddlewaretoken: '{{ csrf_token }}'
	        }
	      })
	      .done(function (data) {
	        location.reload();
	      })
	      .fail(function (data) {
	      })
	    }
    });

		$('#remove_day').on("click", function () {
			$('.contract-location-1-loader').show();
      $.ajax({
        url: '/contratar/remover-dia/',
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
      })
      .done(function (data) {
        location.reload();
      })
      .fail(function (data) {
      })
    });

		$('#id_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_1_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_2_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_3_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_4_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_5_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_6_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});

		$('#id_day_7_morning').click(function () {
				if ($(this).val() == 'AM') {
						$(this).val('PM');
				} else if ($(this).val() == 'PM') {
						$(this).val('AM');
				}
		});
	</script>
{% endblock %}