{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="es_ES">
  <head>
    <title>Emma: Acompañamiento con propósito</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
                   user-scalable=no" />
    <meta name="description"
          content="Emma es un servicio de acompañamiento a adultos de la
          tercera edad. Premio Nacional del Estudiante Emprendedor de
          Entrepreneurs Organization (EO)"/>
    <meta name="keywords"
          content="emma, fernanda sottil, permio nacional el estudiante
          emprendedor, acompañantes de la tercera edad, emma acompañantes de
          la tercera edad, fernanda sottil ganadora del premio estudiante
          emprendedor, Para que tu ser querido no pierda sus pasatiempos
          favoritos, acompañamiento, tercera, edad, tercera edad, miemma, mi
          emma, mi emma fernanda sottil"/>

    <meta property="og:site_name" content="Emma">
    <meta property="og:locale" content="en_MX"/>
    <meta property="og:locale:alternate" content="es_US"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://miemma.com/">
    <meta property="og:title"
          content="Emma: Acompañamiento con propósito"/>
    <meta property="og:description"
          content="Emma es un servicio de acompañamiento a adultos de la
          tercera edad. Premio Nacional del Estudiante Emprendedor de
          Entrepreneurs Organization (EO)"/>
    <meta name="format-detection" content="telephone=no">

    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}"
          rel="stylesheet"/>
    <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}"
          rel="stylesheet"/>
    <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css"
          media="screen"/>
    <link rel="shortcut icon" type="image/x-icon"
          href="{% static "img/favicon.png" %}"/>
	  {% block fbpixel %}
    {% endblock %}
  </head>
  <body>
    <div class="container-overflow">
    {% include "base/contact.html" %}
    {% include "base/header.html" %}

    {% block content %}
    {% endblock content %}

		{% include "base/footer.html" %}

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/efects.js' %}"></script>
    <script type="text/javascript">
	    $( "#contactForm" ).submit(function( event ) {
			  window._fbq.push(['track', 'Lead']);
		    return true
			});
    </script>
    {% block js %}
    {% endblock %}
    </div>
  </body>
</html>
