/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px)

  .signup
    &-btn
      font-size 21px
      display: block;
      padding 6px 21px
      margin 1.5em auto 6.5em auto

    &-btn-2
      font-size 21px
      display: block;
      padding 6px 21px
      margin 1em auto 6.5em auto