{% extends "clients/dashboard_base.html" %}
{% load age_filter_tag %}
{% load static from staticfiles %}
{% block content %}
<div class="dashboard">
{% include "clients/dashboard_menu.html" %}
  <div class="dashboard-content">
		<form action="." method="post" enctype="multipart/form-data" class="dashboard-special-form">
			<div class="dashboard-box adult-profile-box white">
	      <div class="adult-profile-box-picture">
	      	<div class="adult-picture-container form-image circle" style="background-image: url('{{ adult.photo.url }}')">
	      		<div class="hide">
							{{ adultform.photo }}
	      		</div>
	      		<label for="id_photo" class="circle hide">Cambiar</label>
	      	</div>
	      </div>
	      <div class="adult-profile-box-data">
	        <div class="dashboard-box-title small border">
	          <h2 class="input-container flex multiple-fields">
	          	<div class="fields-container hide">
	          		{{ adultform.first_name }}
	          		{{ adultform.last_name }}
							</div>
							<span class="value-container">
		          	{{ adultform.first_name.value }} 
		          	{{ adultform.last_name.value }}
	          	</span>
	          </h2>
	          <div class="dashboard-box-title-button cancel-button hide">
	            cancelar
	          </div>
	          <div class="dashboard-box-title-button edit-button">
	            editar
	          </div>
	          <button type="submit" id="adult_form" name="adult_form" class="dashboard-box-title-button send-button hide">
	            guardar
	          </button>
	        </div>
	        <div class="dashboard-box-content margin-top-30 margin-bottom-20">
	        	{% if messages %}
							<ul class="messages">
								{% for message in messages %}
									<li id="message_{{ forloop.counter }}"
										{% if message.tags %} class="{{ message.tags }}" {% endif %}>
										{{ message }}
									</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% csrf_token %}
						<div class="input-container multiple-fields select-container flex">
							<div class="fields-container hide">
								<span>Fecha de nacimiento: </span>
								{{ adultform.birthday }}
							</div>
							<div class="value-container">
								<span>Edad: </span>
								{{ adultform.birthday.value|age }}
							</div>
						</div>
						<div class="input-container multiple-fields flex">
							<div class="fields-container hide">
								<span>Dirección: </span>
	          		{{ adultform.street }} 
	          		{{ adultform.num_ext }} 
								{{ adultform.num_int }}
							</div>
							<span class="value-container">
								<span>Dirección: </span>
								{{ adultform.street.value }}
								{{ adultform.num_ext.value }}
								{{ adultform.num_int.value }}
	          	</span>
						</div>
						<div class="input-container flex select-container">
							<div class="fields-container hide">
								<span>Delegación: </span>
								{{ adultform.delegation }}
							</div>
							<div class="value-container">
								<span>Delegación: </span>
								{{ adultform.delegation.value|default_if_none:"" }}
							</div>
						</div>
						<div class="input-container flex">
							<span>Colonia: </span>
							{{ adultform.colony }}
						</div>
						<div class="input-container flex">
							<span>C.P. </span>
							{{ adultform.postal_code }}
						</div>
						<div class="input-container flex textarea-container">
							<div class="fields-container hide">
								<span>Referencias: </span>
								{{ adultform.reference }}
							</div>
							<div class="value-container">
								<span>Referencias: </span>
								{{ adultform.reference.value|default_if_none:"" }}
							</div>
						</div>
	        </div>
	      </div>
    	</div>
    </form>
    <form action="." method="post" class="dashboard-special-form">
	    <div class="dashboard-box margin-top-20">
	    	<div class="dashboard-box-title small border">
	    		<div class="col-md-11 col-sm-11 col-xs-11 centered-col padding-0 flex">
						<h2>Información personal</h2>
						<div class="dashboard-box-title-button cancel-button hide">
	            cancelar
	          </div>
	          <div class="dashboard-box-title-button edit-button">
	            editar
	          </div>
	          <button type="submit" id="adult_form" name="adult_form" class="dashboard-box-title-button send-button hide">
	            guardar
	          </button>
					</div>
	    	</div>
	    	<div class="dashboard-box-content">
	    		<div class="col-md-11 col-sm-11 col-xs-11 centered-col padding-top-30 padding-bottom-20">
	    			<b>Estructura familiar/condición:</b> <br>

	    			<b>Personalidad:</b> <br> 
	    		</div>
	    		<div class="dashboard-box-title small internal-title border">
	    			<div class="col-md-11 col-sm-11 col-xs-11 centered-col padding-0">
	    				<h2>Intereses y pasatiempos</h2>
	    			</div>
	    		</div>
	    		<div class="col-md-11 col-sm-11 col-xs-11 centered-col padding-top-30 padding-bottom-30 adult-hobbies">
						{% for hobbie in adult.adulthobbie_set.all %}
						<p class="adult-hobbie-item">
							{{ hobbie.hobbie }}
						</p>
						{% endfor %}
	    		</div>
	    	</div>
	    </div>
	  </form>
		<form action="." method="post" class="dashboard-special-form">
			{% csrf_token %}
			<div class="dashboard-box margin-top-20">
	    	<div class="dashboard-box-title small border">
	    		<div class="col-md-11 col-sm-11 col-xs-11 centered-col padding-0 flex">
						<h2>Información médica</h2>
						<div class="dashboard-box-title-button cancel-button hide">
	            cancelar
	          </div>
	          <div class="dashboard-box-title-button edit-button">
	            editar
	          </div>
	          <button type="submit" id="adult_form" name="adult_form" class="dashboard-box-title-button send-button hide">
	            guardar
	          </button>
					</div>
	    	</div>
	    	<div class="dashboard-box-content">
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Información básica
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Contactos de emergencia
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Ley de voluntad anticipada
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Seguro de gastos médicos mayores
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Seguridad social
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Médico de cabecera
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    		<div class="dashboard-toggle-list">
	    			<div class="dashboard-toggle-list-title">
	    				<div class="col-md-11 col-sm-11 col-xs-11 centered-col flex">
	    					<h3 class="flex-grow-1">
		    					Enfermedades, medicamentos y alergias
		    				</h3>
		    				<img class="dashboard-toggle-list-button" height="10px" src="{% static "img/icons/arrow-down.png" %}" alt="">
	    				</div>
	    			</div>
	    			<div class="dashboard-toggle-list-content">
	    				aa
	    			</div>
	    		</div>
	    	</div>
	    </div>
		</form>
						<form action="." method="post" enctype="multipart/form-data">
							
							{{ medicalform.as_p }}
							<button type="submit" name="medical_form">Guardar</button>
						</form>
  </div>
</div>
{% endblock %}
