<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pantalla de vista de detalle del adulto</title>
</head>
<body>
	<h3>
		Formulario de informacion del adulto mayor
	</h3>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li id="message_{{ forloop.counter }}"
					{% if message.tags %} class="{{ message.tags }}" {% endif %}>
					{{ message }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form action="." method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ adultform.as_p }}
		<button type="submit">Guardar</button>
	</form>

	{% if success %}
		<h1>Exito en el form</h1>
	{% endif %}
</body>
</html>