{% extends 'base.html' %}

{% block content %}
	<section class="passwd">
    <h1 class="passwd-title">
      Cambia tu contraseña
    </h1>
		<div class="row text-center">
			<div class="col-md-6">
				{% if form.non_field_errors %}
					<div class="alert alert-danger passwd-alert" role="alert">
						{{ form.non_field_errors.as_text|cut:"*" }}
					</div>
				{% endif %}
			</div>
		</div>
    <div class="row text-center">
      <div class="col-md-6">
        <form class="passwd-form" action="../users" method="post">
	        {% csrf_token %}
	        {{ form.new_password_1 }}
	        {% if form.new_password_1.errors %}
            <div class="alert alert-danger passwd-alert" role="alert">
              {{ form.new_password_1.errors.as_text|cut:"*" }}
            </div>
          {% endif %}
          {{ form.new_password_2}}
	        {% if form.new_password_2.errors %}
            <div class="alert alert-danger passwd-alert" role="alert">
              {{ form.new_password_2.errors.as_text|cut:"*" }}
            </div>
          {% endif %}
          <div class="row text-center">
            <div class="col-xs-10 col-sm-8 col-md-5 col-lg-5">
              <button type="submit" class="emma-btn emma-btn-dark passwd-btn">
                Actualizar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}