{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
  <section class="success">
    <div class="row text-center success-row-icon">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <img src="{% static 'img/icons/check.png' %}"
             alt="success" class="img-check center-block img-responsive"/>
      </div>
    </div>
    <div class="row text-center success-row-desc">
        <div class="col-lg-7">
          <p class="success-desc">
	          Tu contraseña ha sido reestablecida, inicia sesión con tu nueva
	          contraseña
          </p>
        </div>
    </div>
    <div class="row text-center success-row-btn">
      <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
        <a href="{% url 'users:login' %}"
           class="emma-btn emma-btn-dark success-btn">
          Inicia Sesion
        </a>
      </div>
    </div>
  </section>
{% endblock content %}
