{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <section class="signup">
    <h1 class="signup-title">
      Recupera tu Contraseña
    </h1>
	  <div class="row text-center">
		  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
				{% if form.non_field_errors %}
					<div class="alert alert-danger signup-alert" role="alert">
						{{ form.non_field_errors.as_text|cut:"*" }}
					</div>
				{% endif %}
			</div>
	  </div>
    <div class="row text-center">
      <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
        <form class="signup-form" action="." method="post" id="signup-form">
          {% csrf_token %}
	        {{ form.email }}
	        {% if form.email.errors %}
            <div class="alert alert-danger signup-alert" role="alert">
              {{ form.email.errors.as_text|cut:"*" }}
            </div>
          {% endif %}
          <div class="row text-center padding-top-30 reser-loader">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="movingBallG">
								<div class="movingBallLineG"></div>
								<div id="movingBallG_1" class="movingBallG"></div>
						</div>
            </div>
          </div>
	        <div class="row text-center">
	          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	            <button class="emma-btn-dark login-btn">
	              Enviar
	            </button>
	          </div>
	        </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}