{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <section class="passwd-reset">
    {% if validlink %}
	    <h1 class="passwd-reset-title">
	      Establece tu nueva contraseña
	    </h1>
		  <div class="row text-center">
			  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
					{% if form.non_field_errors %}
						<div class="alert alert-danger passwd-reset-alert" role="alert">
							{{ form.non_field_errors.as_text|cut:"*" }}
						</div>
					{% endif %}
				</div>
		  </div>
	    <div class="row text-center">
	      <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10">
	        <form class="passwd-reset-form" action="." method="post" id="passwd-reset-form">
	          {% csrf_token %}
		        {{ form.new_password1 }}
		        {% if form.new_password1.errors %}
	            <div class="alert alert-danger passwd-reset-alert" role="alert">
	              {{ form.new_password1.errors.as_text|cut:"*" }}
	            </div>
	          {% endif %}
	          {{ form.new_password2 }}
		        {% if form.new_password2.errors %}
	            <div class="alert alert-danger passwd-reset-alert" role="alert">
	              {{ form.new_password2.errors.as_text|cut:"*" }}
	            </div>
	          {% endif %}
	          <div class="row text-center padding-top-30 passwd-reset-loader">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	              <div id="movingBallG">
									<div class="movingBallLineG"></div>
									<div id="movingBallG_1" class="movingBallG"></div>
							</div>
	            </div>
	          </div>
		        <div class="row text-center">
		          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		            <button class="emma-btn-dark passwd-reset-btn">
		              Enviar
		            </button>
		          </div>
		        </div>
	        </form>
	      </div>
	    </div>
    {% else %}
	    <h1>Password reset unsuccessful</h1>
	    <p>The password reset link was invalid, <br />
	    possibly because it has already been used. <br />
	    Please request a new password reset.</p>
    {% endif %}
  </section>
{% endblock %}