.contract-location
  background-color #f3f3f4
  overflow-x hidden
  overflow-y auto

  &-form
    margin-top 1em
    &-area
      width 100%
      font-size 18px
      padding 1em
      resize none
      margin 0.4em 0
      color $dark_gray
    &-input
      font-size 19px
      padding 0.7em
      width 100%
      margin 0.4em auto
      &-morning
        color $dark_gray
        text-align center
    &-select
      text-align center
      font-size 16px
      padding 0.7em
      width 100%
      height 53.59px
      margin 0.4em auto
    &-desc
      font-family "Avenir LT Std Heavy"
      font-size 16px
      color $dark_gray
      margin 1em 0 1em 0
      text-align left
