.contract-signup
  background-color #f3f3f4
  overflow-x hidden
  overflow-y auto

  &-row-title
    margin-top 90px

  &-loader
    display none

  &-btn
    font-size 21px
    display: block;
    padding 6px 21px
    margin 3.5em auto 5em auto