.contract
  background-color #f3f3f4
  overflow-x hidden
  overflow-y auto

  &-loader
    display none

  &-contract-form
    position relative

  &-row-img
    margin-top 190px

  &-row-content
    margin-bottom 50px

  &-btn
    font-size 21px
    display: block;
    padding 6px 21px
    margin 4em auto 5em auto

  &-row-title
    margin-top 90px

  &-title
    font-family "Avenir LT Std Heavy"
    font-size 28px
    color #6f6f70

  &-subtitle
    font-family "Avenir LT Std Medium"
    font-size 20px
    color #6f6f70

  &-header
    background-color white
    padding 1.5em
    border-radius 5px
    margin-top 30px
    &-title
      font-family "Avenir LT Std Heavy"
      font-size 20px
      color $dark_gray
      display inline-block
      margin-left 10px
      width 40%
    &-price
      color $purple
      font-size 20px
      display inline-block
      float right

    &-radio-label
      margin-top 10px

    &-radio-label::before
      border solid 3px #B3B3B3
      width 35px
      height 35px
      font-size 30px
      line-height 35px

  &-row-body
    padding-bottom 200px
  &-body
    margin-top 30px
    &-radio-cont
      display block
      width 100%
      margin-left 50px
      text-align center
      font-size 17px
    &-radio-label
      margin 5px 0
    &-radio-label::before
      border solid 2px #B3B3B3
      width 19px
      height 19px
      font-size 18px
      line-height 19px

