.about-section__cover
  background-image url(../img/about-cover.png)
  background-size cover
  background-position center
  min-height 100vh

.about-detail
  overflow-x hidden
  overflow-y auto
  margin-bottom 6.5em

  &-cover
    margin-top $header_height
  &-p
    font-family "Avenir LT Std Roman"
    font-size 19px
    color $gray
    display block
    width 80%
    margin 2em auto
    text-align justify
  &-title
    font-family "Avenir LT Std Heavy"
    font-size 37px
    text-align center
    margin-top 0.7em
    margin-bottom 0.9em
    font-weight bold
  &-subtitle
    font-family "Avenir LT Std Medium"
    font-size 30px
    text-align center
    width 90%
    margin 2.5em auto 0 auto
