.about-section__cover
  background-image url(../img/about-cover.png)
  background-size cover
  background-position center
  display flex
  align-items center
  justify-content flex-start
  padding remify(80) 10%
  color white
  margin-top 65px

.about-section__cover-text
  flex-basis 100%
  line-height 1
  max-width 592px

.about-section__cover-title
  margin 0
  font-size remify(25)
  font-family 'Avenir LT Std Heavy'
  margin-bottom remify(8)

.about-section__cover-paragraph
  font-family 'Avenir LT Std Medium'
  font-size remify(17.5)
  margin-top remify(23)
  line-height 1.13
  text-align justify

  strong
    font-family 'Avenir LT Std Heavy'

.about-section__mentors
  line-height 1
  text-align center
  center-block()
  width 90%
  padding remify(56) 0 remify(30) 0

.about-section__mentors-title
  center-block()
  max-width 301px
  font-family 'Avenir LT Std Heavy'
  font-size remify(25)
  color #4a4a4a

.about-section__mentors-grid
  display flex
  flex-wrap wrap
  justify-content space-around
  center-block()
  max-width 860px
  margin-top remify(20)

.about-section__mentors-element
  background #f5f5f5
  flex-basis 239px
  margin-top remify(23)
  padding remify(10) remify(10) remify(27) remify(10)
  border-radius 4px

.about-section__mentors-element__image
  height 219px

.about-section__mentors-element__name
  font-size remify(18)
  font-family 'Avenir LT Std Heavy'
  color #575656
  margin-top remify(20)

@media screen and (max-width: 658px)
  .about-section__cover
    padding remify(60) 10%

  .about-section__cover-title
    text-align center
