.landing-video-section
  height calc(((9/16) * 100vw) - 125px)
  max-height calc(100vh - 125px - 86px)
  overflow hidden
  position relative
  margin-top 86px
  
  .embed-responsive
    position relative
    
  video
    background-image url('../img/video_poster.jpg')
    background-position center
    background-size cover
    
  .layer
    background rgba(black, 0.2)
    height 100%
    left 0
    position absolute
    right 0
    top 0
    z-index 2
    
  .text-container
    position relative
    top 50%
    transform translateY(calc(-50%))

.info-1
  background-image url("../img/cover_1.png")
  background-size cover
  height calc(100vh - 125px)
  color #fff
  overflow-x hidden
  overflow-y auto
  position relative
  
  .info-text-container
    left 0
    position absolute
    top 50%
    transform translateY(calc(-50% + 40px))
    width 100%

  &-title
    font-size 51px
    text-align center
    font-weight bold
    color white
    line-height 61px
    font-family 'Avenir LT Std Medium'

  &-subtitle
    font-size 22px
    color white
    font-family 'Avenir LT Std Roman'

  &-btn
    padding 10px 5px
    font-size 21px
    width 73%
    margin 0 auto
    display block

  &-btn-pay
    padding 10px 5px
    font-size 24px
    width 73%
    margin 0 auto
    display block

  &-row
    &-subtitle
      margin-top 2em
    &-btn
      padding-top 10px
      margin 4em 0 0 0


.mentions
  background-color #f0f0f1
  padding 2em 0

  &-0
    height 38px
    display block
    margin 0 auto
  &-1
    height 19px
    display block
    margin 0px 15px 0 auto
  &-2
    height 19px
    display block
    margin 0 auto
  &-3
    height 19px
    display block
    margin 0px auto 0 auto

  &-col
    margin 0 15px
    vertical-align middle

  &-title
    font-size 20px
    color $dark_gray
    text-align center
    padding 2.5em 0 2em 0
    font-family 'Avenir LT Std Medium'


.video-banner
  background-color $light_gray
  &-row
    margin 0 auto
    max-width 640px
    padding 4em 0

.services
  background-color white
  overflow-x hidden
  overflow-y auto

  &-title
    font-size 37px
    color $gray
    text-align center
    text-transform none
    font-family 'Avenir LT Std Heavy'

  &-cont-title
    font-size 21px
    color $yellow
    text-align center
    height 60px
    display flex
    justify-content center
    align-items center
    margin 10px 0 15px 0
    font-family 'Avenir LT Std Heavy'

  &-cont-description
    font-size 21px
    color $gray
    text-transform none
    width 90%
    margin 0 auto
    display block
    font-family 'Avenir LT Std Roman'

  &-separator
    img
      width 15%
      margin-top 12.5px

  &-row-title-icon
    margin-top: 70px
  &-row-title
    margin-top 30px
  &-row-content
    margin-top 50px
    margin-bottom 120px


.info-2
  background-image url("../img/cover_2.png")
  background-size cover
  background-attachment fixed
  min-height 530px
  display flex
  justify-content center
  align-items center
  overflow-x hidden
  overflow-y auto

  &-content
    font-size 43px
    color $white
    text-align center
    width 100%
    line-height 47px
    font-family 'Avenir LT Std Medium'

  &-row
    margin-top 50px


.how
  background-color white
  text-align center
  overflow-x hidden
  overflow-y auto

  &-title
    font-family 'Avenir LT Std Heavy'
    font-size 37px
    color $dark_gray
    text-align center

  &-subtitle
    font-family 'Avenir LT Std Heavy'
    font-size 17.5px
    line-height 30px
    color $dark_gray
    vertical-align text-top
    min-height 70px
    width 90%
    margin 1.5em auto 0 auto
    display flex
    justify-content center
    align-items flex-start
    &-second
      width 85%

    &-last
      width 77%
      display inline-block

  &-img
    height 60px
    width auto
    margin 0 auto
    display block

  &-desc
    font-family 'Avenir LT Std Heavy'
    font-size 15px
    color $dark_gray
    padding-top 2em
    width 80%
    margin 0 auto
    line-height 28px

    &-last
      width 90%

  &-btn
    font-size 19px
    width 60%
    margin 0 auto
    display block
    padding 0.7rem 0


  &-row-content
    margin-top 100px

  &-row-title
    margin-top 100px
    margin-bottom 20px

  &-row-btn
    margin 5em auto 7em auto


.benefits
  background-color $white
  padding-bottom 2em
  overflow-x hidden
  overflow-y auto
  &-btn
    font-size 19px
    width 60%
    margin 0 auto
    display block
    padding 0.7rem 0
  &-row-btn
    display none
    margin-top 50px
    margin-bottom 50px

  &-1
    margin-right 70px
  &-2
    margin-left 40px

  &-title
    font-family 'Avenir LT Std Heavy'
    font-size 37px
    color $dark_gray
    text-align center

  &-content-title
    font-family "Avenir LT Std Heavy"
    font-size 24px
    margin-left 35px
    color $dark_gray
    text-align left

  &-content-list
    list-style none
    text-align left

    &-item
      padding 0.3rem
      min-height 50px
      cursor auto

      &-img
        display inline-block
        height auto
        width 7%
        vertical-align top
        margin-right 13px

        img
          width 100%
          height 100%

      span
        display inline-block
        font-size 19px
        font-family "Avenir LT Std Roman"
        color $dark_gray
        width 85%
        align-content center
        vertical-align middle
        min-height 35px
        position relative
        top 25%

  &-row-title-icon
    margin-top 60px

  &-row-title
    margin-top 20px

  &-row-content
    margin 80px 0 70px 0
    cursor auto !important


.whois
  &-title
    font-family "Avenir LT Std Heavy"
    font-size 37px
    color $dark_gray
    text-align center
    text-transform none

  &-desc
    text-align left
    font-family "Avenir LT Std Roman"
    font-size 22px
    color $dark_gray
    width 95%
    margin-left 47px
    padding-bottom 30px

  &-list
    list-style none
    text-align left
    padding 5.5rem 0 5rem 11.7rem
    width 110%

    &-item
      padding 0.3rem
      vertical-align middle
      min-height 30px

      span
        display inline-block
        font-size 19px
        font-family "Avenir LT Std Roman"
        color #575656
        width 80%
        vertical-align middle

      &-img
        display inline-block
        height 20px
        vertical-align top
        margin-right -21px

        img
          width 100%
          height 100%

  &-btn
    font-size 19px
    width 90%
    display block
    margin 0 auto auto -1.8em
    padding 0.7rem

  &-image
    display inline-block
    width 100%
    margin-left 2rem
    margin-top -2em

    img
      height 100%
      width 100%

    figcaption
      font-family "Avenir LT Std Roman"
      font-size 17px
      text-align left
      color $gray
      margin-top 10px


  &-allies-title
    text-align center
    font-family "Avenir LT Std Roman"
    font-size 19px
    color $gray
    border-top 1px solid $gray
    padding 60px 0 40px 0
    margin 0

  &-img
    &-1
    &-2
    &-3
    &-5
      height 50px
      display block
      margin 0 auto
    &-4
      height 43px
      display block
      margin 0 auto

    &:nth-child(4)
      height 40px

  &-row-title
    margin 115px 0 60px 0

#benefitscollapse
  cursor pointer

@media screen and (max-width: 1100px)
  .landing-video-section
    margin-top 65px

    .layer
      height 100%
      top 0