.landing-video-section
  height calc(((9/16) * 100vw) - 125px)
  max-height calc(100vh - 125px - 86px)
  min-height 40vh
  overflow hidden
  position relative
  margin-top 86px

  .embed-responsive
    position relative

  video
    background-image url('../img/video_poster.jpg')
    background-position center
    background-size cover

  .layer
    background rgba(black, 0.2)
    height 100%
    left 0
    position absolute
    right 0
    top 0
    z-index 2

  .text-container
    position relative
    top 50%
    transform translateY(calc(-50%))

.landing-testimonial
  font-size remify(18)
  text-align center
  margin-top remify(55)

.landing-testimonial__title
  font-family 'Avenir LT Std Heavy'
  center-block()
  color #808080
  font-size inherit
  width 90%

.landing-testimonial__gray-box
  center-block()
  margin-top remify(13)
  background #f5f5f5
  font-size inherit
  max-width 660px
  width 90%
  padding remify(12)

.landing-testimonial__subtitle
  color #575656
  display block
  padding-top remify(12)

.landing-diagram-section,
.about-section__diagram
  text-align center

  p
    font-size remify(15)
    line-height 1.33
    font-family 'Avenir LT Std Medium'
    color #808080
    width 80%
    center-block()

.landing-diagram-section
  background #f5f5f5
  padding remify(35) 0 remify(42) 0

  p
    max-width 838px
    margin-top remify(25)

.landing-diagram-section__title
  font-family 'Avenir LT Std Heavy'
  color #808080
  font-size remify(25)
  width 90%
  center-block()

.landing-diagram
  border solid 3px #f7c42a
  border-radius 50%
  height 233px
  width 248px
  position relative
  margin-top remify(100)
  margin-bottom remify(60)
  center-block()

.landing-diagram__icon-label
  display block
  position absolute
  font-size remify(18)
  font-family 'Avenir LT Std Heavy'
  color #4a4a4a
  line-height 1

.landing-diagram__icon-item
  position absolute

  &:first-child, &:nth-child(3)
    left 50%
    transform translateX(-50%)

  &:nth-child(2), &:last-child
    top 50%
    transform translateY(-50%)

  &:first-child
    top -25px

    .landing-diagram__icon-label
      left 50%
      top -13px
      transform translate(-50%, -100%)
      width 180px

  &:nth-child(2)
    right -25px

    .landing-diagram__icon-label
      right -17px
      top 50%
      transform translate(100%, -50%)
      width 118px
      text-align left

  &:nth-child(3)
    bottom -25px

    .landing-diagram__icon-label
      bottom -15px
      left 50%
      transform translate(-50%, 100%)
      width 180px

  &:last-child
    left -25px

    .landing-diagram__icon-label
      left -10px
      top 50%
      transform translate(-100%, -50%)
      width 145px

.info-1
  background-image url("../img/cover_1.png")
  background-size cover
  height calc(100vh - 125px)
  color #fff
  overflow-x hidden
  overflow-y auto
  position relative

  .info-text-container
    left 0
    position absolute
    top 50%
    transform translateY(calc(-50% + 40px))
    width 100%

  &-title
    font-size remify(48)
    text-align center
    font-weight bold
    color white
    line-height 1.1
    font-family 'Avenir LT Std Medium'

  &-subtitle
    font-size remify(20)
    color white
    font-family 'Avenir LT Std Roman'
    line-height 1.18

  &-btn
    padding 1em 1.3em
    font-family 'Avenir LT Std Heavy'
    font-size remify(18)
    max-width 310px
    margin 0 auto
    line-height 1
    display inline-block

  &-btn-pay
    padding 10px 5px
    font-size 24px
    width 73%
    margin 0 auto
    display block

  &-row
    &-subtitle
      margin-top 2em
    &-btn
      padding-top 10px
      margin 4em 0 0 0

.mentions
  background-color #f0f0f1
  padding 2em 0

  > div
    text-align center

  img
    display inline-block

  &-0
    height 38px
  &-1
    height 19px
  &-2
    height 19px
  &-3
    height 19px

  &-col
    margin 0 15px
    vertical-align middle

  &-title
    font-size 20px
    color $dark_gray
    text-align center
    padding 2.5em 0 2em 0
    font-family 'Avenir LT Std Medium'

.video-banner
  background-color $light_gray
  &-row
    margin 0 auto
    max-width 640px
    padding 4em 0

.services
  background-color white
  overflow-x hidden
  overflow-y auto


  &-title
    font-size 37px
    color $gray
    text-align center
    text-transform none
    font-family 'Avenir LT Std Heavy'

  &-cont-title
    font-size remify(22)
    color $yellow
    text-align center
    line-height 1
    display flex
    justify-content center
    align-items center
    margin 10px 0 15px 0
    font-family 'Avenir LT Std Heavy'

  &-cont-description
    font-size remify(16.5)
    line-height 1.38
    color $gray
    text-transform none
    width 90%
    max-width 287px
    margin 0 auto
    margin-top remify(46)
    display block
    font-family 'Avenir LT Std Roman'

  &-separator
    img
      width 11px
      margin-top 0

  &-row-title-icon
    margin-top: 70px
  &-row-title
    margin-top 30px
  &-row-content
    margin 0 auto
    margin-top remify(50)
    margin-bottom remify(72)
    max-width 1180px

.info-2
  background-image url("../img/cover_2.png")
  background-size cover
  background-attachment fixed
  min-height 530px
  display flex
  justify-content center
  align-items center
  overflow-x hidden
  overflow-y auto

  &-content
    font-size 43px
    color $white
    text-align center
    width 100%
    line-height 47px
    font-family 'Avenir LT Std Medium'

  &-row
    margin-top 50px

.landing-how__container
  width 90% !important
  max-width 990px

.how-col.col-md-4
  @media (min-width: 992px)
    width 30%

.how-col.col-sm-4
  @media (min-width: 768px)
    width 30%

.how-col
  vertical-align top

.how
  background-color white
  text-align center
  overflow-x hidden
  overflow-y auto
  padding-bottom remify(57)

  &-title
    text-align center
    font-size remify(25)
    color #808080
    font-family 'Avenir LT Std Heavy'

  &-subtitle
    font-family 'Avenir LT Std Heavy'
    font-size remify(22)
    color $dark_gray
    vertical-align text-top
    width 90%
    margin 1em auto 0 auto
    display flex
    justify-content center
    align-items flex-start
    &-second
      width 100%

    &-last
      width 77%
      display inline-block

  &-img
    height remify(65)
    width auto
    margin 0 auto
    display block

  &-desc
    font-family 'Avenir LT Std Medium'
    font-size remify(16)
    color #808080
    padding-top remify(21)
    width 90%
    margin 0 auto
    line-height 1

    &-last
      width 90%

  &-btn
    font-size 19px
    width 60%
    margin 0 auto
    display block
    padding 0.7rem 0

  &-row-content
    margin-top remify(55)

  &-row-title
    margin-top remify(36)

  &-row-btn
    margin 5em auto 7em auto

.benefits
  background-color $white
  padding-bottom 2em
  overflow-x hidden
  overflow-y auto
  &-btn
    font-size 19px
    width 60%
    margin 0 auto
    display block
    padding 0.7rem 0
  &-row-btn
    display none
    margin-top 50px
    margin-bottom 50px

  &-1
    margin-right 70px
  &-2
    margin-left 40px

  &-title
    font-family 'Avenir LT Std Heavy'
    font-size 37px
    color $dark_gray
    text-align center

  &-content-title
    font-family "Avenir LT Std Heavy"
    font-size 24px
    margin-left 35px
    color $dark_gray
    text-align left

  &-content-list
    list-style none
    text-align left

    &-item
      padding 0.3rem
      min-height 50px
      cursor auto

      &-img
        display inline-block
        height auto
        width 7%
        vertical-align top
        margin-right 13px

        img
          width 100%
          height 100%

      span
        display inline-block
        font-size 19px
        font-family "Avenir LT Std Roman"
        color $dark_gray
        width 85%
        align-content center
        vertical-align middle
        min-height 35px
        position relative
        top 25%

  &-row-title-icon
    margin-top 60px

  &-row-title
    margin-top 20px

  &-row-content
    margin 80px 0 70px 0
    cursor auto !important

.whois-carousel
  margin-top 10px

  .carousel-indicators
    bottom remify(-15)
    transform translateY(100%)
    z-index 2

    li
      box-sizing border-box
      border solid 1px #9b9b9b
      width 9px
      height 9px
      margin 1px

      &.active
        background #d8d8d8

  .fa-angle-left
    left remify(34)

  .fa-angle-right
    right remify(34)

.whois-carousel, .landing-mentions-carousel
  .fa-angle-left,
  .fa-angle-right
    color #f7c42a
    font-size remify(48)
    position absolute
    top 50%
    transform translateY(-50%)

.whois-carousel__item
  &[data-emma-type="frank"] .whois-carousel__item-photo
    position relative
    z-index 1

    &::before
      content 'Frank'
      background $yellow
      color white
      display block
      position absolute
      font-family 'Avenir LT Std Heavy'
      padding 0.5em 2.5em
      right remify(-10)
      bottom remify(20)
      z-index 2

    &::after
      content ' '
      background $yellow
      width remify(20)
      height remify(10)
      right remify(-8.5)
      display block
      position absolute
      bottom remify(14)
      z-index -1
      transform rotate(-25deg)

.whois-carousel__item-content
  display flex
  align-items flex-end
  justify-content space-around
  max-width 900px
  margin 0 auto

.whois-carousel__item-box
  background white
  max-width 456px
  flex-basis 90%
  text-align left
  font-family 'Avenir LT Std Medium'
  line-height 1.08
  margin-top remify(37)

.whois-carousel__item-box-title
  font-size remify(21)
  padding remify(22) remify(29) remify(12) remify(29)

.whois-carousel__item-box-content
  border-top 1px #e5e5e5 solid
  padding remify(22) remify(52) remify(40) remify(29)
  font-size remify(16)

.whois-carousel__item-line
  display block

  &.whois-carousel__item-line--separator
    margin-top 1em

.whois-image-img
  height 287px

.whois-footer
  padding-top remify(65)

  .emma-btn
    display inline-block
    font-size remify(18)
    padding remify(19) remify(35)
    font-family 'Avenir LT Std Heavy'
    line-height 1
    vertical-align middle

  span
    display inline-block
    vertical-align middle
    font-size remify(13)
    font-family 'Avenir LT Std Medium'
    margin-left remify(18)
    width 130px
    color #808080
    line-height 1
    text-align left

.whois
  background #f4f4f4
  padding remify(42) 0
  text-align center
  color #808080

  &-title
    font-family "Avenir LT Std Heavy"
    font-size remify(25)
    text-transform none
    center-block()
    width 90%

  &-desc
    font-family "Avenir LT Std Medium"
    font-size remify(16)
    width 90%
    margin-top remify(22)
    max-width 554px
    line-height 1
    center-block()

  &-list
    list-style none
    text-align left
    padding 5.5rem 0 5rem 11.7rem
    width 110%

    &-item
      padding 0.3rem
      vertical-align middle
      min-height 30px

      span
        display inline-block
        font-size 19px
        font-family "Avenir LT Std Roman"
        color #575656
        width 80%
        vertical-align middle

      &-img
        display inline-block
        height 20px
        vertical-align top
        margin-right -21px

        img
          width 100%
          height 100%

  &-btn
    font-size 19px
    width 90%
    display block
    margin 0 auto auto -1.8em
    padding 0.7rem

  &-image
    display inline-block
    width 100%
    margin-left 2rem
    margin-top -2em

    img
      height 100%
      width 100%

    figcaption
      font-family "Avenir LT Std Roman"
      font-size 17px
      text-align left
      color $gray
      margin-top 10px


  &-allies-title
    text-align center
    font-family "Avenir LT Std Heavy"
    font-size 19px
    color $gray
    padding 60px 0 40px 0
    margin 0

  &-img
    &-1
    &-2
    &-3
    &-5
      height 50px
      display block
      margin 0 auto
    &-4
      height 43px
      display block
      margin 0 auto

    &:nth-child(4)
      height 40px

  &-row-title
    margin 115px 0 60px 0

.landing-mentions-carousel
  .fa-angle-left
    left remify(71)

  .fa-angle-right
    right remify(71)

.landing-mentions-carousel-section
  padding remify(68) 0

.landing-mentions-carousel__item
  text-align center

.landing-mentions-carousel__quote
  color #808080
  font-size remify(18)
  line-height 1.22
  max-width 592px
  width 90%
  font-style italic
  center-block()

.landing-mentions-carousel__img
  margin-top remify(50)
  max-width 120px !important
  display inline-block !important

.landing-agend-call
  color #808080
  padding-bottom remify(38)

.landing-agend-call__main-div
  display flex
  width 90%
  max-width 1000px
  center-block()
  text-align center
  align-items center
  justify-content space-around

.landing-agend-call__title
  font-size remify(20)
  font-family 'Avenir LT Std Medium'

.landing-agend-call__left-column
  flex-basis 375px

  p
    font-size remify(14)
    line-height 1.43
    color #9b9b9b
    margin-top remify(32)

.landing-agend-call__right-column
  flex-basis 452px

  .embed-responsive
    padding-bottom 84%

.landing-agend-call__buttons
  margin-top remify(60)

  .emma-btn
    display inline-block
    padding 1em
    font-family 'Avenir LT Std Heavy'
    line-height 1
    padding remify(12.5) remify(14)
    width remify(163)
    font-size remify(15)
    margin-top remify(12)

    &:not(:first-child)
      margin-left remify(22)

.landing-agend-call__address
  display block
  font-size remify(14)
  line-height 1.29
  margin-top remify(18)

#benefitscollapse
  cursor pointer

.home-modal
  line-height 1

  .form-loader
    height 19px
    width 70%
    center-block()
    margin-bottom remify(60)

  .close
    float none
    opacity 1
    position absolute
    right -10px
    top -10px
    transform translate(100%, -100%)
    outline none

    img
      width 26px

  .modal-content
    margin-top 60px

#call-modal, #appointment-modal, #customplan-modal
  .modal-dialog
    margin 10px auto
    width 90% !important

  .modal-content
    background #f5f5f5

  .modal-header
    padding 0 10px

  .modal-body
    display flex
    justify-content space-around
    flex-wrap wrap
    padding-top 0
    padding-bottom 0
    center-block()

  .modal-title
    font-size remify(18)
    font-family 'Avenir LT Std Medium'

  .emma-btn
    font-size remify(15)
    font-family 'Avenir LT Std Heavy'
    padding remify(12.5) remify(50)

  input, select
    &.error
      text-align left
      color gray

#call-modal
  .modal-dialog
    max-width 720px

  .modal-title
    padding remify(40) 0 remify(20) 0

  .modal-body
    max-width 660px

  .call-modal__right-column
    max-width 250px

  .modal-footer
    padding-top remify(49)
    padding-bottom remify(42)

#appointment-modal
  .modal-dialog
    max-width 855px

  .modal-title
    padding remify(30) 0 remify(10) remify(0)

  .modal-body
    justify-content flex-end
    padding 0

  .modal-footer
    padding-top remify(40)
    padding-bottom remify(25)

  .call-modal__left-column
    margin-right remify(18)

  .call-modal__right-column
    max-width 483px
    color #808080
    font-family 'Avenir LT Std Medium'
    text-align center

  .call-modal__time
    margin-top 0
    border-radius 0 0 5px 5px

  .call-modal__time,
  .call-modal__calendar
    width 250px
    center-block()

  .table-condensed
    border-radius 5px 5px 0 0

.call-modal__left-column
  margin-top remify(20)
  border-radius 4px
  background #e5e5e5
  flex-basis 100%
  max-width 323px
  padding remify(12) remify(9) remify(15) remify(9)

  .input-wrapper
    width 100%

    &:not(:first-child)
      margin-top remify(7)

  .emma-input
    border-radius 0
    font-size remify(17)
    padding remify(15) remify(20) remify(10) remify(20)
    display block
    width 100%

  textarea
    height remify(122)

.appointment-modal__toggle-trigger
  display block
  text-decoration underline
  color #4a4a4a
  font-family 'Avenir LT Std Heavy'
  font-size remify(15)
  margin-top remify(20)
  text-align center
  cursor pointer
  overflow hidden

.call-modal__right-column
  margin-top remify(20)
  flex-basis 100%

.call-modal__time
  background white
  margin-top remify(24)
  padding remify(24) remify(35)

.call-modal__time-inner
  text-align center

  strong
    font-family 'Avenir LT Std Heavy'

  div.emma-input
    display inline-block
    width 80px
    margin-left remify(13)
    padding-left remify(7)
    padding-right remify(7)

    .input-wrapper
      position relative

    label.error
      position absolute
      left -.4375rem
      bottom -.4375rem
      padding 0
      transform translate(-25px, 170%)

    input.error
      display initial
      padding 0
      color #9b9b9b
      text-align center

    .hour-input
      padding-right 8px !important

    .minute-input
      padding-left 8px !important

  .emma-input.date-input
    width 37px
    text-transform lowercase
    font-family 'Avenir LT Std Heavy'
    color #9b9b9b
    display inline-block
    margin-left 2px
    padding-left remify(5)
    padding-right remify(5)

  div.emma-input,
  .emma-input.date-input
    border solid 1px #e5e5e5
    font-size remify(15)
    border-radius 0
    padding-top remify(7)
    padding-bottom remify(7)

#call-confirmation-modal, #appointment-confirmation-modal, #customplan-confirmation-modal
  .modal-dialog
    max-width 498px

  .modal-body
    padding remify(35) remify(23) remify(37) remify(23)
    text-align center
    font-size remify(17)
    color #4a4a4a
    font-family 'Avenir LT Std Heavy'
    line-height 1.53

.confirmation-modal__text--yellow
  color #f4b921

.emma-modal__check
  margin-bottom remify(43)
  text-align center
  font-size remify(15)
  max-width 301px
  center-block()
  line-height 1.2
  color #4a4a4a
  font-family 'Avenir LT Std Heavy'

.call-confirmation-modal--bottom-text
  display block
  margin-top remify(49)
  font-size remify(15)
  center-block()
  max-width 301px

.call-confirmation-modal__photo
  width remify(150)
  margin-top remify(22)

#appointment-confirmation-modal
  .modal-body
    padding-bottom remify(62)

@media screen and (max-width: 1100px)
  .landing-video-section
    margin-top 65px

    .layer
      height 100%
      top 0

@media screen and (max-width: 918px)
  #appointment-modal
    .modal-body
      justify-content space-around
      font-family 'Avenir LT Std Medium'
      text-align center

    .call-modal__left-column
      margin-left 10px
      margin-right 10px

    .call-modal__time
      padding remify(24) remify(25)

@media screen and (max-width: 900px)
  .home-modal .close
    right 0
    transform translateY(-100%)

@media screen and (max-width: 830px)
  .whois-carousel, .landing-mentions-carousel
    .fa-angle-left
      left 3.5%

    .fa-angle-right
      right 3.5%