/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 700px) and (orientation: portrait)
  .landing-video-section
    .col-xs-9
      width 91.6%

    .col-xs-6
      width 72%

@media screen and (max-width: 600px)
  .landing-video-section
    .desktop-content
      display none

    .mobile-content
      display block

      .emma-btn-dark
        display block
        width 280px
        center-block()
        font-family 'Avenir LT Std Heavy'
        margin-top 10px

  .homepage-hero__mobile-title
    font-family 'Avenir LT Std Heavy'
    font-size 24px

  .homepage-hero__mobile-subtitle
    font-size 18px
    font-family 'Avenir LT Std Heavy'
    margin-top 8px
    display block
    line-height 1.3

  .homepage-hero__mobile-paragraph
    margin-top 13px
    margin-bottom 20px

  .landing-mentions-carousel
    .fa-angle-left,
    .fa-angle-right
      display none

@media screen and (max-width: 1023px)
  .landing-agend-call__main-div
    flex-wrap wrap
    justify-content center

  .landing-agend-call__left-column,
  .landing-agend-call__right-column
    flex-basis 90%

  .landing-agend-call__left-column
    margin-top remify(40)

  .landing-agend-call__right-column
    margin-top remify(30)

@media screen and (max-width: 768px)
  .how-col:not(:first-child)
    margin-top remify(35)

  .how-col .how-desc
    width 100%
    max-width 320px

@media screen and (max-width: 850px)
  .whois-carousel
    margin-top 0

  .whois-carousel__item-content
    justify-content center
    flex-wrap wrap

  .whois-carousel__item-box
    margin-top -100px
    padding-top 100px
    z-index 1

  .whois-carousel__item-box-title
    text-align center

  .whois-carousel__item-box-content
    padding-right remify(29)

  .whois-carousel__item-photo
    order -1
    z-index 2

  .whois-image-img
    height 190px
    border-radius 50%
    border 5px $yellow solid

  .whois-carousel__item[data-emma-type="frank"]
    .whois-carousel__item-photo:after
      display none
      content ''

  .whois-carousel
    .fa-angle-left,
    .fa-angle-right
      top calc(50% + 50px)

@media screen and (max-width: 480px)
  .landing-agend-call__buttons .emma-btn
    display block
    center-block()

    &:not(:first-child)
      margin-left auto

@media screen and (max-width: 390px)
  .whois-footer
    span
      display block
      center-block()
      text-align center
      margin-top remify(18)

@media screen and (max-width: 600px)
  .landing-diagram
    display flex
    flex-wrap wrap
    justify-content space-around
    border none
    width 90%
    height auto
    max-width 430px
    margin-bottom remify(24)
    margin-top remify(30) !important

  .landing-diagram__icon-label,
  .landing-diagram__icon-item
    position relative
    left initial !important
    top initial !important
    bottom initial !important
    right initial !important
    transform none !important

  .landing-diagram__icon-label
    display none

  .landing-diagram__icon-item
    flex-basis 40%
    margin-top remify(25)

@media screen and (max-width: 767px)
  .landing-video-section
    background-image url('../img/home-responsive-cover.jpg')
    background-position center
    background-size cover
    height auto
    min-height 50vh
    max-height 95vh
    display flex

    .layer
      height initial
      padding 15px 0
      position static
      display flex
      align-items center
      top 0
      background rgba(black, 0.4)

    .text-container
      padding 15px 0
      top 0
      transform none

    .embed-responsive, video
      display none

  .info-1
    background-position right -189px bottom 0px
    &-title
      font-size 29px
      letter-spacing -1px
      line-height 1.05
    &-row-btn
      margin-top 2em

  .mentions
    &-title
      padding 52px 0 0 0
    &-col
      margin 1em 0
      &:nth-child(1), &:nth-child(2)
        margin-bottom 2em
      &:nth-child(odd)
        margin-right -7px
      &:nth-child(even)
        margin-left -7px
      img
        margin 0 auto

  .services
    &-separator
      transform: rotate(90deg);
      margin -70px 0
      text-align center

      img
        margin remify(25) 0

    img
      width 17%

    &-row-content
      margin-bottom 60px

    &-cont-description
      margin-top remify(20)

  .info-2
    background-attachment local
    min-height 420px
    &-content
      font-size 29px
      line-height 35px
      margin-top 0.4em
    &-row
      margin-top 25px

  .benefits
    &-row-btn
      display block
    &-1
      margin 0
    &-2
      margin 5em 0 0 0
    &-content-title
      margin 16px auto
      text-align center

    &-content-list
      padding 0
      width 100%
      margin 0 auto
    &-row-content
       margin 0px 0px 70px

  .whois-list-item-img
    margin-right 0px
    width 40px

  .footer
    text-align center
    &-col
      &:nth-child(n+2)
        margin-top 30px
    &-join
      padding 0
    &-join-principal
    &-join-second
      text-align center
      margin-top 0.5em

    &-join-principal
      width 100%

    &-btn
      margin 1em auto

    &-social-terms
      p
        display inline-block
        width 30%
        font-family "Avenir LT Std Medium"
        font-size 15px
        color $gray
        margin 0 1em

    &-info
      padding 0
      &-text
        margin 1em auto 0 auto
        text-align center
        width 80%
      &-phone
        text-align center
        margin-top 2em

  .footer-info-list
    text-align center

  .footer-info-list-item
    display inline-block
    margin 1em 1em 0 1em
    width auto
    vertical-align middle
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 992px)
  .mentions
    &-col
      &:nth-child(n+3)
        margin-top 4em

  .services
    &-separator
      transform: rotate(90deg);
      margin -90px 0
      text-align center

    img
      width 10%

  .info-2
    background-attachment local
    min-height 420px
    &-content
      font-size 29px
      margin-top 0.4em
    &-row
      margin-top 25px

  .benefits
    &-1
      margin 0
    &-2
      margin 2em 0 0 0

  .footer
    padding-top 0
    text-align center

    > .row
      padding-top 20px

    &-join
      padding 0

    &-join-principal,
    &-join-second
      text-align left
      margin-top 0.5em

    &-join-principal
      width 100%

    &-btn
      margin 1em auto
      width 100%

    &-social-terms
      align-items center
      display flex
      justify-content center
      p
        display inline-block
        width 45%
        font-family "Avenir LT Std Medium"
        font-size 15px
        color $gray
        position relative
        &:first-child
          margin-right 5px
        &:last-child
          margin-left 5px

    &-info
      padding-left 0
      &-text
        margin 1em auto 0 auto
        text-align center
        width 80%
      &-phone
        text-align center
        margin-top 0
      &-list-item
        text-align center
        margin-top 1em

    &-col
      &:nth-child(1),
      &:nth-child(3)
        width 26%

      &:nth-child(2)
        width 31%

  .footer-info-list-item
    margin-top 0.6em

    &:first-of-type
      margin-top 1em
/* Tablets en horizonal y escritorios pequeños
   ------------------------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1200px)
  .how-subtitle
    &-last
      width 95%
    &-third
      width 100%

  .whois
    &-list
      padding 2rem 0 5rem 5rem

    &-allies-img
      &:nth-child(n+4)
        margin-top 3em

    &-image
      margin-top 30px

  .footer
    text-align center
    &-join
      padding 0
    &-join-principal
    &-join-second
      text-align center
      margin-top 0.5em

    &-join-principal
      width 100%

    &-btn
      margin 1em auto
      width 70%

    &-social-terms
      align-items center
      display flex
      justify-content center
      p
        display inline-block
        width 45%
        font-size 15px
        color $gray
        position relative
        &:first-child
          margin-right 5px
        &:last-child
          margin-left 5px

    &-info
      &-text
        margin 1em auto 0 auto
        text-align center
        width 80%
      &-phone
        text-align center
        margin-top 2em
      &-list-item
        text-align center
        margin-top 1em

/* Escritorios Normales
   ------------------------------------------------------------------------- */
@media (min-width: 1170px)
  .info-1-title
    margin 0 0.8em

  .col-md-p-15
    width 15%

  .col-md-p-10
    width 10%

  .col-md-3-half
    width 28% !important

  .nowrap-lg
    white-space nowrap

  .align-middle-lg
    padding-top 2.5px
