/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 700px) and (orientation: portrait)
  .landing-video-section
    .col-xs-9
      width 91.6%

    .col-xs-6
      width 72%

@media screen and (max-width: 600px)
  .landing-video-section .col-xs-9
      width 91.6%

  .landing-video-section .col-xs-6
      width 72%

@media screen and (max-width: 767px)
  .landing-video-section
    background-image url('../img/video_poster.jpg')
    background-position center
    background-size cover
    height auto
    min-height 50vh
    max-height 95vh
    display flex

    .layer
      height initial
      padding 15px 0
      position static
      display flex
      align-items center
      top 0

    .text-container
      padding 15px 0
      top 0
      transform none

    .embed-responsive, video
      display none

  .info-1
    background-position right -189px bottom 0px
    &-title
      font-size 29px
      letter-spacing -1px
      line-height 1.05
    &-subtitle
      font-size 19px
    &-btn
      font-size 19px
    &-row-btn
      margin-top 2em

  .mentions
    &-title
      padding 52px 0 0 0
    &-col
      margin 1em 0
      &:nth-child(1), &:nth-child(2)
        margin-bottom 2em
      &:nth-child(odd)
        margin-right -7px
      &:nth-child(even)
        margin-left -7px
      img
        margin 0 auto

  .services
    &-separator
      transform: rotate(90deg);
      margin -70px 0
      text-align center

    img
      width 17%

    &-row-content
      margin-bottom 60px


  .info-2
    background-attachment local
    min-height 420px
    &-content
      font-size 29px
      line-height 35px
      margin-top 0.4em
    &-row
      margin-top 25px


  .how
    &-title
      font-size 37px
    &-desc
      width 85%
      padding-top 0
      margin-bottom 4em
      max-width 320px
    &-row-content
      margin-top 50px

    &-col
      &:first-child
        h3
          min-height auto
          margin-bottom 10px
          margin-top 15px

      &:nth-child(3) .how-subtitle
        max-width 280px
        min-height 100px

    &-row-btn
      margin -1em 0 6em 0


  .benefits
    &-row-btn
      display block
    &-1
      margin 0
    &-2
      margin 5em 0 0 0
    &-content-title
      margin 16px auto
      text-align center

    &-content-list
      padding 0
      width 100%
      margin 0 auto
    &-row-content
       margin 0px 0px 70px

  .whois-list-item-img
    margin-right 0px
    width 40px
  .whois
    &-desc
      width 100%
      margin 0 auto
      text-align center
    &-list
      padding 2rem 0 5rem 2rem
    &-btn
      margin 0 auto
    &-image
      display none
    &-img-1
      height 50px
      width auto
      margin 0 auto
    &-img-2
      height 35px
      width auto
      margin 0 auto
    &-img-3
      height 45px
      width auto
      margin 0 auto
    &-img-4
      height 35px
      width auto
      margin 0 auto
    &-allies-img
      &:nth-child(n+4)
        margin-top 3em
      &:nth-child(n+3)
        padding 0 !important


  .footer
    text-align center
    &-col
      &:nth-child(n+2)
        margin-top 30px
    &-join
      padding 0
    &-join-principal
    &-join-second
      text-align center
      margin-top 0.5em

    &-join-principal
      width 100%

    &-btn
      margin 1em auto

    &-social-terms
      p
        display inline-block
        width 30%
        font-family "Avenir LT Std Medium"
        font-size 15px
        color $gray
        margin 0 1em

    &-info
      padding 0
      &-text
        margin 1em auto 0 auto
        text-align center
        width 80%
      &-phone
        text-align center
        margin-top 2em

  .footer-info-list
    text-align center

  .footer-info-list-item
    display inline-block
    margin 1em 1em 0 1em
    width auto
    vertical-align middle
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 992px)
  .mentions
    &-col
      &:nth-child(n+3)
        margin-top 4em

  .services
    &-separator
      transform: rotate(90deg);
      margin -90px 0
      text-align center

    img
      width 10%

  .info-2
    background-attachment local
    min-height 420px
    &-content
      font-size 29px
      margin-top 0.4em
    &-row
      margin-top 25px

  .benefits
    &-1
      margin 0
    &-2
      margin 2em 0 0 0

  .whois
    &-desc
      margin 0 auto
    &-list
      padding 2rem 0 5rem 6rem
    &-btn
      margin 0 auto
    &-image
      display none
    &-allies-img
      &:nth-child(n+4)
        margin-top 3em

  .footer
    padding-top 0
    text-align center

    > .row
      padding-top 20px

    &-join
      padding 0

    &-join-principal,
    &-join-second
      text-align left
      margin-top 0.5em

    &-join-principal
      width 100%

    &-btn
      margin 1em auto
      width 100%

    &-social-terms
      align-items center
      display flex
      justify-content center
      p
        display inline-block
        width 45%
        font-family "Avenir LT Std Medium"
        font-size 15px
        color $gray
        position relative
        &:first-child
          margin-right 5px
        &:last-child
          margin-left 5px

    &-info
      padding-left 0
      &-text
        margin 1em auto 0 auto
        text-align center
        width 80%
      &-phone
        text-align center
        margin-top 0
      &-list-item
        text-align center
        margin-top 1em

    &-col
      &:nth-child(1),
      &:nth-child(3)
        width 26%

      &:nth-child(2)
        width 31%

  .footer-info-list-item
    margin-top 0.6em

    &:first-of-type
      margin-top 1em
/* Tablets en horizonal y escritorios pequeños
   ------------------------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1200px)
  .how-subtitle
    &-last
      width 95%
    &-third
      width 100%

  .whois
    &-list
      padding 2rem 0 5rem 5rem

    &-allies-img
      &:nth-child(n+4)
        margin-top 3em

    &-image
      margin-top 30px

  .footer
    text-align center
    &-join
      padding 0
    &-join-principal
    &-join-second
      text-align center
      margin-top 0.5em

    &-join-principal
      width 100%

    &-btn
      margin 1em auto
      width 70%

    &-social-terms
      align-items center
      display flex
      justify-content center
      p
        display inline-block
        width 45%
        font-size 15px
        color $gray
        position relative
        &:first-child
          margin-right 5px
        &:last-child
          margin-left 5px

    &-info
      &-text
        margin 1em auto 0 auto
        text-align center
        width 80%
      &-phone
        text-align center
        margin-top 2em
      &-list-item
        text-align center
        margin-top 1em

/* Escritorios Normales
   ------------------------------------------------------------------------- */
@media (min-width: 1170px)
  .info-1-title
    margin 0 0.8em


  .col-md-p-15
    width 15%

  .col-md-p-10
    width 10%

  .col-md-3-half
    width 28% !important

  .nowrap-lg
    white-space nowrap

  .align-middle-lg
    padding-top 2.5px
