.landing-video-section
  height calc(((9/16) * 100vw) - 125px)
  max-height calc(100vh - 125px - 86px)
  overflow hidden
  position relative
  margin-top 86px

  .embed-responsive
    position relative

  video
    background-image url('../img/video_poster.jpg')
    background-position center
    background-size cover

  .layer
    background rgba(black, 0.2)
    height 100%
    left 0
    position absolute
    right 0
    top 0
    z-index 2

  .text-container
    position relative
    top 50%
    transform translateY(calc(-50%))

.landing-testimonial
  font-size remify(18)
  text-align center
  margin-top remify(55)

.landing-testimonial__title
  font-family 'Avenir LT Std Heavy'
  center-block()
  color #808080
  font-size inherit
  width 90%

.landing-testimonial__gray-box
  center-block()
  margin-top remify(13)
  background #f5f5f5
  font-size inherit
  max-width 660px
  width 90%
  padding remify(12)

.landing-testimonial__subtitle
  color #575656
  display block
  padding-top remify(12)

.landing-diagram-section
  background #f5f5f5
  text-align center
  padding remify(35) 0 remify(42) 0

  p
    font-size remify(15)
    line-height 1.33
    color #808080
    max-width 838px
    width 90%
    center-block()
    margin-top remify(25)

.landing-diagram-section__title
  font-family 'Avenir LT Std Heavy'
  color #808080
  font-size remify(25)
  width 90%
  center-block()


.landing-diagram
  cursor pointer

.info-1
  background-image url("../img/cover_1.png")
  background-size cover
  height calc(100vh - 125px)
  color #fff
  overflow-x hidden
  overflow-y auto
  position relative

  .info-text-container
    left 0
    position absolute
    top 50%
    transform translateY(calc(-50% + 40px))
    width 100%

  &-title
    font-size 51px
    text-align center
    font-weight bold
    color white
    line-height 61px
    font-family 'Avenir LT Std Medium'

  &-subtitle
    font-size 22px
    color white
    font-family 'Avenir LT Std Roman'

  &-btn
    padding 10px 5px
    font-size 21px
    max-width 310px
    margin 0 auto
    display block

  &-btn-pay
    padding 10px 5px
    font-size 24px
    width 73%
    margin 0 auto
    display block

  &-row
    &-subtitle
      margin-top 2em
    &-btn
      padding-top 10px
      margin 4em 0 0 0


.mentions
  background-color #f0f0f1
  padding 2em 0

  > div
    text-align center

  img
    display inline-block

  &-0
    height 38px
  &-1
    height 19px
  &-2
    height 19px
  &-3
    height 19px

  &-col
    margin 0 15px
    vertical-align middle

  &-title
    font-size 20px
    color $dark_gray
    text-align center
    padding 2.5em 0 2em 0
    font-family 'Avenir LT Std Medium'

.video-banner
  background-color $light_gray
  &-row
    margin 0 auto
    max-width 640px
    padding 4em 0

.services
  background-color white
  overflow-x hidden
  overflow-y auto

  &-title
    font-size 37px
    color $gray
    text-align center
    text-transform none
    font-family 'Avenir LT Std Heavy'

  &-cont-title
    font-size 21px
    color $yellow
    text-align center
    height 60px
    display flex
    justify-content center
    align-items center
    margin 10px 0 15px 0
    font-family 'Avenir LT Std Heavy'

  &-cont-description
    font-size 21px
    color $gray
    text-transform none
    width 90%
    margin 0 auto
    display block
    font-family 'Avenir LT Std Roman'

  &-separator
    img
      width 15%
      margin-top 12.5px

  &-row-title-icon
    margin-top: 70px
  &-row-title
    margin-top 30px
  &-row-content
    margin-top 50px
    margin-bottom 120px


.info-2
  background-image url("../img/cover_2.png")
  background-size cover
  background-attachment fixed
  min-height 530px
  display flex
  justify-content center
  align-items center
  overflow-x hidden
  overflow-y auto

  &-content
    font-size 43px
    color $white
    text-align center
    width 100%
    line-height 47px
    font-family 'Avenir LT Std Medium'

  &-row
    margin-top 50px

.landing-how__container
  width 90% !important
  max-width 990px

.how-col.col-md-4
  @media (min-width: 992px)
    width 30%

.how-col
  vertical-align top

.how
  background-color white
  text-align center
  overflow-x hidden
  overflow-y auto
  padding-bottom remify(57)

  &-title
    text-align center
    font-size remify(25)
    color #808080
    font-family 'Avenir LT Std Heavy'

  &-subtitle
    font-family 'Avenir LT Std Heavy'
    font-size remify(22)
    color $dark_gray
    vertical-align text-top
    width 90%
    margin 1.5em auto 0 auto
    display flex
    justify-content center
    align-items flex-start
    &-second
      width 100%

    &-last
      width 77%
      display inline-block

  &-img
    height 60px
    width auto
    margin 0 auto
    display block

  &-desc
    font-family 'Avenir LT Std Medium'
    font-size remify(16)
    color #808080
    padding-top remify(21)
    width 90%
    margin 0 auto
    line-height 1

    &-last
      width 90%

  &-btn
    font-size 19px
    width 60%
    margin 0 auto
    display block
    padding 0.7rem 0

  &-row-content
    margin-top remify(55)

  &-row-title
    margin-top remify(36)

  &-row-btn
    margin 5em auto 7em auto

.benefits
  background-color $white
  padding-bottom 2em
  overflow-x hidden
  overflow-y auto
  &-btn
    font-size 19px
    width 60%
    margin 0 auto
    display block
    padding 0.7rem 0
  &-row-btn
    display none
    margin-top 50px
    margin-bottom 50px

  &-1
    margin-right 70px
  &-2
    margin-left 40px

  &-title
    font-family 'Avenir LT Std Heavy'
    font-size 37px
    color $dark_gray
    text-align center

  &-content-title
    font-family "Avenir LT Std Heavy"
    font-size 24px
    margin-left 35px
    color $dark_gray
    text-align left

  &-content-list
    list-style none
    text-align left

    &-item
      padding 0.3rem
      min-height 50px
      cursor auto

      &-img
        display inline-block
        height auto
        width 7%
        vertical-align top
        margin-right 13px

        img
          width 100%
          height 100%

      span
        display inline-block
        font-size 19px
        font-family "Avenir LT Std Roman"
        color $dark_gray
        width 85%
        align-content center
        vertical-align middle
        min-height 35px
        position relative
        top 25%

  &-row-title-icon
    margin-top 60px

  &-row-title
    margin-top 20px

  &-row-content
    margin 80px 0 70px 0
    cursor auto !important

.whois-carousel
  margin-top 10px

.whois-carousel__item-content
  display flex
  align-items flex-end
  justify-content space-around

.whois-carousel__item-box
  background white
  max-width 456px
  text-align left
  font-family 'Avenir LT Std Medium'
  line-height 1.08

.whois-carousel__item-box-title
  font-size remify(21)
  padding remify(22) remify(29) remify(12) remify(29)

.whois-carousel__item-box-content
  border-top 1px #e5e5e5 solid
  padding remify(22) remify(52) remify(40) remify(29)
  font-size remify(16)

.whois-carousel__item-line
  display block

  &.whois-carousel__item-line--separator
    margin-top 1em

.whois-image-img
  height 287px

.whois-footer
  padding-top remify(42)

  .emma-btn
    display inline-block
    font-size remify(18)
    padding remify(19) remify(35)
    font-family 'Avenir LT Std Heavy'
    line-height 1
    vertical-align middle

  span
    display inline-block
    vertical-align middle
    font-size remify(13)
    font-family 'Avenir LT Std Medium'
    margin-left remify(18)
    width 130px
    color #808080
    line-height 1
    text-align left

.whois
  background #f4f4f4
  padding remify(42) 0
  text-align center
  color #808080

  &-title
    font-family "Avenir LT Std Heavy"
    font-size remify(25)
    text-transform none

  &-desc
    font-family "Avenir LT Std Medium"
    font-size remify(16)
    width 90%
    margin-top remify(22)
    max-width 554px
    line-height 1
    center-block()

  &-list
    list-style none
    text-align left
    padding 5.5rem 0 5rem 11.7rem
    width 110%

    &-item
      padding 0.3rem
      vertical-align middle
      min-height 30px

      span
        display inline-block
        font-size 19px
        font-family "Avenir LT Std Roman"
        color #575656
        width 80%
        vertical-align middle

      &-img
        display inline-block
        height 20px
        vertical-align top
        margin-right -21px

        img
          width 100%
          height 100%

  &-btn
    font-size 19px
    width 90%
    display block
    margin 0 auto auto -1.8em
    padding 0.7rem

  &-image
    display inline-block
    width 100%
    margin-left 2rem
    margin-top -2em

    img
      height 100%
      width 100%

    figcaption
      font-family "Avenir LT Std Roman"
      font-size 17px
      text-align left
      color $gray
      margin-top 10px


  &-allies-title
    text-align center
    font-family "Avenir LT Std Roman"
    font-size 19px
    color $gray
    border-top 1px solid $gray
    padding 60px 0 40px 0
    margin 0

  &-img
    &-1
    &-2
    &-3
    &-5
      height 50px
      display block
      margin 0 auto
    &-4
      height 43px
      display block
      margin 0 auto

    &:nth-child(4)
      height 40px

  &-row-title
    margin 115px 0 60px 0

#benefitscollapse
  cursor pointer

@media screen and (max-width: 1100px)
  .landing-video-section
    margin-top 65px

    .layer
      height 100%
      top 0