/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px)
  .services-detail
    &-col-serv
      margin 0 !important
      &:last-child
        margin-top 70px !important
    &-cont
      &-title
        display block
        text-align left
        overflow auto
        &-text
          display block !important
          width 100%
          margin-top 10px
        &-price
          display block !important
          width 100%
          margin-left 1em
          padding .3em 0 .3em .5em
      &-desc
        min-height 180px
      &-list
        &-item
          &-img
            vertical-align middle
            img
              margin-top 0

    &-col-serv
      &:last-child
        margin-top 100px

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px)
  .services-detail
    &-cont
      &-desc
        min-height 180px
    &-col-serv
      &:last-child
        margin-top 100px

/* Tablets en horizonal y escritorios pequeños
   ------------------------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1200px)
  .services-detail
    &-cont
      &-title
        &-price
          white-space nowrap
        .text-sp
          width auto
          white-space normal
          margin-right 10px

/* Escritorios Normales
   ------------------------------------------------------------------------- */
@media (min-width: 1170px)
  .nowrap
    white-space nowrap
