.terms
  background-color $light_gray
  padding-bottom 150px
  &-title
    font-family "Avenir LT Std Medium"
    font-size 29
    text-align center
    color $dark_gray
    padding 0.9em 0
    margin 5em 0 0.7em 0
  &-title2
    font-family "Avenir LT Std Medium"
    font-size 29
    text-align center
    color $dark_gray
    padding 0.9em 0
    margin 0 0 0.7em 0
  &-p
    font-family "Avenir LT Std Roman"
    font-size 18px
    color $dark_gray
    display block
    margin 1em auto
    text-align justify
    width 87%
    line-height 2em
  &-p2
    font-family "Avenir LT Std Roman"
    font-size 14px
    color $dark_gray
    display block
    margin 1em auto
    text-align justify
    width 87%
    line-height 2em
  &-ul
    font-family "Avenir LT Std Roman"
    font-size 14px
    color $dark_gray
    display block
    margin 2em auto
    text-align justify
    width 87%
    line-height 2em
  &-li
    margin-left 50px

.list-privacy
  color red
