/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media screen and (max-width: 768px)
  .whowe
    padding-bottom 4em
    &-col-photo
      &:nth-child(n+2)
        margin-top 60px

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px)
  .whowe-col-photo
    margin 0 auto !important
    padding 0 15px
