.whowe
  background-color $light_gray
  overflow-x hidden
  overflow-y auto
  padding-bottom 10em

  &-title
    font-family "Avenir LT Std Medium"
    font-size 37px

  &-col-photo
    margin 0 30px
    padding 0

  &-photo
    width 80%
    height auto
    margin 0 auto

    &-name
      font-family "Avenir LT Std Roman"
      font-size 19px
      color $dark_gray
      margin-top 1.7em

    &-place
      font-family "Avenir LT Std Heavy"
      font-size 16px
      color $dark_gray
      margin-top 0.4em

  &-row-title-icon
    margin-top 170px
    margin-bottom 30px
  &-row-images
    margin-top 80px
    margin-bottom 50px

    &-img
      min-height: 210px
