{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_description %}
  <!-- Metadata -->
  <meta property="description" content="Combatimos el aislamiento social, la depresión y el deterioro cognitivo."/>
{% endblock %}
{% block fbpixel %}
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '497421603784093');
	fbq('track', "PageView");
	window._fbq.push(['track', 'ViewContent']);
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
  <section class="about-section__cover">
    <div class="about-section__cover-text">
      <h1 class="about-section__cover-title">Acerca de nosotros</h1>
      <p class="about-section__cover-paragraph">
        Emma acompaña a tus seres queridos con gran dedicación, confianza y calidez humana.
      </p>
      <p class="about-section__cover-paragraph">
        Somos la primera empresa mexicana en profesionalizar los servicios de acompañamiento en casa y fuera de casa para el adulto mayor.
      </p>
      <p class="about-section__cover-paragraph">
        <strong>Nuestra prioridad:</strong> El bienestar integral del adulto mayor y la tranquilidad de sus familiares. Lo anterior lo logramos gracias a un equipo de Emmas & Franks confiables y a un sistema de monitoreo riguroso que nos permite mejorar la toma de decisiones para la familia.
      </p>
      <p class="about-section__cover-paragraph">
        Cada caso es muy particular y lo tratamos con gran atención. A través de nuestro equipo de cuidado se individualizan y se atienden las necesidades de cada adulto mayor. Logramos la práctica del envejecimiento exitoso a través de la estimulación cognitiva, social, física y funcional.
      </p>
      <p class="about-section__cover-paragraph">
        Emma nace durante el programa de emprendimiento- MIT Delta V- en el Instituto Tecnológico de Massachusetts (MIT). En febrero de 2016, la empresa recibe el Premio Nacional al Estudiante Emprendedor y es considerada como uno de los mejores proyectos de emprendimiento del 2016 por la revista Entrepreneur.
      </p>
    </div>
  </section>
  <section class="about-section__mentors">
    <h2 class="about-section__mentors-title">Nuestro consejo de mentores</h2>
    <div class="about-section__mentors-grid">
      <div class="about-section__mentors-element">
        <figure class="about-section__mentors-element__image">
          <img src="#" alt="Mentor 1">
          <figcaption class="about-section__mentors-element__name">Mentor 1</figcaption>
        </figure>
      </div>
      <div class="about-section__mentors-element">
        <figure class="about-section__mentors-element__image">
          <img src="#" alt="Mentor 2">
          <figcaption class="about-section__mentors-element__name">Mentor 2</figcaption>
        </figure>
      </div>
      <div class="about-section__mentors-element">
        <figure class="about-section__mentors-element__image">
          <img src="#" alt="Mentor 3">
          <figcaption class="about-section__mentors-element__name">Mentor 3</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="landing-diagram-section about-section__diagram">
    <h2 class="landing-diagram-section__title">Conoce nuestra metodología</h2>
    <p>De acuerdo a la Organización Mundial de la Salud (OMS) este término se refiere al proceso que mejora las oportunidades de salud, participación y seguridad de las personas mayores, con la finalidad de mejorar su calidad de vida a medida que envejecen. Este proceso permite que las personas alcancen su potencial de bienestar físico, cognitivo y social.</p>
    <div class="landing-diagram">
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img1.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Activación física</figcaption>
        </figure>
      </div>
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img2.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Estimulación cognitiva</figcaption>
        </figure>
      </div>
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img3.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Interacción social</figcaption>
        </figure>
      </div>
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img4.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Autosuficiencia</figcaption>
        </figure>
      </div>
    </div>
  </section>
{% endblock content %}
