{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <section class="about-detail">
    <div class="about-detail-cover">
      <img src="{% static 'img/road.jpg' %}" class="img-responsive"/>
    </div>
    <div class="row padding-top-70 padding-bottom-20">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <img src="{% static 'img/icons/bench.png' %}"
             alt="banca" class="img-bench center-block img-responsive"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8
                  col-md-offset-2">
        <h1 class="about-detail-title">Nuestra Historia</h1>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <p class="about-detail-p">
          Somos tres emprendedoras del ITAM. Juntas, caímos en cuenta del
          reto que implica envejecer en México y por eso decidimos repensar
          la forma en que cuidamos de nuestros mayores:
        </p>
        <p class="about-detail-p">
          “Queríamos diseñar un servicio que ofreciera experiencias genuinas a
          los adultos mayores al brindarles la ilusión de aprender actividades
          nuevas y recuperar aquellas que habían dejado de lado. La idea era
          sentirse “estar acompañados” de nuevo. Más allá de un servicio médico
          era algo tan simple y humano como la compañía. Esa compañía que todos
          conocemos cuando compartimos una charla con un amigo o un café con el
          vecino de la cuadra”.- Mara
        </p>
        <p class="about-detail-p">
          “Al darnos cuenta de la oportunidad que se nos presentó para
          mejorar la calidad de vida, no solo de mi abuelo Pepe, sino
          también de los miles de adultos mayores en el país, fue cuando
          decidimos que Emma debía de existir”. - Fer
        </p>
        <p class="about-detail-p">
          “Fue impresionante descubrir que la necesidad era enorme y que
          había tanto espacio para la innovación y la colaboración. Por
          esta razón decidimos que, para atender el problema, había que
          enfatizar la prevención a través de la idea del “envejecimiento
          exitoso”. - Lore
        </p>
        <p class="about-detail-p">
          Emma se inspira en nuestros abuelos y abuelas, gente que
          admiramos por su valor y sus ganas de salir adelante día con día.
          Buscamos hacer del envejecimiento una etapa dorada al ofrecerles
          mejores alternativas que los hagan sentir autosuficientes y a su
          vez revitalizados.
        </p>
        <h1 class="about-detail-subtitle">
          ¿A qué nos referimos con “envejecimiento exitoso”?
        </h1>
        <p class="about-detail-p">
          Se refiere al proceso que mejora las oportunidades de salud,
          participación y seguridad de las personas mayores con la
          finalidad de mejorar su calidad de vida a medida que envejecen.
          Este proceso permite que las personas alcancen su potencial
          debienestar físico, cognitivo y social.
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
