{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
  <section class="success" style="margin-top: 75px">
    <div class="row text-center" style="margin-top: 120px">
      <div class=" col-lg-12 col-xs-12 col-sm-12 col-md-12">
        <img src="{% static 'img/icons/check.png' %}"
             alt="success" class="img-check center-block img-responsive"/>
      </div>
    </div>
    <div class="row text-center success-row-desc" >
      <div class="col-lg-7 col-md-7 col-sm-10 col-xs-11">
        <p class="success-desc" style="font-size: 24px">
					¡Permanece en contacto con nosotros!
        </p><br>
	      <P class="success-desc" style="font-size: 22px">
		     Nos gustaría invitarte a nuestra comunidad Emma en Facebook.
          </P>
              <P class="success-desc" style="font-size: 22px">
              Al dar click en "me gusta" tendras acceso a la información y contenido relevante para tu futuro labor en Emma
            </P>

            <br>
           <p class="success-desc" style="font-size: 24px">
					¡Comenzarás a capacitarte como Emma o Frank!
            </p>
      </div>
    </div>
	  <div class="row text-center success-row-desc">
      <div class="col-lg-7 col-md-7 col-sm-10 col-xs-11">
          <table align="center">
              <tr>
                  <td>
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="400" data-layout="box_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
                  </td>
                  <td>
                        <div class="fb-page" data-href="https://www.facebook.com/miemma.mexico/" data-width="200" data-height="50" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false"
                               data-show-facepile="false"><blockquote cite="https://www.facebook.com/miemma.mexico/" class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/miemma.mexico/">Emma</a></blockquote>
                        </div>
                  </td>
              </tr>
          </table>


      </div>
    </div>
    <div class="row text-center success-row-btn">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <a id="successBtn" href="{% url 'landing:home' %}"
           class="emma-btn-dark success-btn">
          Regresar a la página principal
        </a>
      </div>
    </div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

  </section>
{% endblock content %}
