{% extends "base.html" %}
{% load static from staticfiles %}
{% block fbpixel %}
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '497421603784093');
	fbq('track', "PageView");
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
	<section class="date">
    <div class="row text-center join-row-title">
      <div class="col-xs-10 col-sm-8 col-md-10 col-lg-4">
        <h1 class="date-title">
          Agenda una llamada con uno de nuestros expertos
        </h1>
      </div>
    </div>
    <div class="row  text-center join-row-desc">
      <div class="col-xs-10 col-sm-8 col-md-4 col-lg-4">
        <p class="join-desc">
          Cuéntanos de tu ser querido y te ayudaremos a personalizar el
					servicio que te interesa en 15 minutos
        </p>
      </div>
    </div>
    <div class="row join-row-form">
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8
                  col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <form class="join-form" method="post" id="dateForm"
              action="{% url 'landing:date' %}">
	        {% csrf_token %}
	        {% if not user.is_authenticated %}
	          <div class="row">
	            <div class="col-lg-12">
	              <input class="emma-input date-input" type="email" required
	                     placeholder="Correo electrónico" name="email">
	            </div>
	          </div>
		        <div class="row">
	            <div class="col-lg-12">
	              <input class="emma-input date-input" type="text" required
	                     placeholder="Nombre" name="name">
	            </div>
	          </div>
          {% endif %}
          <div class="row">
            <div class="col-lg-12">
              <p class="date-form-desc">
                Dinos cuándo y a que hora te podemos contactar:
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div id="datepicker" data-date="{{ today }}"></div>
              <input type="hidden"  id="date_input"
                     name="date_input" value="{{ today }}">
            </div>
            <div class="col-lg-6">
              <div class="row">
                <p class="date-form-txt text-center">
                  Hora
                </p>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div id="reservation-time-section"
                       class="emma-input date-input">
                    <input name="hour" class="hour-input" type="number"
                           placeholder="00" min="1" max="12"
                           value="10">:<input
		                  class="minute-input" type="number" min="0" max="59"
		                  placeholder="00" value="30" name="minute">
                  </div>
                </div>
                <div class="col-lg-6">
                  <input type="text" name="morning" value="AM"
                         class="emma-input date-input date-input-little"
                         id="reservation-time-button" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-top-20">
            <div class="col-lg-12">
              <input name="number" class="emma-input join-input"
                     type="text" required
                     placeholder="Número al que te podremos contactar">
            </div>
          </div>
          <div class="row text-center">
            <div class="col-xs-10 col-sm-6 col-md-9 col-lg-7">
              <button type="submit" class="emma-btn emma-btn-dark join-btn">
                Reservar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}

{% block js %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
	<script src="//cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js" ></script>
	<script src="{% static 'js/reservationFormCalendar.js' %}"></script>
	<script src="{% static 'js/validationForms.js' %}"></script>
	<script type="text/javascript">
	  $( "#dateForm" ).submit(function( event ) {
		  window._fbq.push(['track', 'Lead']);
	    return true
		});
	</script>
{% endblock js %}
