{% extends "base.html" %}
{% load static from staticfiles%}
{% block fbpixel %}
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '497421603784093');
	fbq('track', "PageView");
	window._fbq.push(['track', 'ViewContent']);
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
  <h1 class="how-detail-title">Cómo funciona</h1>
  <section class="how-detail-sec">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-lg-5 how-detail-col-1">
        <div class="how-detail-cont">
          <div class="how-detail-cont-title">
            <figure class="how-detail-cont-img">
              <img src="{% static 'img/icons/yellow-phone.png' %}" alt="phone"/>
            </figure>
            <span>
              1. Contáctanos
            </span>
          </div>
          <div class="how-detail-cont-desc">
            <div class="how-detail-cont-desc-span">
              Agenda una llamada con uno de nuestros especialistas y te
              ayudaremos a personalizar el servicio que te interesa.
              ¡Resolveremos todas tus dudas!
            </div>
          </div>
        </div>
        <div class="how-detail-cont">
          <div class="how-detail-cont-title">
            <figure class="how-detail-cont-img">
              <img src="{% static 'img/icons/face.png' %}" alt="phone"/>
            </figure>
            <span>
              2. Prueba el servicio sin costo
            </span>
          </div>
          <div class="how-detail-cont-desc">
            <div class="how-detail-cont-desc-span">
              En Emma nos contratas hasta que tu ser querido se sienta
              completamente satisfecho con el servicio que recibe. Ponemos
              a tu disposición una prueba sin costo la cual te permitirá
              conocer el servicio de tu interés y la <i>Emma</i> asignada.
            </div>
          </div>
        </div>
        <div class="how-detail-cont">
          <div class="how-detail-cont-title">
            <figure class="how-detail-cont-img">
              <img src="{% static 'img/icons/hands.png' %}" alt="phone"/>
            </figure>
            <span>
              3. Regresa y contrata el servicio de interés
            </span>
          </div>
          <div class="how-detail-cont-desc">
            <div class="how-detail-cont-desc-span">
              ¡Qué gusto que el servicio de prueba fue lo que esperabas!
              Activaremos tu cuenta y podrás realizar el proceso de
              contratación completando la siguiente información:
            </div>
            <ul class="how-detail-cont-desc-list">
              <li class="how-detail-cont-desc-list-item">
                <figure class="how-detail-cont-desc-list-item-img">
                  <img src="{% static 'img/icons/bench.png' %}" alt="check"/>
                </figure>
                <span>
                  Selecciona el servicio y taller que deseas.
                </span>
              </li>
              <li class="how-detail-cont-desc-list-item">
                <figure class="how-detail-cont-desc-list-item-img">
                  <img src="{% static 'img/icons/bench.png' %}" alt="check"/>
                </figure>
                <span class="how-detail-cont-desc-list-item-span-2">
                  Proporciónanos información complementaria del adulto
                  mayor.
                </span>
              </li>
              <li class="how-detail-cont-desc-list-item">
                <figure class="how-detail-cont-desc-list-item-img">
                  <img src="{% static 'img/icons/bench.png' %}" alt="check"/>
                </figure>
                <span>
                  Completa tu información de pago.
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="how-detail-cont">
          <div class="how-detail-cont-title">
            <figure class="how-detail-cont-img">
              <img src="{% static 'img/icons/house.png' %}" alt="phone"/>
            </figure>
            <span>
              4. ¡Relájate y espera a tu <i>Emma!</i>
            </span>
          </div>
          <div class="how-detail-cont-desc last">
            <div class="how-detail-cont-desc-span">
              Ahora que tu ser querido está bien acompañado, disfruta de
              nuestros beneficios:
            </div>
            <ul class="how-detail-cont-desc-list">
              <li class="how-detail-cont-desc-list-item">
                <figure class="how-detail-cont-desc-list-item-img">
                  <img src="{% static 'img/icons/bench.png' %}" alt="check"/>
                </figure>
                <span class="how-detail-cont-desc-list-item-span-2">
                  Notificaciones en tiempo real de la hora de llegada y
                  salida de <i>Emma</i>.
                </span>
              </li>

              <li class="how-detail-cont-desc-list-item">
                <figure class="how-detail-cont-desc-list-item-img">
                  <img src="{% static 'img/icons/bench.png' %}" alt="check"/>
                </figure>
	               <a id="preguntas"></a>
                <span class="how-detail-cont-desc-list-item-span-2">
                  Reportes quincenales de las actividades realizadas
                  entre el adulto mayor y la <i>Emma</i>.
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-10  col-lg-5 how-detail-col-quest">
        <div class="how-detail-quest-cont">
          <h2 class="how-detail-quest-title">
            Preguntas Frecuentes
          </h2>
          <ul class="how-detail-quest-list">
            <li class="how-detail-quest-list-item graybg"
                data-toggle="collapse" data-target="#quest1">
                <p>
                  ¿En qué estados de la República puedo encontrar a una
                  <i>Emma</i>?
                </p>
            </li>
            <div class="how-detail-quest-list-item-desc collapse"
                 id="quest1">
              <p>
                Por el momento únicamente estamos brindando nuestros servicios
                a los adultos mayores en la Ciudad de México. Sin embargo
                contamos con planes de expansión futuros para operar en otras
                áreas de nuestro país. ¡Espéranos pronto!

              </p>
            </div>
            <li class="how-detail-quest-list-item"
                data-toggle="collapse" data-target="#quest2">
              <p>
                ¿Quiénes son las <i>Emmas</i>?
              </p>
            </li>
            <div class="how-detail-quest-list-item-desc collapse"
                 id="quest2">
              <p>
                Las <i>Emmas</i> son nuestras compañeras confiables. Son
	              mujeres que tienen entre 35 y 55 años con gustos e intereses
	              diversos, entre ellos la historia, los idiomas, el fútbol, el
	              arte, el cine o bien el tomar una buena taza de café. Son
	              mujeres con gran vocación, capacitadas en primeros auxilios en
	              caso de cualquier contingencia y preparadas para motivar a los
	              adultos mayores a tener una mejor calidad de vida.
            </div>
            <li class="how-detail-quest-list-item graybg"
                data-toggle="collapse" data-target="#quest3">
               <p>
                 ¿Tienen <i>Emmas</i> de género masculino?
               </p>
            </li>
            <div class="how-detail-quest-list-item-desc collapse"
                 id="quest3">
              <p>
                Claro que sí. Como parte de la variedad de perfiles de
                acompañantes que te ofrecemos, contamos con hombres en nuestro
                equipo también. Nos gusta llamar a este grupo selecto de
                acompañantes: Franks. Nuestros Franks son escogidos con el
                mismo cuidado que las <i>Emmas</i> para acompañar a tu ser querido a
                hacer esas actividades que tanto disfruta. Muchos de nuestros
                clientes tienen preferencia por un Frank, si este fuera tu
                caso, ¡por favor háznoslo saber!
              </p>
            </div>
            <li class="how-detail-quest-list-item"
                data-toggle="collapse" data-target="#quest4">
              <p>
                ¿Cuál es el monto minínimo y máximo de horas que puedo
                contratar?
              </p>
            </li>
            <div class="how-detail-quest-list-item-desc collapse"
                 id="quest4">
              <p>
                ¡No contamos con un monto mínimo o máximo de horas a contratar!
              </p>
              <p>
                La contratación de nuestro servicio es realizada a tu medida.
                Nuestros clientes nos pagan mensualmente dependiendo del número
                de horas de acompañamiento que desean para su ser querido.
              </p>
              <p>
                Por lo general nuestras sesiones tienen una duración de una
                hora y se solicitan varios días a la semana.
              </p>
            </div>
            <li class="how-detail-quest-list-item graybg"
                data-toggle="collapse" data-target="#quest5">
               <p>
                 ¿Cuáles son sus políticas de pago y cancelación?
               </p>
            </li>
            <div class="how-detail-quest-list-item-desc collapse"
                 id="quest5">
              <p>
               Con el objetivo de que tanto tú como tu ser querido prueben
               nuestros servicios, tu primera sesión de <i>Emma</i> correrá por
               nuestra cuenta.
              </p>
              <p>
                Una vez que hayas decidido suscribirte mensualmente, te
                realizamos una cotización mensual personalizada dependiendo del
                número de sesiones y horas de <i>Emma</i> que desees para tu ser
                querido. Durante los primeros cinco días hábiles de cada mes
                podrás realizar tu pago desde el portal. Por tu seguridad y la
                de tu <i>Emma</i>, nosotros no manejamos efectivo, te pedimos realizar
                los pagos únicamente de esta manera.
              </p>
              <p class="padding-bottom-30">
                En caso de que desees cancelar tu sesión, ¡no te preocupes!
                Entendemos que existen contratiempos, por lo que te ofrecemos
                la opción de re agendar tu sesión. Lo único que te pedimos es
                notificarnos con un tiempo de anticipación de dos días.
              </p>
            </div>
          </ul>
        </div>
        <div class="row text-center how-detail-row-btn">
          <div class="col-xs-10 col-sm-5 col-md-4 col-lg-5">
	          {% if request.user.client %}
					    <a href="{% url 'clients:dashboard_welcome' %}" class="emma-btn-dark how-detail-btn">
				        Dashboard
				      </a>
				    {% else %}
					    <a href="{% url 'xauth:signup' %}" class="emma-btn-dark how-detail-btn">
				        Empieza ahora
				      </a>
				    {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
