{% extends "base.html" %}
{% load static from staticfiles %}
{% block meta_description %}
  <!-- Metadata -->
  <meta property="description" content="Redefinimos el acompañamiento en casa. A través de nuestros cuidados no médicos, Emma personaliza el aprendizaje, la activación de intereses y el bienestar integral de tus seres queridos de edad mayor desde su hogar."/>
{% endblock %}
{% block fbpixel %}
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '497421603784093');
	fbq('track', "PageView");
	window._fbq.push(['track', 'ViewContent']);
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
	<section class="landing-video-section">
		<div class="embed-responsive embed-responsive-16by9">
		  <video src="{% static 'img/video/landing_page_video.mp4' %}" autoplay="auto" loop></video>
		</div>
		<div class="layer">
			<div class="text-container">
			  <div class="row text-center info-1-row-title">
			    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
			      <p class="info-1-title">
			        Redefinimos el acompañamiento en casa
			      </p>
			    </div>
			  </div>
			  <div class="row text-center info-1-row-subtitle">
			    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-7">
			      <p class="text-center info-1-subtitle">
			        A través de nuestros cuidados no médicos, Emma personaliza el aprendizaje,
              la activación de intereses y el bienestar integral de tus seres queridos desde su hogar
			      </p>
			    </div>
			  </div>
			  <div class="row text-center info-1-row-btn">
			    <div class="col-xs-9 col-sm-6 col-md-6 col-lg-4">
				    {% if request.user.client %}
					    <a href="{%  url 'clients:dashboard_welcome'  %}"
					       class="emma-btn-dark info-1-btn-pay">
				        Ver perfil
				      </a>
				    {% else %}
					    <a href="{% url 'services:contract_plan' %}" class="emma-btn-dark info-1-btn">
				        Encuentra a tu Emma
				      </a>
				    {% endif %}
			    </div>
			  </div>
		 </div>
		</div>
	</section>
  <section class="landing-testimonial">
    <h2 class="landing-testimonial__title">Su experiencia con Emma / Testimonial</h2>
    <div class="landing-testimonial__gray-box">
      <div class="embed-responsive landing-testimonial__video-box embed-responsive-16by9">
        <!-- iframe -->
      </div>
      <span class="landing-testimonial__subtitle"><strong>Alejandra Juárez |</strong> Emma</span>
    </div>
  </section>
  <section class="services">
	  <div class="row text-center services-row-title-icon">
	    <div class="col-xs-12 col-sm-12 col-md-12">
	      <img src="{% static 'img/icons/bench.png' %}" alt="banca"
	           class="img-bench center-block img-responsive"/>
	    </div>
	  </div>
	  <div class="row text-center services-row-content">
	    <div class="col-xs-10 col-sm-11 col-md-4 vertical-top">
	      <div class="services-cont-title">
	        <p>ACOMPAÑAMIENTO <br> EN CASA</p>
	      </div>
	      <p class="services-cont-description">
	        Los motivamos a recuperar intereses y hobbies a través de talleres
					impartidos en casa (Ej. uso del iPad, juegos de mesa, talleres de
		      lectura, cine casero).
	      </p>
	    </div>
	    <div class="col-xs-3 col-sm-3 col-md-1 services-separator">
	      <img src="{% static 'img/icons/separator.png' %}" alt="separador"/>
	    </div>
	    <div class="col-xs-10 col-sm-10 col-md-4 vertical-top">
	      <div class="services-cont-title">
	        <p>ASISTENCIA <br> FUERA DE CASA </p>
	      </div>
	      <p class="services-cont-description">
	       Los acompañamos a realizar actividades fuera del hogar (Ej.
	       Compras en el súper, citas al doctor, funciones de teatro o cine).
	      </p>
	    </div>
	  </div>
	</section>
  <section class="landing-diagram-section">
    <h2 class="landing-diagram-section__title">¿Cómo logramos un envejecimiento exitoso?</h2>
    <p>De acuerdo a la Organización Mundial de la Salud (OMS) este término se refiere al proceso que mejora las oportunidades de salud, participación y seguridad de las personas mayores, con la finalidad de mejorar su calidad de vida a medida que envejecen. Este proceso permite que las personas alcancen su potencial de bienestar físico, cognitivo y social.</p>
    <div class="landing-diagram">
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img1.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Activación física</figcaption>
        </figure>
      </div>
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img2.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Estimulación cognitiva</figcaption>
        </figure>
      </div>
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img3.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Interacción social</figcaption>
        </figure>
      </div>
      <div class="landing-diagram__icon-item">
        <figure class="landing-diagram__icon-circle">
          <img src="{% static 'img/icons/about-diagram-img4.png' %}" alt="" class="landing-diagram__icon-image">
          <figcaption class="landing-diagram__icon-label">Autosuficiencia</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="how">
	  <div class="row text-center how-row-title">
	    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
	        <h2 class="how-title">¿Cómo funciona?</h2>
	    </div>
	  </div>
	  <div class="container landing-how__container">
	    <div class="row how-row-content text-center">
	      <div class="col-xs-10 col-sm-4
	                  col-md-4 how-col">
	        <img src="{% static 'img/icons/how-it-works-img1.png' %}" class="how-img"/>
	        <h3 class="how-subtitle">
	          1. Solicita
	        </h3>
	        <p class="how-desc">
	          Platícanos sobre tu ser querido. Puede ser en línea, a través de una llamada o una cita en nuestras oficinas.
	        </p>
	      </div>
	      <div class="col-xs-10 col-sm-4
	                  col-md-4 how-col">
	        <img src="{% static 'img/icons/how-it-works-img2.png' %}" class="how-img"/>
	        <h3 class="how-subtitle how-subtitle-second">
	          2. Encuentra tu Emma
	        </h3>
	        <p class="how-desc">
	          Personalizamos el servicio de tu interés y encontramos a tu Emma ideal.
	        </p>
	      </div>
	      <div class="col-xs-10 col-sm-4
	                  col-md-4 how-col">
	        <img src="{% static 'img/icons/how-it-works-img3.png' %}" class="how-img"/>
	        <h3 class="how-subtitle how-subtitle-third">
	          3. Mantente conectado
	        </h3>
	        <p class="how-desc">
	          Relájate, recibirás reportes mientras tu ser querido disfruta la sesión con su Emma.
	        </p>
	      </div>
	    </div>
	  </div>
	</section>
  <section class="whois">
	  <h2 class="whois-title">¿Quiénes son nuestras Emmas?</h2>
    <p class="whois-desc">
      Las Emmas son nuestras compañeras confiables. Son mujeres con vocación capacitadas y seleccionadas para tí con gran cuidado.
    </p>
    <div class="whois-carousel">
      <div class="whois-carousel__item">
        <div class="whois-carousel__item-content">
          <div class="whois-carousel__item-box">
            <div class="whois-carousel__item-box-title">Rocío Sánchez Guadarrama</div>
            <div class="whois-carousel__item-box-content">
              <span class="whois-carousel__item-line">Edad: 54 años</span>
              <span class="whois-carousel__item-line">Ocupación principal: Practico el coaching y soy ama de casa.</span>
              <span class="whois-carousel__item-line">Estudios y cursos previos:</span>
              <span class="whois-carousel__item-line whois-carousel__item-line--separator">Lic. Administración (ITAM)</span>
              <span class="whois-carousel__item-line">Diplomado en recursos humanos (ITAM)</span>
              <span class="whois-carousel__item-line">Certificaciónde Coaching (ITESM)</span>
            </div>
          </div>
          <div class="whois-carousel__item-photo">
            <img src="{% static 'img/cuidadora.png' %}" alt="Mariana" class="img-responsive whois-image-img"/>
          </div>
        </div>
      </div>
    </div>
    <div class="whois-footer">
      <div class="whois-footer__content">
        <a href="#" class="emma-btn emma-btn-light">Tu seguridad</a>
        <span>Aceptamos únicamente al 15% de nuestras aplicantes</span>
      </div>
    </div>
  </section>
  <section class="landing-mentions-carousel-section">
    <div class="landing-mentions-carousel">
      <div class="landing-mentions-carousel__item">
        <p class="landing-mentions-carousel__quote">“El proyecto EMMA va a tener mucho éxito pues habrá muchos queridos viejos que requieren ese apoyo para vivir más libres y activos”</p>
        <img src="{% static 'img/icons/iconos-13.png' %}" alt="Logo" class="landing-mentions-carousel__img">
      </div>
    </div>
  </section>
  <section class="landing-agend-call">
    <div class="landing-agend-call__main-div">
      <div class="landing-agend-call__left-column">
        <h2 class="landing-agend-call__title">Programa una llamada o agenda una cita con nuestro equipo en nuestras oficinas</h2>
        <p>
          Cada adulto mayor tiene necesidades exclusivas. Emma individualiza cada caso para recomendarte el mejor plan de acompañamiento para tu ser querido.
        </p>
        <div class="landing-agend-call__buttons">
          <button data-toggle="modal" data-target="#call-modal" class="emma-btn emma-btn-light">Programar llamada</button>
          <button data-toggle="modal" data-target="#appointment-modal" class="emma-btn emma-btn-light">Agendar cita</button>
        </div>
      </div>
      <div class="landing-agend-call__right-column">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.655238401047!2d-99.17193578563455!3d19.427296586887383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff4a47c81d6b%3A0x5542eb7c54fb6cca!2sR%C3%ADo+Volga+77%2C+Cuauht%C3%A9moc%2C+06500+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1488389423517"></iframe>
        </div>
        <span class="landing-agend-call__address">Río Volga 77, Cuauhtémoc, 06500 Ciudad de México, CDMX</span>
      </div>
    </div>
  </section>
  <section>
	  <div class="row text-center">
	    <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
	      <h2 class="whois-allies-title">
	        Algunos de nuestros aliados:
	      </h2>
	    </div>
	  </div>
	  <div class="row text-center padding-top-20 padding-bottom-70
	              whois-row-allies">
	    <div class="col-md-p-10 col-sm-3 whois-allies-img col-xs-5">
	        <img src="{% static 'img/epic-lab.png' %}" class="img-responsive whois-img-1"
	             alt="epic lab"/>
	    </div>
	    <div class="col-md-p-15 col-sm-3 whois-allies-img col-xs-5">
	        <img src="{% static 'img/mit.png' %}" class="img-responsive whois-img-2"
	             alt="mit"/>
	    </div>
	    <div class="col-md-p-10 col-sm-3 whois-allies-img col-xs-5">
	        <img src="{% static 'img/ThePool.png' %}" class="img-responsive whois-img-3"
	             alt="teatro la capilla">
	    </div>
	    <div class="col-md-p-15 col-sm-3 whois-allies-img col-xs-5">
	        <img src="{% static 'img/teatro.png' %}" class="img-responsive whois-img-4"
	             alt="teatro la capilla">
	    </div>
	    <div class="col-md-p-15 col-sm-3 whois-allies-img col-xs-5">
	        <img src="{% static 'img/eo-logo.png' %}" class="img-responsive whois-img-5"
	             alt=eo>
	    </div>
	  </div>
	</section>
  <div id="call-modal" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Programa una llamada con nuestro equipo</h3>
        </div>
        <form  action="" class="modal-body">
          <div class="call-modal__left-column">
            <div class="input-wrapper">
              <input name="name" class="emma-input" required type="text" placeholder="Nombre completo">
            </div>
            <div class="input-wrapper">
              <input name="number" class="emma-input" required type="tel" placeholder="Teléfono">
            </div>
            <div class="input-wrapper">
              <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
            </div>
            <div class="input-wrapper">
              <select class="emma-input" required name="" id="">
                <option value="" disabled selected>Quiero acompañamiento para</option>
              </select>
            </div>
            <div class="input-wrapper">
              <textarea class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
            </div>
          </div>
          <div class="call-modal__right-column">
            <div class="call-modal__calendar">
              <div id="call-modal-datepicker" data-date="{{ today }}"></div>
              <input type="hidden"  id="date_input"
                name="date_input" value="{{ today }}">
            </div>
            <div class="call-modal__time">
              <div class="call-modal__time-inner">
                <strong>Hora:</strong>
                <div class="emma-input">
                  <input name="hour" class="hour-input" type="text"
                         placeholder="00" max="12" min="1"
                         value="10">:<input
                    class="minute-input" type="text" max="59" min="0"
                    placeholder="00" value="30" name="minute">
                </div>
                <input id="reservation-time-button__call" type="text" name="morning" value="AM"
                       class="reservation-time-button emma-input date-input date-input-little" readonly>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="emma-btn emma-btn-light">Programar</button>
        </div>
      </div>
    </div>
  </div>
  <div id="call-confirmation-modal" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img class="emma-modal__check" src="{% static 'img/icons/modal-check.png' %}" alt="">
          <p class="call-confirmation-modal__text">
            Tu llamada ha sido programada de manera exitosa para el día
            <span class="call-confirmation-modal__text--date"><span class="call-confirmation-modal__text--yellow"></span></span>
            a las <span class="call-confirmation-modal__text--time call-confirmation-modal__text--yellow"></span>
          </p>
          <span class="call-confirmation-modal--bottom-text">
            Mara, fundadora en Emma, se pondrá en contacto contigo
          </span>
          <img class="call-confirmation-modal__photo" src="{% static 'img/Mara.png' %}" alt="Mara - Fundadora de Emma">
        </div>
      </div>
    </div>
  </div>
  <div id="appointment-modal" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Agenda una cita en nuestras oficinas</h3>
        </div>
        <form  action="" class="modal-body">
          <div class="call-modal__left-column">
            <div class="input-wrapper">
              <input name="name" class="emma-input" required type="text" placeholder="Nombre completo">
            </div>
            <div class="input-wrapper">
              <input name="number" class="emma-input" required type="tel" placeholder="Teléfono">
            </div>
            <div class="input-wrapper">
              <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
            </div>
            <div class="input-wrapper">
              <select class="emma-input" required name="" id="">
                <option value="" disabled selected>Quiero acompañamiento para</option>
              </select>
            </div>
            <div class="input-wrapper">
              <textarea class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
            </div>
            <span class="appointment-modal__toggle-trigger">Ver calendario</span>
            <div class="appointment-modal__toggle">
              <div class="call-modal__calendar">
                <div id="appointment-modal-datepicker" data-date="{{ today }}"></div>
                <input type="hidden"  id="date_input"
                  name="date_input" value="{{ today }}">
              </div>
              <div class="call-modal__time">
                <div class="call-modal__time-inner">
                  <strong>Hora:</strong>
                  <div class="emma-input">
                    <input name="hour" class="hour-input" type="text"
                           placeholder="00" max="12" min="1"
                           value="10">:<input
                      class="minute-input" type="text" max="59" min="0"
                      placeholder="00" value="30" name="minute">
                  </div>
                  <input id="reservation-time-button__appointment" type="text" name="morning" value="AM" class="reservation-time-button emma-input date-input date-input-little" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="call-modal__right-column">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.655238401047!2d-99.17193578563455!3d19.427296586887383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff4a47c81d6b%3A0x5542eb7c54fb6cca!2sR%C3%ADo+Volga+77%2C+Cuauht%C3%A9moc%2C+06500+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1488389423517"></iframe>
            </div>
            <span class="landing-agend-call__address">Río Volga 77, Cuauhtémoc, 06500 Ciudad de México, CDMX</span>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="emma-btn emma-btn-light">Agendar</button>
        </div>
      </div>
    </div>
  </div>
  <div id="appointment-confirmation-modal" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img class="emma-modal__check" src="{% static 'img/icons/modal-check.png' %}" alt="">
          <p class="call-confirmation-modal__text">
            Tu visita en nuestras oficinas ha sido agendada de manera exitosa para el día
            <span class="call-confirmation-modal__text--date"><span class="call-confirmation-modal__text--yellow"></span></span>
            a las <span class="call-confirmation-modal__text--time call-confirmation-modal__text--yellow"></span>. A la brevedad recibirás un correo de confirmación
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block js %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
	<script src="{% static 'js/reservationFormCalendar.js' %}"></script>
	<script src="{% static 'lib/jstz/jstz.min.js' %}"></script>
	<script type="text/javascript">
		$(function() {
			var tz = jstz.determine();
			$('#timezone').val(tz.name());
		});
	  $( "#dateForm" ).submit(function( event ) {
		  window._fbq.push(['track', 'Lead']);
	    return true
		});
	</script>
  <script type="text/javascript">
    $('#call-modal button').click(function () {
      $('#call-modal').modal('hide');
      $('#call-confirmation-modal').modal('toggle');
    });
    $('#appointment-modal button').click(function () {
      $('#appointment-modal').modal('hide');
      $('#appointment-confirmation-modal').modal('toggle');
    });
  </script>
{% endblock js %}