{% extends "base.html" %}
{% block fbpixel %}
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq)return;
      n = f.fbq = function () {
        n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq)f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '497421603784093');
    fbq('track', "PageView");
    window._fbq.push(['track', 'ViewContent']);
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
  <section class="terms">
    <div class="container">
      <div class="row text-center join-row-title">
        <div class="col-xs-10 col-sm-8 col-md-10 col-lg-10">
          <h1 class="terms-title2">
            Aviso de privacidad
          </h1>
        </div>
      </div>
      <p class="terms-p2"><strong>SERVICIOS DE ATENCI&Oacute;N PARA ADULTOS MAYORES EMMA, S.A.P.I. DE
        C.V.</strong>,<strong>
        (EMMA)</strong> todos con domicilio en Calzada de los Llorones 74, Colonia La Estad&iacute;a, C.P. 52936, Atizap&aacute;n
        de Zaragoza, Estado de M&eacute;xico, M&eacute;xico, ser&aacute;n los responsables del uso y protecci&oacute;n
        de sus datos personales, y al respecto le informan lo siguiente:</p>
      <p class="terms-p2">Los datos que de usted recabamos son necesarios para el servicio que nos solicita, los cuales
        ser&aacute;n
        utilizados para las finalidades que a continuaci&oacute;n se mencionan:</p>
      <ul class="terms-ul">
        <li class="terms-li">Definir los alcances del Contrato y de los servicios que se le brindar&aacute;n al Usuario;</li>
        <li class="terms-li">Proveer al Usuario los servicios de atenci&oacute;n y acompa&ntilde;amiento personalizados que nos
          solicite;
        </li>
        <li class="terms-li">Identificaci&oacute;n y selecci&oacute;n de acompa&ntilde;antes Emma para brindarle al Usuario los servicios
          contratados;
        </li>
        <li class="terms-li">Identificaci&oacute;n de las actividades que desarrollar&aacute;n juntos la acompa&ntilde;ante Emma y el
          Usuario;
        </li>
        <li class="terms-li">Identificaci&oacute;n de las actividades que el Usuario puede o no desarrollar; determinar las personas a
          quien se pueda llamar para notificarles sobre el estado de salud del Usuario y para que dichas personas tomen
          las decisiones que procedan en relaci&oacute;n a la salud del Usuario en casos de emergencia, accidente o
          deterioro de la salud del Usuario durante la prestaci&oacute;n de los servicios,
        </li>
        <li class="terms-li">Creaci&oacute;n, estudio, an&aacute;lisis, actualizaci&oacute;n y conservaci&oacute;n del expediente
          personal.
        </li>
        <li class="terms-li">Brindar informaci&oacute;n a terceros relacionados con usted a quienes usted autorice se le proporcione
          informaci&oacute;n sobre su estado de salud.
        </li>
        <li class="terms-li">Facturaci&oacute;n y cobranza de los servicios.</li>
      </ul>
      <p class="terms-p2">De manera adicional, utilizaremos su informaci&oacute;n personal para las siguientes
        finalidades que no son
        necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor
        atenci&oacute;n:</p>
      <ul class="terms-ul">
        <li class="terms-li">Estudios, registros, estad&iacute;sticas y an&aacute;lisis de informaci&oacute;n de salud.</li>
        <li class="terms-li">Conservaci&oacute;n de registros para seguimiento a servicios, prestaci&oacute;n de servicios en el futuro y
          en general para dar seguimiento a cualquier relaci&oacute;n contractual.
        </li>
        <li class="terms-li">Comunicaci&oacute;n de informaci&oacute;n relevante y servicios.</li>
      </ul>
      <p class="terms-p2">En caso de que no desee que sus datos personales sean tratados para estos fines adicionales,
        usted puede
        manifestarlo v&iacute;a correo electr&oacute;nico ernanda@miemma.com o notificarlo por escrito al domicilio
        anteriormente referido.</p>
      <p class="terms-p2"><strong>MANEJO DE DATOS PERSONALES Y DE DATOS SENSIBLES</strong></p>
      <p class="terms-p2">A efectos de llevar a cabo las finalidades descritas en el presente Aviso de Privacidad,
        utilizaremos los
        siguientes datos personales:</p>
      <p class="terms-p2"><strong>Datos de identificaci&oacute;n</strong>: Nombre completo, estado civil, edad, sexo,
        nacionalidad, lugar
        y fecha de nacimiento, firma aut&oacute;grafa, Registro Federal de Contribuyentes (RFC); Clave &Uacute;nica de
        Registro de Poblaci&oacute;n (CURP); en su caso fotograf&iacute;as o videos que se integrar&aacute;n a su
        expediente personal, para dar seguimiento a su evoluci&oacute;n o del tratamiento o asistencia brindada.</p>
      <p class="terms-p2"><strong>Datos generales: </strong>escolaridad, hobbies e intereses personales, rasgos de su
        personalidad,
        descripci&oacute;n sobre capacidades y aptitudes,</p>
      <p class="terms-p2"><strong>Datos de contacto</strong>: domicilio; correo electr&oacute;nico; tel&eacute;fono
        fijo; tel&eacute;fono
        celular, entre otros, as&iacute; como nombre, domicilio y tel&eacute;fono de alg&uacute;n familiar que designe
        como familiar responsable y para comunicaci&oacute;n en caso de urgencia.</p>
      <p class="terms-p2"><strong>Datos sobre caracter&iacute;sticas f&iacute;sicas</strong>: se&ntilde;as particulares;
        estatura; peso;
        complexi&oacute;n.</p>
      <p class="terms-p2"><strong>Datos financieros:</strong> En su caso n&uacute;mero de cuenta bancaria y/o n&uacute;mero
        de tarjeta de
        cr&eacute;dito y/o CLABE interbancaria, datos fiscales.</p>
      <p class="terms-p2">Adem&aacute;s de los datos personales mencionados anteriormente, para las finalidades
        informadas en el presente
        Aviso de Privacidad utilizaremos los siguientes datos personales considerados como sensibles:</p>
      <p class="terms-p2"><strong>Datos Personales Sensibles</strong>: A fin de poder brindar la prestaci&oacute;n de
        los servicios, le
        ser&aacute;n solicitados datos personales sensibles que se requieran para tal efecto: religi&oacute;n, estado de
        salud actual, padecimientos pasados y presentes, antecedentes heredofamiliares, alergias, tipo de sangre,
        medicamentos, estructura familiar, s&iacute;ntomas, antecedentes patol&oacute;gicos relevantes, antecedentes de
        salud, en algunos casos, cuando se requiera para la prestaci&oacute;n de los servicios tambi&eacute;n podr&aacute;n
        ser tratados datos personales sensibles como lo son la preferencia sexual, informaci&oacute;n &nbsp;relacionada
        con la valoraci&oacute;n, preservaci&oacute;n, cuidado, mejoramiento y recuperaci&oacute;n de su estado de salud
        f&iacute;sico o mental, presente, pasado o futuro.</p>
      <p class="terms-p2">Al contratar la prestaci&oacute;n de los servicios, se utilizar&aacute; la siguiente informaci&oacute;n
        generada: Historial de pagos, h&aacute;bitos de uso de nuestros servicios y frecuencia, datos de la suscripci&oacute;n,
        avance en el uso de nuestra plataforma, datos sobre el desempe&ntilde;o de las acompa&ntilde;antes EMMA,
        sugerencias y comentarios.</p>

      <p class="terms-p2"><strong>TRANSFERENCIA DE DATOS PERSONALES</strong></p>

      <p class="terms-p2">Le informamos que sus datos personales pueden ser compartidos dentro y fuera del pa&iacute;s a
        terceros, para
        fines estad&iacute;sticos, evaluaci&oacute;n de calidad preparaci&oacute;n de reportes, etc. Al aceptar
        manifestar su consentimiento para el tratamiento de sus datos personales, Usted acepta la transferencia de sus
        datos en los t&eacute;rminos del presente p&aacute;rrafo.</p>

      <p class="terms-p2">Usted puede en todo momento restringir el uso de sus datos personales enviando un correo
        electr&oacute;nico a
        (fernanda@miemma.com) o notificando por escrito al domicilio anteriormente se&ntilde;alado.</p>



      <p class="terms-p2"><strong>MEDIOS PARA EJERCER DERECHOS ARCO </strong></p>

      <p class="terms-p2">Los derechos ARCO consisten en: (Acceso) derecho a conocer qu&eacute; datos personales tenemos
        de usted, para
        qu&eacute; los utilizamos y las condiciones del uso que les damos. (Rectificaci&oacute;n) derecho a solicitar la
        correcci&oacute;n de su informaci&oacute;n personal en caso de que est&eacute; desactualizada, sea inexacta o
        incompleta. (Cancelaci&oacute;n) derecho a que eliminemos su informaci&oacute;n personal de nuestros registros o
        bases de datos cuando considere que la misma no est&aacute; siendo utilizada conforme a los principios, deberes
        y obligaciones previstas en la normativa. (Oposici&oacute;n) derecho a oponerse al uso de sus datos personales
        para fines espec&iacute;ficos.</p>

      <p class="terms-p2">Los datos de contacto son los siguientes: correo electr&oacute;nico (fernanda@miemma.com),
        domicilio en Calzada
        de los Llorones 74, Colonia La Estad&iacute;a, C.P. 52936, Atizap&aacute;n de Zaragoza, Estado de M&eacute;xico,
        M&eacute;xico.</p>

      <p class="terms-p2"><strong>PROCEDIMIENTO ARCO Y REVOCACI&Oacute;N DEL CONSENTIMIENTO:</strong></p>

      <p class="terms-p2">Para el ejercicio de sus Derechos ARCO y/o la revocaci&oacute;n de su consentimiento para el
        tratamiento de sus
        datos personales por cualquiera de nuestras empresas referidas, agradeceremos presente una solicitud (&ldquo;Solicitud
        de Ejercicio de Derechos ARCO&rdquo;) al correo electr&oacute;nico (fernanda@miemma.com), acompa&ntilde;ando la
        siguiente informaci&oacute;n:</p>

      <ul class="terms-ul">
        <li class="terms-li">Nombre completo y domicilio (calle, n&uacute;mero interior y/o exterior, colonia, c&oacute;digo postal,
          ciudad y estado) del solicitante;
        </li>
        <li class="terms-li">Identificaci&oacute;n con la que acredite su personalidad (credencial del IFE, pasaporte vigente, c&eacute;dula
          profesional o documento migratorio).
        </li>
      </ul>
      <p class="terms-p2">Nota: En caso de no ser el titular quien presente la solicitud, el documento que acredite la
        existencia de la
        representaci&oacute;n, es decir, instrumento p&uacute;blico o carta poder firmada ante dos testigos, junto con
        identificaci&oacute;n del titular y del representante (credencial del IFE, pasaporte vigente, c&eacute;dula
        profesional o documento migratorio).</p>
      <p class="terms-p2">Nota: Para el caso de menores de edad, los documentos para acreditar la representaci&oacute;n
        legal de este,
        ser&aacute;n: acta de nacimiento y credencial con fotograf&iacute;a del menor (otorgada por la instituci&oacute;n
        acad&eacute;mica a donde acuda), credencial del IMSS, Pasaporte vigente, o cualquier otra que cuente con
        fotograf&iacute;a del mismo, adem&aacute;s que al acudir a presentar los documentos para su cotejo respectivo,
        la firma del documento que se anexará a la solicitud como &ldquo;acreditaci&oacute;n de representaci&oacute;n
        legal&rdquo; en el cual bajo protesta de decir verdad, se manifiesta ser el responsable del menor; para el caso
        de interdictos, los documentos para acreditar la representaci&oacute;n legal ser&aacute;n: acta de interdicto y
        credencial con fotograf&iacute;a de la persona que ostente esta situaci&oacute;n jur&iacute;dica, ya sea,
        credencial del IFE, pasaporte vigente, c&eacute;dula profesional o documento migratorio.</p>
      <ul class="terms-ul">
        <li class="terms-li">Una descripci&oacute;n clara y precisa de los datos personales respecto de los cuales busca ejercer alguno
          de los Derechos ARCO, cual es el derecho a ejercer y las razones por las cuales desea ejercitarlo;
        </li>
        <li class="terms-li">Cualquier documento o informaci&oacute;n que acredite que sus datos personales se encuentran en propiedad de
          cualquiera de nuestras empresas referidas;
        </li>
      </ul>

      <p class="terms-p2">En caso de solicitar una rectificaci&oacute;n de datos, favor de indicar tambi&eacute;n las
        modificaciones a
        realizarse, aportando la documentaci&oacute;n que sustente su petici&oacute;n.</p>

      <p class="terms-p2">Cualquiera de las empresas referidas responder&aacute;́ su &ldquo;Solicitud&rdquo; mediante
        correo electr&oacute;nico
        a la siguiente direcci&oacute;n fernanda@miemma.com o personalmente en Calzada de los Llorones 74, Colonia La
        Estad&iacute;a, C.P. 52936, Atizap&aacute;n de Zaragoza, Estado de M&eacute;xico, M&eacute;xico, en un t&eacute;rmino
        de 20 (veinte) d&iacute;as h&aacute;biles contados a partir de que se le env&iacute;e acuse de recibo de
        su &ldquo;Solicitud&rdquo;. En caso de que la &ldquo;Solicitud&rdquo; sea procedente, la respuesta podr&aacute;́
        enviarse v&iacute;a correo electr&oacute;nico o de forma personal. Cualquiera de las empresas referidas podr&aacute;́
        solicitarle, para poder darle una respuesta, que presente para cotejo en el domicilio antes citado, original de
        los documentos que envi&oacute;́ junto con su &ldquo;Solicitud&rdquo;, dentro de los 5 (cinco) d&iacute;as h&aacute;biles
        a que le sean requeridos. Si pasado dicho t&eacute;rmino, no se presentan los citados documentos, la &ldquo;Solicitud&rdquo;
        se dar&aacute;́ por concluida.</p>

      <p class="terms-p2">Cuando la &ldquo;Solicitud&rdquo; sea procedente y se hayan llevado a cabo los cotejos
        correspondientes con
        respecto a la personalidad y titularidad de los Derechos ARCO los t&eacute;rminos para dar respuesta ser&aacute;n
        los siguientes:</p>

      <p class="terms-p2">Para el acceso de los datos o su rectificaci&oacute;n: dentro de un plazo de 15 d&iacute;as h&aacute;biles
        contados a partir de la respuesta afirmativa por cualquiera de los medios se&ntilde;alados;</p>

      <p class="terms-p2">Para la cancelaci&oacute;n u oposici&oacute;n de los datos: se har&aacute;́ primero un bloqueo
        de los mismos,
        desde el momento en que se hizo el cotejo de la documentaci&oacute;n requerida, en donde el acceso a los datos
        personales estar&aacute;́ restringido a toda persona hasta que haya una respuesta a la solicitud ya sea
        afirmativa o negativa, en el primer caso dentro de un plazo de 15 d&iacute;as h&aacute;biles contados a partir
        de la respuesta afirmativa hecha por cualquiera de las empresas &nbsp;y en el segundo caso, se har&aacute;́ el
        desbloqueo de los mismos para seguir con el tratamiento.</p>

      <p class="terms-p2">Los plazos referidos en los incisos anteriores se podr&aacute;n prorrogar una sola vez por un
        periodo igual en
        caso de ser necesario y previa notificaci&oacute;n hecha por cualquiera de las empresas referidas.</p>

      <p class="terms-p2">Podemos negar el ejercicio de los Derechos ARCO, en los siguientes supuestos:</p>

      <ul class="terms-ul">
        <li class="terms-li">Cuando el solicitante no sea el titular de los datos personales, o no pueda acreditar la representaci&oacute;n
          del titular;
        </li>
        <li class="terms-li">Cuando sus datos personales no obren en la base de datos cualquiera de nuestras empresas;</li>
        <li class="terms-li">Cuando se lesionen los derechos de un tercero;</li>
        <li class="terms-li">Cuando exista un impedimento legal o resoluci&oacute;n de autoridad competente, que restrinja sus Derechos
          ARCO;
        </li>
      </ul>
      <p class="terms-p2">En caso de cancelaci&oacute;n, cuando los datos personales sean objeto de tratamiento para
        prestaci&oacute;n de
        los servicios y; cuando la rectificaci&oacute;n, cancelaci&oacute;n u oposici&oacute;n haya sido previamente
        realizada, la negativa podr&aacute;́ ser parcial, en cuyo caso se efectuará el acceso, rectificaci&oacute;n,
        cancelaci&oacute;n u oposici&oacute;n en la parte procedente.</p>
      <p class="terms-p2">El ejercicio de los &ldquo;Derechos ARCO&rdquo; ser&aacute;́ gratuito, pero en caso de que en
        un periodo menor
        a doce meses se presenten dos solicitudes o m&aacute;s, los costos ser&aacute;n de tres d&iacute;as de Salario M&iacute;nimo
        General Vigente en la Ciudad de M&eacute;xico, a menos que existan modificaciones sustanciales al Aviso de
        Privacidad que motiven nuevas Solicitudes de Ejercicio de Derechos ARCO. El solicitante deber&aacute;́ cubrir
        los gastos justificados de env&iacute;o o el costo de reproducci&oacute;n en copias u otros formatos.</p>
      <p class="terms-p2"><strong>REVOCACI&Oacute;N DE SU CONSENTIMIENTO PARA EL USO DE SUS DATOS PERSONALES</strong>
      </p>

      <p class="terms-p2">Usted puede revocar el consentimiento para el tratamiento de sus datos personales. Sin
        embargo, es importante
        que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma
        inmediata, ya que es posible que por alguna obligaci&oacute;n legal requiramos seguir tratando sus datos
        personales. Asimismo, usted deber&aacute; considerar que para ciertos fines, la revocaci&oacute;n de su
        consentimiento implicar&aacute; que no le podamos seguir prestando el servicio que nos solicit&oacute;, o la
        conclusi&oacute;n de su relaci&oacute;n con nosotros.</p>
      <p class="terms-p2">Para revocar su consentimiento deber&aacute; presentar su solicitud enviando un correo a
        fernanda@miemma.com o
        notificar por escrito al domicilio antes referido.</p>
      <p class="terms-p2"><strong>L&Iacute;MITE DEL USO O DIVULGACI&Oacute;N DE SU INFORMACI&Oacute;N PERSONAL</strong>
      </p>
      <p class="terms-p2">Con objeto de que usted pueda limitar, &nbsp;el uso y divulgaci&oacute;n de su informaci&oacute;n
        personal, le
        ofrecemos los siguientes medios:</p>
      <p class="terms-p2">1.- Su inscripci&oacute;n en el Registro P&uacute;blico para evitar Publicidad, que est&aacute;
        a cargo de la
        Procuradur&iacute;a Federal del Consumidor, con la finalidad de que sus datos personales no sean utilizados para
        recibir publicidad o promociones de empresas de bienes o servicios. Para mayor informaci&oacute;n sobre este
        registro, usted puede consultar el portal de Internet de la PROFECO, o bien ponerse en contacto directo
        con &eacute;sta.</p>
      <p class="terms-p2">2.- Enviar un correo a fernanda@miemma.com o notificar por escrito al domicilio antes
        referido, a fin de que
        sus datos personales no sean tratados para fines mercadot&eacute;cnicos, publicitarios o de prospecci&oacute;n
        comercial por nuestra parte.</p>

      <p class="terms-p2"><strong>CAMBIOS AL AVISO DE PRIVACIDAD</strong></p>
      <p class="terms-p2">El presente Aviso de Privacidad puede sufrir modificaciones, cambios o actualizaciones
        derivadas de nuevos
        requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras
        pr&aacute;cticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas. En caso de
        cualquier cambio o modificaci&oacute;n al presente Aviso de Privacidad se har&aacute; una publicaci&oacute;n
        informando tal situaci&oacute;n a trav&eacute;s de nuestro portal web <a href="https://www.miemma.com">https://www.miemma.com</a>
      </p>
    </div>
  </section>
{% endblock content %}
