{% extends "base.html" %}
{% load humanize %}
{% load static from staticfiles %}
{% block meta_description %}
  <!-- Metadata -->
  <meta property="description" content="Ofrecemos suscripciones mensuales adecuadas a tus necesidades."/>
{% endblock %}
{% block fbpixel %}
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '497421603784093');
	fbq('track', "PageView");
	window._fbq.push(['track', 'ViewContent']);
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
<div id="hiring-flow">
  <h2 class="step-title" style="margin-top: 0">Tu Plan</h2>
  <p class="plans-introductory-text">
    Desde una hora de Emma con fines de entretenimiento hasta un plan
especializado con seguimiento geriátrico.
  </p>
  <p class="plans-introductory-text">
  Siempre encontrarás un plan acorde a las necesidades de tu ser querido:</p>
  <p>
  <div class="plans-selector">
    <div class="plans-container">
      {% for plan in plans %}
      <div class="plan-item">
        <span class="plan-title">{{ plan.name }}</span>
        <div class="plan-content-wrapper">
          <div class="plan-content">
            <span class="price">
            ${{ plan.price|intcomma:False }}<sup class="sup">MXN</sup></span>
            <p class="description">
              Hasta {{ plan.max_hours_per_month }} hrs. de acompañamiento mensuales
            </p>
            <a href="{% url 'xauth:login' %}" class="emma-btn emma-btn-light">Seleccionar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="plan-item custom">
      <span class="plan-title">Personalizado</span>
      <div class="plan-content-wrapper">
        <div class="plan-content">
          <p class="description">
            ¿Te gustaría tener un plan a tu medida?
          </p>
          <a href="#" class="emma-btn emma-btn-light">Crealo aquí</a>
        </div>
      </div>
    </div>
        <div class="row text-center padding-top-30 form-loader">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-50">
            <div id="movingBallG">
              <div class="movingBallLineG"></div>
              <div id="movingBallG_1" class="movingBallG"></div>
            </div>
          </div>
        </div>
  </div>
  <a href="#characteristics-table" class="emma-btn compare-plans-btn" data-action="scroll">Comparar planes</a>
  <div class="white">
    <div id="characteristics-table" class="plans-table-container">
      <div class="table-responsive">
        <table class="table plans-characteristics-table">
          <thead>
            <tr>
              <th colspan="2">Beneficios</th>
              <th>Introductorio</th>
              <th>Básico</th>
              <th>Pro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Activación de intereses del adulto mayor</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                </span>
              </td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Reportes mensuales para los familiares</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Combinación de diferentes talleres</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Monitoreo de actividad cognitiva y de la memoria</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td></td>
              <td></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Asistencia en transporte para actividades fuera de casa</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td></td>
              <td></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Plan de atención creado por nuestros geriatras</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td></td>
              <td></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Involucramiento del geriatra o médico de cabecera</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td></td>
              <td></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
            <tr>
              <td>Valoraciones geriátricas periódicas</td>
              <td>
                <span class="tooltip-container" data-toggle="tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod">
                    ?
                    </span>
              </td>
              <td></td>
              <td></td>
              <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="on-demand-container">
      <h2 class="on-demand-title">¿Deseas ayuda de Emma por sólo esta ocasión?</h2>
      <div class="on-demand-images">
        <div class="image-item">
          <span class="hover-text">
            Emma te acompaña con tus pendientes diarios
          </span>
        </div>
        <div class="image-item">
          <span class="hover-text">
            ¿Ganas de ir al teatro o al cine?
          </span>
        </div>
        <div class="image-item">
          <span class="hover-text">
            Vamos contigo al doctor
          </span>
        </div>
      </div>
      <div class="button-container">
        <p>
          <span>Envíanos tu solicitud y pide una <i>Emma</i> por única vez</span>
          <a href="{% url 'services:contract_unique' %}" class="emma-btn emma-btn-light">Solicitar una Emma</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}