{% extends "base.html" %}
{% load humanize %}
{% load static from staticfiles %}
{% block meta_description %}
  <!-- Metadata -->
  <meta property="description" content="Ofrecemos suscripciones mensuales adecuadas a tus necesidades."/>
{% endblock %}
{% block fbpixel %}
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '497421603784093');
	fbq('track', "PageView");
	window._fbq.push(['track', 'ViewContent']);
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=497421603784093&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
{% endblock %}
{% block content %}
<div id="hiring-flow">
  <h2 class="step-title" style="margin-top: 0">Tu Plan</h2>
  <p class="plans-introductory-text">
    Desde una hora de Emma con fines de entretenimiento hasta un plan
especializado con seguimiento geriátrico.
  </p>
  <p class="plans-introductory-text">
  Siempre encontrarás un plan acorde a las necesidades de tu ser querido:</p>
  <p>
  <div class="plans-selector">
    <div class="plans-container">
      {% for plan in plans %}
      <div class="plan-item">
        <span class="plan-title">{{ plan.name }}</span>
        <div class="plan-content-wrapper">
          <div class="plan-content">
            <span class="price">
            ${{ plan.price|intcomma:False }}<sup class="sup">MXN</sup> <span class="small">Plan mensual</span></span>
            <p class="description">
              {{ plan.weekly_hours }} hrs. de acompañamiento semanales
            </p>
          {% if plan.name == 'Básico' %}
            <button data-toggle="modal" data-target="#call-modal_basico"
                  class="emma-btn-dark info-1-btn">
  				        Seleccionar
            </button>

          {% elif plan.name == 'Mixto'%}
            <button data-toggle="modal" data-target="#call-modal_mixto"
                  class="emma-btn-dark info-1-btn">
  				        Seleccionar
            </button>
          {% elif plan.name == 'Pro'%}
            <button data-toggle="modal" data-target="#call-modal_pro"
                  class="emma-btn-dark info-1-btn">
  				        Seleccionar
            </button>
          {% else %}
            <button data-toggle="modal" data-target="#call-modal_person"
                  class="emma-btn-dark info-1-btn">
  				        Seleccionar
            </button>
          {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="plan-item custom">
      <span class="plan-title">Personalizado</span>
      <div class="plan-content-wrapper">
        <div class="plan-content">
          <p class="description">
            ¿Te gustaría tener un plan a tu medida?
          </p>
           <button data-toggle="modal" data-target="#call-modal_person"
                  class="emma-btn-dark info-1-btn">
  				        Seleccionar
            </button>
        </div>
      </div>
    </div>
        <div class="row text-center padding-top-30 form-loader">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-50">
            <div id="movingBallG">
              <div class="movingBallLineG"></div>
              <div id="movingBallG_1" class="movingBallG"></div>
            </div>
          </div>
        </div>
  </div>

  <div id="call-modal_basico" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document" style="max-width: 500px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
      </button>
      <form id="call-modal__form_basico" action="{% url 'landing:service_call' %}" class="modal-content" data-ajax-form>
        {% csrf_token %}
        <input name="plan"  type="hidden" value="Plan Básico">
        <div class="modal-header">
          <h4 class="modal-title">Plan Básico <br>
					Actividades educacionales  y de entretención. <br>
					Este plan está recomendado para adultos mayores que buscan aprender nuevas habilidades.<br>
					Proporciónanos tus datos y te contactaremos con más información sobre este plan.
		  </h4>
        </div>
        <div class="modal-body">
          <div class="call-modal__left-column" style="margin-left: 1em;">
            <div class="input-wrapper">
              <input name="name" class="emma-input" required type="text" placeholder="Nombre completo">
            </div>
            <div class="input-wrapper">
              <input name="phone" class="emma-input" required type="tel" placeholder="Teléfono">
            </div>
            <div class="input-wrapper">
              <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
            </div>
            <div class="input-wrapper">
              <select class="emma-input"  name="service">
                <option value="" disabled selected>Quiero acompañamiento para</option>
                <option value="Mi papá">Mi papá</option>
                <option value="Mi mamá">Mi mamá</option>
                <option value="Otro familiar">Otro familiar</option>
              </select>
            </div>
            <div class="input-wrapper">
              <textarea name="description" class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
            </div>
          </div>
          <div class="call-modal__right-column" style="display: none;">
            <div class="call-modal__calendar">
              <div id="call-modal-datepicker" data-date="{{ today }}"></div>
              <input class="date-hidden-input" type="hidden" id="call-modal__date-input"
                name="date" data-for="call-modal-datepicker" value="{{ today }}">
            </div>
            <div class="call-modal__time">
              <div class="call-modal__time-inner">
                <strong>Hora:</strong>
                <div class="emma-input">
                  <div class="input-wrapper">
                    <input name="hour" class="hour-input" type="text" placeholder="00" max="12" min="1" value="10">:<input class="minute-input" type="text" max="59" min="0"
                    placeholder="00" value="30" name="minute">
                  </div>
                </div>
                <input id="reservation-time-button__call" type="text" name="morning" value="AM"
                       class="reservation-time-button emma-input date-input date-input-little" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row text-center form-loader">
    	      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	        <div>
    	          <div class="movingBallLineG"></div>
    	          <div class="movingBallG"></div>
    	        </div>
    	      </div>
    	    </div>
          <button type="submit" class="emma-btn emma-btn-light">Más información</button>
        </div>
      </form>
    </div>
  </div>

  <div id="call-modal_mixto" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document" style="max-width: 500px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
      </button>
      <form id="call-modal__form_mixto" action="{% url 'landing:service_call' %}" class="modal-content" data-ajax-form>
        {% csrf_token %}
          <input name="plan"  type="hidden" value="Plan Mixto">
        <div class="modal-header">
          <h4 class="modal-title">Plan Mixto<br>
				Adultos mayores con depresión  o socialmente aislados.<br>
				Este plan está recomendado en los siguientes casos:<br>
				¿Dificultades para salir de casa?<br>
				¿Trato de una pérdida familiar?<br>
				¿Complementar el cuidado actual de enfermería?<br>
				Proporciónanos tus datos y te contactaremos con más información sobre este plan.

		  </h4>
        </div>
        <div class="modal-body">
          <div class="call-modal__left-column" style="margin-left: 1em;">
            <div class="input-wrapper">
              <input name="name" class="emma-input" required type="text" placeholder="Nombre completo">
            </div>
            <div class="input-wrapper">
              <input name="phone" class="emma-input" required type="tel" placeholder="Teléfono">
            </div>
            <div class="input-wrapper">
              <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
            </div>
            <div class="input-wrapper">
              <select class="emma-input"  name="service">
                <option value="" disabled selected>Quiero acompañamiento para</option>
                <option value="Mi papá">Mi papá</option>
                <option value="Mi mamá">Mi mamá</option>
                <option value="Otro familiar">Otro familiar</option>
              </select>
            </div>
            <div class="input-wrapper">
              <textarea name="description" class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row text-center form-loader">
    	      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	        <div>
    	          <div class="movingBallLineG"></div>
    	          <div class="movingBallG"></div>
    	        </div>
    	      </div>
    	    </div>
          <button type="submit" class="emma-btn emma-btn-light">Más información</button>
        </div>
      </form>
    </div>
  </div>

  <div id="call-modal_pro" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document" style="max-width: 500px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
      </button>
      <form id="call-modal__form_pro" action="{% url 'landing:service_call' %}" class="modal-content" data-ajax-form>
        {% csrf_token %}
          <input name="plan"  type="hidden" value="Plan Pro">
        <div class="modal-header">
          <h4 class="modal-title">Plan PRO<br>
				Adultos mayores con deterioro cognitivo leve, demencia o Alzheimer.<br>
				Este plan está recomendado en los siguientes casos:<br>
				¿Activación de la mente con ejercicios cognitivos?<br>
				¿Implementación de las recomendaciones del geriatra? <br>
				Proporciónanos tus datos y te contactaremos con más información sobre este plan.


		  </h4>
        </div>
        <div class="modal-body">
          <div class="call-modal__left-column" style="margin-left: 1em;">
            <div class="input-wrapper">
              <input name="name" class="emma-input" required type="text" placeholder="Nombre completo">
            </div>
            <div class="input-wrapper">
              <input name="phone" class="emma-input" required type="tel" placeholder="Teléfono">
            </div>
            <div class="input-wrapper">
              <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
            </div>
            <div class="input-wrapper">
              <select class="emma-input"  name="service">
                <option value="" disabled selected>Quiero acompañamiento para</option>
                <option value="Mi papá">Mi papá</option>
                <option value="Mi mamá">Mi mamá</option>
                <option value="Otro familiar">Otro familiar</option>
              </select>
            </div>
            <div class="input-wrapper">
              <textarea name="description" class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row text-center form-loader">
    	      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	        <div>
    	          <div class="movingBallLineG"></div>
    	          <div class="movingBallG"></div>
    	        </div>
    	      </div>
    	    </div>
          <button type="submit" class="emma-btn emma-btn-light">Más información</button>
        </div>
      </form>
    </div>
  </div>

  <div id="call-modal_person" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document" style="max-width: 500px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
      </button>
      <form id="call-modal__form_person" action="{% url 'landing:service_call' %}" class="modal-content" data-ajax-form>
        {% csrf_token %}
          <input name="plan"  type="hidden" value="Plan Personalizado">
        <div class="modal-header">
          <h4 class="modal-title">Plan Personalizado<br>
				Comprendemos que puedes tener requisitos especiales,con gusto te atendemos de manera personalizada.<br>
				Proporciónanos tus datos y te contactaremos con más información sobre este plan.
		  </h4>
        </div>
        <div class="modal-body">
          <div class="call-modal__left-column" style="margin-left: 1em;">
            <div class="input-wrapper">
              <input name="name" class="emma-input"  type="text" placeholder="Nombre completo">
            </div>
            <div class="input-wrapper">
              <input name="phone" class="emma-input" required type="tel" placeholder="Teléfono">
            </div>
            <div class="input-wrapper">
              <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
            </div>
            <div class="input-wrapper">
              <select class="emma-input" required name="service">
                <option value="" disabled selected>Quiero acompañamiento para</option>
                <option value="Mi papá">Mi papá</option>
                <option value="Mi mamá">Mi mamá</option>
                <option value="Otro familiar">Otro familiar</option>
              </select>
            </div>
            <div class="input-wrapper">
              <textarea name="description" class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row text-center form-loader">
    	      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	        <div>
    	          <div class="movingBallLineG"></div>
    	          <div class="movingBallG"></div>
    	        </div>
    	      </div>
    	    </div>
          <button type="submit" class="emma-btn emma-btn-light">Más información</button>
        </div>
      </form>
    </div>
  </div>

  <div id="call-confirmation-modal" role="dialog" class="modal fade emma-modal home-modal">
    <div class="modal-dialog" role="document">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
      </button>
      <div class="modal-content">
        <div class="modal-body">
          <img class="emma-modal__check" src="{% static 'img/icons/modal-check.png' %}" alt="">
          <p class="call-confirmation-modal__text">
            Gracias por el interes en el Plan
            <!--<span class="confirmation-modal__text--date confirmation-modal__text--yellow"></span> de <span class="confirmation-modal__text--year"></span>
            a las <span class="confirmation-modal__text--time confirmation-modal__text--yellow"></span>-->
          </p>
          <span class="call-confirmation-modal--bottom-text">
            Mara, fundadora en Emma, se pondrá en contacto contigo
          </span>
          <img class="call-confirmation-modal__photo" src="{% static 'img/Mara.png' %}" alt="Mara - Fundadora de Emma">
        </div>
      </div>
    </div>
  </div>
	{% include 'partials/chooseplan_services.html' %}
</div>
{% endblock %}
{% block js %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
	<script src="{% static 'js/reservationFormCalendar.js' %}"></script>
	<script src="{% static "js/hiring-flow/formloaders.js" %}"></script>
	<script src="{% static 'js/modalforms.js' %}"></script>
	<script src="{% static 'lib/jstz/jstz.min.js' %}"></script>
	<script>
		$('[data-toggle="tooltip"]').tooltip();
	</script>
{% endblock %}