{% extends "base.html" %}

{% block content %}
  <section class="terms">
    <div class="container">
      <div class="row">
        <h1 class="terms-title">
          Términos y condiciones
        </h1>
      </div>
      <div class="row">
        <p class="terms-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
          auctor, sem eget cursus semper, velit lectus lacinia arcu, et
          imperdiet nibh sem id risus. Curabitur eleifend purus sit amet
          ligula  nibus, a molestie ante convallis. Nunc consectetur
          fermentum arcu in malesuada. Nam eleifend ipsum ornare, viverra
          erat vestibulum, ultrices sem. Proin pulvinar, leo eget sagittis
          porta, neque nisi volutpat eros, in ultricies urna metus in ligula.
          Suspendisse iaculis, enim eget malesuada aliquet, mauris sem
          laoreet ipsum, eu elementum arcu metus quis quam. Praesent id
          ornare ante,  nibus laoreet ligula. Donec rhoncus elit non
          fermentum blandit. Donec eu placerat nulla, id commodo mauris.
          Phasellus semper sodales elit, ac gravida mauris tempor ac.
          Pellentesque nec maximus lorem. Fusce non ornare erat. Nulla
          interdum, sapien vel dictum placerat, felis nibh dapibus nisl, et
          vulputate nulla nisi sagittis dolor. Donec mattis eros nec massa
          faucibus dignissim. Duis at arcu blandit, ultricies nisl sit amet,
          fringilla ex.
        </p>
        <p class="terms-p">
          Donec porta pharetra velit eget consectetur. Fusce mollis ornare
          leo, et cursus sem interdum vel. Morbi sagittis lacus nec ligula
          eleifend hendrerit. Nullam iaculis tortor non nibh iaculis auctor.
          Etiam purus tortor, tincidunt a mauris bibendum, pellentesque
          consequat orci. Vivamus interdum lacus vel nunc dignissim congue.
          Aenean at nisi a sapien sollicitudin lacinia. Donec accumsan neque
          justo. Cras ut justo scelerisque, pharetra dolor eget, elementum
          tortor. Pellentesque ac libero tristique, dignissim elit sed,
          tempor sapien. Aenean  nibus tellus id metus laoreet fringilla.
          Nulla maximus, ipsum eget facilisis blandit, velit felis lacinia
          turpis, id accumsan massa est a tortor. Suspendisse potenti.
          Curabitur ac pretium mauris. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Morbi neque justo, malesuada eget
          molestie nec, venenatis nec ex.
        </p>
        <p class="terms-p">
          Donec egestas nisl in nunc molestie, in malesuada velit
          ullamcorper. Suspendisse potenti. Maecenas dapibus auctor sapien,
          et dignissim mauris vulputate a. Aliquam non purus vitae enim
          rhoncus rhoncus eu sed erat. Vestibulum ef citur nisl id urna
          vulputate, nec gravida ex scelerisque. Vestibulum ultrices quam
          vitae ipsum congue, sit amet tristique ex dapibus. Quisque dapibus
          mauris eget tincidunt accumsan. Cras volutpat magna augue,
          convallis ultricies tellus laoreet id. Donec pellentesque tortor
          non tortor ultrices varius. Nullam at eleifend lacus, id vestibulum
          erat. Aenean sed auctor mi. Sed maximus aliquet commodo. Curabitur
          rhoncus dui vitae urna tempus, id imperdiet mi imperdiet. Donec
          gravida placerat blandit. Quisque congue ef citur facilisis.
        </p>
        <p class="terms-p">
          Curabitur pellentesque vehicula turpis, et tincidunt est bibendum
          ut. Donec turpis tortor, convallis a lobortis ac, iaculis sed
          tellus. Donec et maximus enim. Duis in aliquam ipsum, eget semper
          dolor. Maecenas egestas arcu in justo vulputate ultrices.
          Vestibulum libero felis, porta id felis elementum, cursus ef citur
          augue. Nulla in ligula et sapien viverra hendrerit. Maecenas enim
          augue, faucibus sit amet tellus sit amet, ultricies aliquet enim.
        </p>
        <p class="terms-p">
          In id diam malesuada, facilisis felis quis, iaculis mauris. Nullam
          bibendum eleifend metus, eu imperdiet tortor fringilla sit amet.
          Mauris et fringilla massa. Proin at leo faucibus, suscipit magna
          volutpat, ultrices urna. Ut consequat dapibus neque quis accumsan.
          Fusce imperdiet vehicula nisi vitae sagittis. Suspendisse elementum mauris est, vitae ullamcorper magna convallis eu. Pellentesque et
          tortor ac ante laoreet auctor. Nullam elementum rutrum hendrerit.
          Proin fermentum mattis dui cursus tristique. Maecenas pulvinar
          lectus quis urna gravida ullamcorper. Duis eleifend pellentesque
          neque in ultrices. Pellentesque ut tincidunt est, eu posuere
          lectus. Donec a sapien sem. Nulla et tempor purus. Class aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos.
        </p>
        <p class="terms-p">
          Donec venenatis massa sed egestas consequat. Ut pretium, massa ac
          aliquam ef citur, quam metus auctor mi, vel gravida velit ipsum sit
          amet tortor. Aenean feugiat nunc lobortis, porta libero vel,
          ullamcorper odio. Nam lobortis quis dolor id convallis.
          Pellentesque convallis leo eu turpis scelerisque ornare. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus
          convallis est, ac scelerisque nulla molestie iaculis. Integer
          eleifend sapien nunc. Etiam ac massa interdum, mattis leo porta,
          tempor nisl. Mauris et odio non leo pulvinar viverra luctus ac
          massa. Maecenas ut justo a libero rutrum pellentesque a at diam.
          Nullam id diam ante. Donec sit amet nunc id augue consequat
          pellentesque in id elit. Curabitur convallis lacus metus, sit amet
          consectetur est pellentesque at. Aenean tincidunt tristique quam a
          posuere. Phasellus lobortis mauris id mauris hendrerit posuere.
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
