{% extends "base.html" %}

{% load static from staticfiles  %}

{% block content %}
	<section class="pay">
		<h1 class="pay-title">
      Paga tu servicio
    </h1>
		<div class="row text-center">
      <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
        <form class="pay-form" action="." method="post" id="pay-form">
          {% csrf_token %}
					<div class="row">
		        <div class="col-lg-12 col-lg-offset-1 col-xs-10 col-xs-offset-1">
							{% for card in cards %}
								{% if forloop.first %}
									<span class="pay-input-label">
		                <input id="{{ card.id }}" class="pay-radio-check-button"
		                       type="radio" value="{{ card.id }}" checked
		                       name="customer-card">
		                <label class="pay-radio-check-label"
		                       for="{{ card.id }}">
			                {{ card.card_number }}
			                <span class="pay-card-brand">
				                {{ card.brand | upper }}
			                </span>
		                </label>
		              </span>
								{% else %}
									<span class="pay-input-label">
		                <input id="{{ card.id }}" class="pay-radio-check-button"
		                       type="radio" value="{{ card.id }}"
		                       name="customer-card">
		                <label class="pay-radio-check-label"
		                       for="{{ card.id }}">
			                {{ card.card_number }}
			                <span class="pay-card-brand">
				                {{ card.brand | upper }}
			                </span>
		                </label>
		              </span>
								{% endif %}
							{% endfor %}
		        </div>
	        </div>
          <div class="row text-center">
		        <div class="col-lg-10 col-xs-10">
			         <input type="text" autocomplete="off" name="service_ammount"
			                placeholder="Monto a pagar (MXN)" required
			                class='emma-input pay-form-input' />
		        </div>
	        </div>
	        <input type='hidden' name='devsessionid' id='devsessionid'>
          <div class="row text-center padding-top-30 pay-loader">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div id="movingBallG">
								<div class="movingBallLineG"></div>
								<div id="movingBallG_1" class="movingBallG"></div>
						</div>
            </div>
          </div>
          <div class="row text-center">
	          <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
	            <a href="{% url 'users:add_card' %}"
	               class="emma-btn-dark pay-btn">
		            Agregar otra tarjeta
	            </a>
            </div>
	          <div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
              <input type="submit" id="pay-button" value="Pagar"
                     class="emma-btn-dark pay-btn-2" />
            </div>
          </div>
        </form>
      </div>
    </div>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
	<script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
	<script src="{% static "js/payment_2.js" %}"></script>
	<script src="//cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js" ></script>
	<script src="{% static 'js/validationForms.js' %}"></script>


{% endblock %}