{% extends "base.html" %}

{% load static from staticfiles  %}

{% block content %}
	<section class="addcard">
		<h1 class="addcard-title">
      Paga tu servicio
    </h1>
		<div class="row text-center">
      <div class="col-lg-5">
        <form class="addcard-form" action="." method="post" id="pay-form">
          {% csrf_token %}
					<div class="row text-center">
		        <div class="col-lg-10">
							{% for card in cards %}
								<span class="join-input-label">
	                <input id="{{ card.id }}" class="radio-check-button"
	                       type="radio" value="{{ card.id }}"
	                       name="customer-card">
	                <label class="radio-check-label"
	                       for="{{ card.id }}">
		                {{ card.card_number }} {{ card.brand }}
	                </label>
	              </span>
							{% endfor %}
		        </div>
	        </div>
          <div class="row text-center">
		        <div class="col-lg-10">
			         <input type="text" autocomplete="off" name="service_ammount"
			                placeholder="Monto a pagar (MXN)"
			                class='emma-input addcard-form-input' />
		        </div>
	        </div>
	        <div class="row text-center">
						<div class="col-lg-10">
							<div class="alert alert-danger addcard-alert" role="alert">
								Algo a salido mal, intenta otra tarjeta o ingresa una nueva
			        </div>
						</div>
					</div>
	        <input type='hidden' name='devsessionid' id='devsessionid'>
          <div class="row text-center">
            <div class="col-xs-10 col-sm-8 col-md-5 col-lg-3">
              <input type="submit" id="pay-button" value="Pagar"
                     class="emma-btn emma-btn-dark addcard-btn" />
            </div>
          </div>
        </form>
      </div>
    </div>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
	<script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
	<script src="{% static "js/payment_2.js" %}"></script>
{% endblock %}