.dashboard-navbar
  .header-navbar-logo
    border none
    margin-left 50px
    
  .header-navbar-list
    display inline-block
    margin-right 50px
    text-align right
    
    &-item
      font-size 19px
      font-family "Avenir LT Std Medium"
      font-weight light
      margin 0 15px
    
      &:last-child
        float none
        font-family "Avenir LT Std Heavy"
        padding 0
        width auto
        
@media screen and (max-width: 1100px)
  .dashboard-navbar .header-navbar-list
    text-align center
    
    .header-navbar-list-item
      margin 0