.dashboard-navbar
  .header-navbar-logo
    border none
    margin-left 50px
    
  .header-navbar-list
    display inline-block
    margin-right 50px
    text-align right
    
    &-item
      font-size 19px
      font-family "Avenir LT Std Medium"
      font-weight light
      margin 0 15px
    
      &:last-child
        float none
        font-family "Avenir LT Std Heavy"
        padding 0
        width auto
        
        img
          margin-left 14px

#dashboard-container
  background #f4f4f4
  font-family "Avenir LT Std Medium"
  font-size 19px
  margin-top 86px
  padding 25px 50px
  
.dashboard
  display flex

.dashboard-menu,
.dashboard-submenu
  font-family "Avenir LT Std Medium"
  font-size 20px
  list-style none
  
  &-item
    background white
    border-width 1px 0
    border-color $border_gray
    border-style solid
    
    &.active > a
      background $light_gray
      color $gray
      
    a
      color black
      display block
      height 100%
      width 100%
      padding 30px 40px
      
      &:hover
        background $light_gray
        color $gray
  
.dashboard-menu
  width 295px
        
.dashboard-menu .dashboard-menu-item
  &:first-child
    border-width 0 0 1px 0
    
    &.active
      border-width 2px 0 0 0
      
  &:last-child
    border-width 1px 0 0 0
    
.dashboard-submenu .dashboard-submenu-item
  border-width 1px 0 0 0
  
  a
    padding-left 90px
  
.dashboard-content
  flex-grow 1
  margin-left 30px

@media screen and (max-width: 1100px)
  .dashboard-navbar .header-navbar-list
    text-align center
    
    .header-navbar-list-item
      margin 0
  
  #dashboard-container
    margin-top 65px
    
@media screen and (max-width: 992px)
  .dashboard
    display block
    
  .dashboard-menu
    width 100%
    
  .dashboard-content
    margin-left 0
    margin-top 50px
    width 100%