.dashboard-box
  &-title
    align-items center
    background white
    display flex
    padding 30px 0
    
    &.internal-title
      background transparent
    
    &.small
      padding 20px 0 10px 0
      
      &.no-button
        padding 15px 0 10px 0

    &.border
      border-color $border_gray
      border-style solid
      border-width 0 0 1px 0
    
    h2
      color #5a5a5a
      flex-grow 1
      font-size 27px
    
    &-button
      color $yellow
      cursor pointer
      cursor hand
      margin-left 30px
      
      &.send-button
        background none
        border none
        height 0
        outline 0
        padding 0
        
      &.cancel-button
        color $gray
        
      &:hover ~ &.cancel-button
        width 300px
      
  &-content
    background $light_gray
    color $dark_gray
    
    .preferences-form-icon
      display inline-block
      height 40px
      margin-right 20px
      width 40px
      
    .preferences-form-data
      display inline-block
      width auto

      b
        font-family "Avenir LT Std Heavy"

      p
        margin-top 5px
        font-weight 500
        font-size 16px

    
    .dashboard-toggle-list
      &-title
        align-items center
        background white
        border-color $border_gray
        border-style solid
        border-width 0 0 1px 0
        padding 20px 0 18px 0
        
        .flex
          align-items center
        
          h3
            color #5a5a5a
            font-family 'Avenir LT Std Roman'
            font-size 18px
            margin-left 30px
          
      &-button
        cursor pointer
        cursor hand
        transition all .2s
          
        &.inverse
          transform rotate(-180deg)
          
      &-content
        background transparent
        height 0
        padding 0 80px
        overflow hidden
        transition all .2s
        
        &.toggle
          height auto
          padding 30px 80px 55px 80px
          
        .columns
          .dashboard-toggle-list-content-column
            display inline-block
            margin-right 1%
            vertical-align top
            width 47%
          
        .dashboard-toggle-list-buttons
          display flex
          justify-content flex-end
          
        h4
          font-size 22px
          margin-bottom 5px

  .input-container
    .fields-container
      padding 5px 0

    .emma-input
      width 100%
      color #5a5a5a
      font-size 19px
      margin 0
      padding 15px
    
    &-inline
      padding 5px 10px 0 0
      
    &.flex
      align-items center
      
      .emma-input
        flex-grow 1
        margin-left 25px
          
      &.multiple-fields, &.textarea-container, &.select-container
        display block
        
        .fields-container
          align-items center
          display flex
      
    .value-container span, .value-container b
      margin-right 5px
          
  .help-container
    padding 0

  .help
    cursor pointer
    cursor hand
    margin 14px 0
    position relative
    
    &::before
      background #aaa
      border-radius 50%
      color white
      display inline-block
      font-size 26px
      width 36px
      height 36px
      padding 5px
      text-align center
      
    .emma-tooltip
      background black
      color white
      display block
      font-family 'Avenir LT Std Medium'
      font-size 14px
      margin-top 11px
      padding 0 15px
      height 0
      overflow hidden
      opacity 0
      position absolute
      text-align left
      transition all 0.2s
      width 200px
      
    &:hover
      .emma-tooltip
        height auto
        padding 15px
        opacity 1
    
.white .emma-input
  border 1px solid $light_gray
  
.dashboard-box-title
  .emma-input:first-child
    color $dark_gray
    margin-left 0 !important
    
  .emma-input:not(:first-child)
    margin-left 2px !important
    
.dashboard-box-content .multiple-fields, .select-container
  .emma-input:not(:first-child)
    margin-left 2px
    
&.temporal-alert
  transition all 0.5s
  overflow hidden
  
  &.hide-alert
    padding-top 0
    padding-bottom 0
    height 0
    opacity 0
    
.cards-list
  .card-brand-image
    margin-right 15px
    
  .card-number
    color black
    
  .cancel-button
    background transparent
    border none
    height auto
    padding 0
    
  .add-card-button-container
    border-color $gray
    border-style solid
    border-width 1px 0 0 0
    
    .add-card-btn
      border-radius 50px
      display inline-block
      background white
      color $gray
      padding 15px 30px
      
      span
        padding-top 5px
        margin-right 10px