.dashboard-emma-box
  align-items flex-start
  display flex
  
.dashboard-emma-picture-container
  width 250px
  
  .emma-picture
    background-position center
    background-size cover
    display block
    height 180px
    margin 141px auto 0 auto
    width 180px

.dashboard-emma-data-box
  flex-grow 1
  
.emma-role-selector
  display flex
  width 70%
  
  &-item
    background white
    color $dark_gray !important
    flex-grow 1
    padding 20px
    text-align center
    flex-basis 0
    
    &.active, &:hover
      background $light_gray
    
    &:not(:first-child)
      border-color $border_gray
      border-style solid
      border-width 0 0 0 1px
      
.dashboard-box-title.yellow
  background-color #fdf0cc
  
.emma-hobbies
  column-count 2
  column-gap 100px
  
  .emma-hobbie-item:not(:first-child)
    margin-top 30px

.adult-hobbies-columns
  display block
  
  .adult-hobbie-item
    display inline-block
    vertical-align top
    width calc(50% - 50px)
    
    &:nth-child(even)
      margin-left 50px
      width calc(50% - 25px)
      
    &:not(:first-child):not(:nth-child(2))
      margin-top 15px
      
  &.value-container
    .adult-hobbie-item:not(:first-child):not(:nth-child(2))
      margin-top 25px