.dashboard-history-table
  color black

  thead
    background #fafafa
    border-color #ccc
    border-style solid
    border-width 0 0 2px 0
    
    tr th
      vertical-align middle
      padding-bottom 15px
      padding-top 15px

  thead, tbody
    tr
      td, th
        border none
        
        &:first-child
          padding-left 30px
          
        &:last-child
          padding-right 30px
  
  tbody tr td
    padding-top 40px

    
.dashboard-history-file
  color black
  text-decoration none
  font-size 1em
  &:hover
  &:focus
  &:active
    color black