.adult-profile-box
  align-items center
  display flex
  
  &-picture
    height 180px
    width auto
    
    &:hover label
      opacity 1
    
    label
      background rgba(black, 0.6)
      display block
      color white
      cursor pointer
      cursor hand
      height 100%
      line-height 185px
      opacity 0
      text-align center
      transition opacity 0.2s
    
    .adult-picture-container
      background-position center !important
      background-size cover !important
      height 180px
      margin 0 20px
      width 180px
    
  &-data
    flex-grow 1
    
    .dashboard-box-title
      .fields-container:not(.hide)
        display block !important

        span
          color $gray
          display block
          font-size 19px
          margin-bottom 8px
          
        div
          display flex
          margin-bottom 5px
    
  .dashboard-box-title
    border-width 0 0 2px 0
    padding 20px 20px 0 0
      
    .send-button
      height auto
      
  .dashboard-box-content
    background white
    color $gray
    padding-right 20px
    
    .input-container
      padding 0
        
      .emma-input
        color $gray
        
      .emma-input:not(.show-as-text)
        margin-bottom 5px
        margin-top 5px