.dashboard-user-card
  background white
  display flex
  padding 25px 0
  
  &-photo
    padding 0 30px
    width 280px
    
  &-data
    flex-grow 1

    &-content
      color $gray
      margin-top 30px
      
      &-row
        display block