.welcome-text-container
  max-width 720px
  width 86%

.welcome-bench-image
  width 50px

.welcome-title
  color #5a5a5a
  font-family "Avenir LT Std Roman"
  font-size 27px
  
.welcome-text-bold
    font-family "Avenir LT Std Heavy"
    
.welcome-paragraph
  color #5a5a5a
  font-family "Avenir LT Std Roman"
  font-size 19px
  
.welcome-paragraph ul
  display inline-block
  list-style none
  width 93%
  
  li
    display block
    text-align left
  
.emma-btn-light.welcome-btn
  font-size 21px
  display inline-block