<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Solicitud Emma</title>
</head>
<body>
	<p>
		Equipo Emma:
	</p>
	<p>
		Nombre: {{ name }} {{ last_name }}
	</p>
	<p>
		Edad: {{ age }}
	</p>
	<p>
		Correo electronico: {{ email }}
	</p>
	<p>
		Telefono movil: {{ phone_movile }}
	</p>
	<p>
		Telefono fijo: {{ phone }}
	</p>
	<p>
		Escolaridad: {{ education }}
	</p>
	<p>
		Ciudad: {{ city }}
	</p>
	<p>
		Estado: {{ state }}
	</p>
	<p>
		Delegacion/Municipio: {{ litte_city }}
	</p>
	<p>
		Colonia: {{ colony }}
	</p>
	<p>
		Codigo Postal: {{ postal_code }}
	</p>
	<p>
		Como conocio a emma: {{ xknow }}
	</p>
	<p>
		Tiene facebook: {{ facebook }}
	</p>
	<p>
		Tiene Smartphone?: {{ smartphone }}
	</p>
</body>
</html>
