<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email llamada agendada</title>
</head>
<body>
	<p>
		Estimado(a) {{ name }}:
	</p>
	<p>
		¡Muchas gracias por tu interés en Emma!
	</p>
	<p>
		Te enviamos este correo para informarte que has agendado una llamada con
		una persona de nuestro equipo el día {{ date }} a las {{ hour }}:{{ minute }} {{ morning }} .
	</p>
	<p>
		Para cualquier cambio o cancelación, nos puedes contactar a:
		info@miemma.com. Con gusto te ayudaremos.
	</p>
	<p>
		Muchos saludos,
	</p>
	<p>
		Equipo fundador de Emma.
	</p>
</body>
</html>