{% extends "clients/dashboard_base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="dashboard">
{% include "clients/dashboard_menu.html" %}
	<div class="dashboard-content">
			<form class="addcard-form" action="." method="post" id="addcard-form">
		    {% csrf_token %}
		    <input type="hidden" name="token_id" id="token_id" />
				<p>
					<label>
						Titular de la tarjeta
						<input type="text" autocomplete="off" name="customer_name"
				           data-openpay-card="holder_name"
				           placeholder="Titular de la tarjeta" />
					</label>
				</p>
				<p>
					<label>
						Numero de la tarjeta
						<input type="text" autocomplete="off" name="card_number"
				           data-openpay-card="card_number"
				           placeholder="Numero de la tarjeta" />
					</label>
				</p>
				<p>
					<label>
						CVC
						<input type="text" autocomplete="off" name="card_cvc"
		               data-openpay-card="cvv2"
		               placeholder="CVC" />
					</label>
				</p>
				<p>
					<label>
						Fecha de Expiracion
						<input type="text" autocomplete="off" name="card_month"
		               data-openpay-card="expiration_month"
		               placeholder="MM"
		               size="2" maxlength='2' />

						<input type="text" autocomplete="off" name="card_year"
		               data-openpay-card="expiration_year"
		               placeholder="AA"
		               size="2" maxlength='2' />
					</label>
				</p>
				<p>
					<div class="alert alert-danger addcard-alert" role="alert">
						La tarjeta fue declinada, revisa la información e
						intenta de nuevo.
	        </div>
				</p>
				<input type='hidden' name='devsessionid' id='devsessionid'>
				<button type="button" id="pay-button">Subir</button>
			</form>
	</div>
</div>
{% endblock %}