{% extends "clients/dashboard_base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="dashboard">
{% include "clients/dashboard_menu.html" %}
	<div class="dashboard-content">
	<form class="addcard-form" action="." method="post" id="addcard-form">
		<div class="dashboard-box">
			<div class="dashboard-box-title border">
				<div class="flex-grow-1">
					<div class="col-md-6 centered-col padding-0">
						<h2>Agregar Tarjeta</h2>
					</div>
				</div>
			</div>
			<div class="dashboard-box-content flex-grow-1 padding-top-70 padding-bottom-70">
				<div class="col-md-6 centered-col">
			    {% csrf_token %}
			    <input type="hidden" name="token_id" id="token_id" />
					<div class="row">
						<input type="text" autocomplete="off" name="customer_name"
					           data-openpay-card="holder_name"
					           placeholder="Nombre titular"
					           class="emma-input col-md-12" />
					</div>
					<div class="row">
						<input type="text" autocomplete="off" name="card_number"
					           data-openpay-card="card_number"
					           placeholder="Número de tarjeta"
					           class="emma-input col-md-12" />
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-4 inline-input-container">
									<input type="text" autocomplete="off" name="card_month"
					               data-openpay-card="expiration_month"
					               placeholder="Mes"
					               size="2" maxlength='2'
					               class="emma-input inline-input" />
								</div>
								<div class="col-md-4 inline-input-container">
									<input type="text" autocomplete="off" name="card_year"
					               data-openpay-card="expiration_year"
					               placeholder="Año"
					               size="2" maxlength='2'
					               class="emma-input inline-input" />
								</div>
								<div class="col-md-4 inline-input-container">
									<input type="text" autocomplete="off" name="card_cvc"
					               data-openpay-card="cvv2"
					               placeholder="CCV"
					               class="emma-input inline-input" />
								</div>
					    </div>
			      </div>
			      <div class="col-md-2 text-center">
			      	<span class="fa fa-question circle"></span>
			      </div>
					</div>
					<p>
						<div class="alert alert-danger addcard-alert" role="alert">
							La tarjeta fue declinada, revisa la información e
							intenta de nuevo.
		        </div>
					</p>
					<input type='hidden' name='devsessionid' id='devsessionid'>
				</div>
			</div>
			<div class="text-center padding-top-20">
			<button type="button" id="pay-button" class="emma-btn-light large">Agregar</button>
			</div>
		</div>
	</form>
	</div>
</div>
{% endblock %}