{% extends "clients/dashboard_base.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="dashboard">
{% include "clients/dashboard_menu.html" %}
	<div class="dashboard-content">
	<form class="addcard-form" action="." onsubmit="return true" method="post" id="payment-form">
		<div class="dashboard-box">
			<div class="dashboard-box-title border">
				<div class="flex-grow-1">
					<div class="col-md-6 col-sm-8 col-xs-10 centered-col padding-0">
						<h2>Pagar Mes</h2>
					</div>
				</div>
			</div>
			<div class="dashboard-box-content flex-grow-1 padding-top-70 padding-bottom-70">
				<div class="col-md-6 col-sm-8 col-xs-10 centered-col">
			    {% csrf_token %}
			    <input type="hidden" name="token_id" id="token_id" />
                    <input type="hidden" name="use_card_points" id="use_card_points" value="false">


					<div class="row input-container">
						<input type="text" autocomplete="off" name="customer_name"
					           data-openpay-card="holder_name"
					           placeholder="Nombre titular"
					           class="emma-input" />
					</div>
					<div class="row input-container margin-top-5">
						<input type="text" autocomplete="off" name="card_number"
					           data-openpay-card="card_number"
					           placeholder="Número de tarjeta"
					           class="emma-input" />
					</div>
					<div class="row">
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-4 input-container input-container-inline">
									<input type="text" autocomplete="off" name="card_month"
					               data-openpay-card="expiration_month"
					               placeholder="Mes"
					               size="2" maxlength='2'
					               class="emma-input inline-input" />
								</div>
								<div class="col-md-4 input-container input-container-inline">
									<input type="text" autocomplete="off" name="card_year"
					               data-openpay-card="expiration_year"
					               placeholder="Año"
					               size="2" maxlength='2'
					               class="emma-input inline-input" />
								</div>
								<div class="col-md-4 input-container input-container-inline">
									<input type="text" autocomplete="off" name="card_cvc"
					               data-openpay-card="cvv2"
					               placeholder="CCV"
					               class="emma-input inline-input" />
								</div>
					    </div>
			      </div>
			      <div class="col-md-2 text-center help-container">
			      	<span class="fa fa-question help">
			      		<span class="emma-tooltip">El CVC son los últimos tres dígitos del número que aparece en el reverso de su tarjeta, en el espacio destinado a la firma.</span>
			      	</span>
			      </div>
			      <div class="row text-center padding-top-30 form-loader">
			        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-50">
			          <div id="movingBallG">
									<div class="movingBallLineG"></div>
									<div id="movingBallG_1" class="movingBallG"></div>
								</div>
			        </div>
			      </div>
					</div>
					<div>
						<div class="alert alert-danger addcard-alert" role="alert">
							La tarjeta fue declinada, revisa la información e
							intenta de nuevo.
		        </div>
					</div>
					<input type='hidden' name='devsessionid' id='devsessionid'>
				</div>
			</div>
			<div class="text-center padding-top-20">
			<button type="button" id="pay-button" class="emma-btn-light large">Pagar</button>
			</div>
		</div>
	</form>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript"
        src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript'
  src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
<script>
	$(document).ready(function() {
		$('.addcard-alert').hide();
		//Sandbox
	  OpenPay.setId('mg0kzdwsiduimlfaudun');
	  OpenPay.setApiKey('pk_106c640a77f94dd49bae11cf94937075');
	  OpenPay.setSandboxMode(true);
        //Production
	  //OpenPay.setId('mna5cosv5lgazrx95qro');
	  //OpenPay.setApiKey('pk_013bd713c3184a7a8e0dd34cc82db932');
	  //OpenPay.setSandboxMode(false);

		var deviceSessionId = OpenPay.deviceData.setup("payment-form", "devsessionid");
	});
	var success_callbak = function(response) {
		console.log('exit');
	    var token_id = response.data.id;
		$('#token_id').val(token_id);
		$('.addcard-alert').hide();
		//$('.form-loader').hide();
		$('#payment-form').submit();
	};
	var error_callbak = function(response) {
	    console.log('error');
		$('.form-loader').hide();
		$('.addcard-alert').show();
		var desc = response.data.description != undefined ?
        response.data.description : response.message;
        //alert("ERROR [" + response.status + "] " + desc);
	};
	$('#pay-button').on('click', function(event) {
	    //alert ('pago');
		$('.addcard-alert').hide();
		$('.form-loader').show();
		OpenPay.token.extractFormAndCreate(
            'payment-form', success_callbak, error_callbak
		);
		console.log('pago');
	});
</script>
{% endblock %}