<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User detail view</title>
</head>
<body>
	<h3>
		Informacion del familiar administrador
	</h3>
	<form action="." method="post">
		{% csrf_token %}
		{{ user_form.as_p }}
		<button type="submit" name="user_information">Actualizar</button>
	</form>
	<h3>Formulario para actualizar la contraseña</h3>
	<p>
		<form action="." method="post">
			{% csrf_token %}
			{{ password_form.as_p }}
			<button type="submit" name="user_password">Actualizar</button>
		</form>
	</p>
	<br><br><br>
	<p>
		{% if success %}
			<p> {{ success }} </p>
		{% endif %}
	</p>
</body>
</html>