<ul class="dashboard-menu">
  <li class="dashboard-menu-item active"><a href="#">Perfil</a></li>
  <li class="dashboard-menu-item"><a href="#">Pagos</a>
    <ul class="dashboard-submenu">
      <li class="dashboard-submenu-item"><a href="#">Mis tarjetas</a></li>
      <li class="dashboard-submenu-item"><a href="#">Historial de Pagos</a></li>
    </ul>
  </li>
  <li class="dashboard-menu-item"><a href="#">Configuración</a></li>
  <li class="dashboard-menu-item"><a href="#">Cerrar sesión</a></li>
</ul>