{% load static from staticfiles%}
{% load settings_tag %}
<!DOCTYPE html>
<html lang="es_ES">
  <head>
  {% include "base/head.html" %}
  {% block fbpixel %}
  {% endblock %}
  </head>
  <body>
    <div class="container-overflow">
      {% include "base/contact.html" %}
      <header class="header-navbar dashboard-navbar">
        <input type="checkbox" id="navbar-trigger" />
        <label class="fa fa-bars" for="navbar-trigger"></label>
        <a href="{% url 'landing:home' %}">
          <img class="header-navbar-logo" src="{% static "img/icons/logo_2.png" %}"/>
        </a>
        <ul class="header-navbar-list">
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Historial
            </a>
          </li>
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Mi <i>Emma</i>
            </a>
          </li>
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Blog
            </a>
          </li>
          {% if contract_service %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
             Contratar servicio
            </a>
          </li>
          {% elif make_call %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Programar llamada
            </a>
          </li>
          {% else %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Ver suscripción
            </a>
          </li>
          {% endif %}
          
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Josefina
              <img class="circle" src="#" width="50px" height="50px"/>
            </a>
          </li>
        </ul>
      </header>
      <div id="content-no-navbar-wrapper">
        <div id="dashboard-container">
          {% block content %}
          {% endblock content %}
        </div>
		    {% include "base/footer.html" %}
      </div>
      {% include "base/scripts.html" %}
    </div>
  </body>
</html>
