{% url 'clients:dashboard_client_detail' as dashboard_client_detail %}
{% url 'clients:dashboard_add_card' as dashboard_add_card %}
{% url 'adults:dashboard_adult' as dashboard_adult %}
{% url 'emmas:dashboard_main_emma' as dashboard_main_emma %}
{% url 'emmas:dashboard_alternative_emma' as dashboard_alternative_emma %}
{% url 'suscriptions:dashboard_charges_list' as dashboard_charges_list %}
{% url 'suscriptions:dashboard_history_list' as dashboard_history_list %}
{% url 'suscriptions:dashboard_payment_info' as dashboard_payment_info %}
{% url 'suscriptions:dashboard_suscription' as dashboard_suscription %}

{% load static from staticfiles%}
{% load settings_tag %}
<!DOCTYPE html>
<html lang="es_ES">
  <head>
  {% include "base/head.html" %}
  {% block fbpixel %}
  {% endblock %}
  </head>
  <style>
		.dropdown {
		    position: relative;
		    display: inline-block;
		}

		.dropdown-content {
		    display: none;
		    position: absolute;
		    background-color: #f9f9f9;
		    min-width: 160px;
		    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		    z-index: 1;
				right: 0;

		}
		.dropdown-content p {
		    height: 60px;
				font-family: "Avenir LT Std Roman";
		}
		.dropdown-content p:hover {background-color: #f1f1f1}

		.dropdown-content p a {
      color: #0f0f0f;
      display: block;
      line-height: 60px;
			padding: 0 25px;
      text-decoration: none;
		}

		.dropdown:hover .dropdown-content {
		    display: block;
		}
	</style>
  <body>
    <div class="container-overflow">
      {% include "base/contact.html" %}
      <header class="header-navbar dashboard-navbar">
        <input type="checkbox" id="navbar-trigger" />
        <label class="fa fa-bars" for="navbar-trigger"></label>
				<a href="{% url 'clients:dashboard_welcome' %}">
			    <img class="header-navbar-logo" src="{% static "img/icons/logo_2.png" %}"/>
			  </a>
        <ul class="header-navbar-list">
          {% if request.user.client.user_type == 'User type 3' %}
            <li class="header-navbar-list-item" hcolor="white">
	            <a class="header-navbar-list-item-link" href="{{dashboard_history_list}}">
	              Historial
	            </a>
	          </li>
	          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="{{dashboard_main_emma}}">
              Mi <i>Emma</i>
            </a>
          </li>
          {% endif %}
          {% if request.user.client.user_type == 'User type 2' %}
            <li class="header-navbar-list-item" hcolor="white">
	            <a class="header-navbar-list-item-link" href="{% url 'services:contract_service_info' %}">
	              Historial
	            </a>
	          </li>
	          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="{% url 'services:contract_service_info' %}">
              Mi <i>Emma</i>
            </a>
          </li>
          {% endif %}
          {% if request.user.client.user_type == 'User type 1' %}
            <li class="header-navbar-list-item" hcolor="white">
	            <a class="header-navbar-list-item-link" href="{% url 'landing:date' %}">
	              Historial
	            </a>
	          </li>
	          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="{% url 'landing:date' %}">
              Mi <i>Emma</i>
            </a>
          </li>
          {% endif %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link"
               href="https://medium.com/@miemma" >
              Blog
            </a>
          </li>
          {% if request.user.client.user_type == 'User type 2' %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link"
               href="{% url 'services:contract_service_info' %}">
             Contratar servicio
            </a>
          </li>
          {% elif request.user.client.user_type == 'User type 1' %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link"
               href="{% url 'landing:date' %}">
              Programar llamada
            </a>
          </li>
          {% else %}
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link"
               href="{{ dashboard_suscription }}">
              Ver suscripción
            </a>
          </li>
          {% endif %}
          
          <li class="header-navbar-list-item" hcolor="white">
            {% if request.user.client.user_type == 'User type 1' %}
	            <span data-toggle="tooltip" data-placement="bottom"
	                  title="Antes de crear el perfil del adulto mayor personaliza
                           tu servicio al programar una llamada!">
		            Adulto Mayor
	            </span>
	            <div class="dropdown">
							  <span>
								  <div class="circle navbar-adult-picture" style="background-image: url('http://www.freelanceme.net/Images/default%20profile%20picture.png')"></div>
							  </span>
							  <div class="dropdown-content">
								  <p>
								    <a href="{% url 'xauth:logout' %}">Cerrar sesión</a>
							    </p>
							  </div>
							</div>
            {% elif request.user.client.user_type == 'User type 2' %}
	            <span data-toggle="tooltip" data-placement="bottom"
	                  title="Para tener acceso a todas las funciones contrata tu servicio">
		            Adulto Mayor
	            </span>
	            <div class="dropdown">
							  <span>
								  <div class="circle navbar-adult-picture" style="background-image: url('http://www.freelanceme.net/Images/default%20profile%20picture.png')"></div>
							  </span>
							  <div class="dropdown-content">
								  <p>
								    <a href="{% url 'xauth:logout' %}">Cerrar sesión</a>
							    </p>
							  </div>
							</div>
            {% else %}
	            <a class="header-navbar-list-item-link" href="{{ dashboard_adult }}">
	              {{ adult.first_name | default_if_none:"Adulto" }}
	            </a>
		          {% if adult.photo %}
			          <div class="dropdown">
							  <span>
								  <div class="circle navbar-adult-picture" style="background-image: url('{{ adult.photo.url }}')"></div>
							  </span>
							  <div class="dropdown-content">
							    <p>
								    <a href="{{ dashboard_adult }}">Perfil</a>
							    </p>
								  <p>
								    <a href="{{dashboard_payment_info}}">Pagos</a>
							    </p>
								  <p>
								    <a href="{{dashboard_client_detail}}">Configuración</a>
							    </p>
								  <p>
								    <a href="{% url 'xauth:logout' %}">Cerrar sesión</a>
							    </p>
							  </div>
							</div>
		          {% else %}
			          <div class="dropdown">
								  <span>
									  <div class="circle navbar-adult-picture" style="background-image: url('{{ adult.photo.url }}')"></div>
								  </span>
								  <div class="dropdown-content">
								    <p>
									    <a href="{{ dashboard_adult }}">Perfil</a>
								    </p>
									  <p>
									    <a href="{{dashboard_payment_info}}">Pagos</a>
								    </p>
									  <p>
									    <a href="{{dashboard_client_detail}}">Configuración</a>
								    </p>
									  <p>
									    <a href="{% url 'xauth:logout' %}">Cerrar sesión</a>
								    </p>
								  </div>
								</div>
		          {% endif %}
            {% endif %}
	          {% if request.user.client.user_type == 'User type 3' %}
		        {% else %}
	          {% endif %}
          </li>
        </ul>
      </header>
      <div id="content-no-navbar-wrapper">
        <div id="dashboard-container">
          {% block content %}
          {% endblock content %}
        </div>
		    {% include "base/footer.html" %}
      </div>
      <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
      {% include 'session_security/all.html' %}
      <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/efects.js' %}"></script>
      <script type="text/javascript">
        $( "#contactForm" ).submit(function( event ) {
          window._fbq.push(['track', 'Lead']);
          return true
        });
      </script>
      <script src="//cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js" ></script>
      <script src="{% static 'js/validationForms.js' %}"></script>
      {% block js %}
	      <script>
	        $(document).ready(function(){
					    $('[data-toggle="tooltip"]').tooltip();
					});
	      </script>
      {% endblock %}
      <!-- Start of Async HubSpot Analytics Code -->
      <script type="text/javascript">
       (function(d,s,i,r) {
         if (d.getElementById(i)){return;}
         var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
         n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2338938.js';
         e.parentNode.insertBefore(n, e);
       })(document,"script","hs-analytics",300000);
      </script>
      <!-- End of Async HubSpot Analytics Code -->
    </div>
  </body>
</html>
