{% load static from staticfiles%}
{% load settings_tag %}
<!DOCTYPE html>
<html lang="es_ES">
  {% include "base/head.html" %}
  <body>
    <div class="container-overflow">
      {% include "base/contact.html" %}
      <header class="header-navbar dashboard-navbar">
        <input type="checkbox" id="navbar-trigger" />
        <label class="fa fa-bars" for="navbar-trigger"></label>
        <a href="{% url 'landing:home' %}">
          <img class="header-navbar-logo" src="{% static "img/icons/logo_2.png" %}"/>
        </a>
        <ul class="header-navbar-list">
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Historial
            </a>
          </li>
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Mi <i>Emma</i>
            </a>
          </li>
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Blog
            </a>
          </li>
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              Ver suscripción
            </a>
          </li>
          <li class="header-navbar-list-item" hcolor="white">
            <a class="header-navbar-list-item-link" href="#">
              {{ adult.first_name }}
              <img class="circle" src="{{ adult.photo.url }}" width="50px" height="50px"/>
            </a>
          </li>
        </ul>
      </header>
      <div id="content-no-navbar-wrapper">
        <div id="dashboard-container">
          {% block content %}
          {% endblock content %}
        </div>
		    {% include "base/footer.html" %}
      </div>
      {% include "base/scripts.html" %}
    </div>
  </body>
</html>
