{% extends "clients/dashboard_base.html" %}
{% load static from staticfiles %}
{% block content %}
	<div class="row">
		<div class="col-md-11 centered-col white-background padding-top-80 padding-bottom-80">
			<div class="welcome-text-container centered-col text-center">
				<img src="{% static 'img/icons/bench.png' %}" alt="" class="welcome-bench-image"> <br>
				<div class="welcome-title margin-top-20 margin-bottom-30">
					<span class="welcome-text-bold">
						¡{{ user.get_full_name }},
					</span> <br>
					Bienvenido(a) a Emma!
				</div>

				{% if request.user.client.user_type == 'User type 2' %}
			  	<div class="welcome-paragraph">
				  	A partir de hoy podrás contar con el mejor plan de acompañamiento para tu ser querido. En Emma estamos comprometidos tanto contigo como con tu familia de forma que encuentres a una compañera conable en menos de 12 horas, de forma sencilla, segura y sin fricciones.
				  </div>
				  <div class="welcome-paragraph margin-top-40 margin-bottom-80">
				  	<h3>¡Muchas gracias por tu confianza!</h3>
				  </div>
				  <div class="margin-bottom-30">
				  	<a href="{% url 'services:contract_plan' %}"
					     class="emma-btn-light welcome-btn">
						  Contratar servicio
					  </a>
				  </div>
			  {% elif request.user.client.user_type == 'User type 1' %}
				  <div class="welcome-paragraph">
				  	A partir de hoy podrás contar con el mejor plan de acompañamiento para tu ser querido. En Emma estamos comprometidos tanto contigo como con tu familia de forma que encuentres a una compañera conable en menos de 12 horas, de forma sencilla, segura y sin fricciones.
				  </div>
				  <div class="welcome-paragraph margin-top-30">
				  	<ul>
				  		<li>1. <span class="welcome-text-bold">Programa una llamada telefónica</span> y personalicemos el servicio que buscas.</li>
							<li>2. <span class="welcome-text-bold">Escoge el horario y fecha para una sesión de prueba</span> (sin costo).</li>
				  	</ul>
				  </div>
				  <div class="welcome-paragraph margin-top-60 margin-bottom-70">
				  	<h3>¡Muchas gracias por tu confianza!</h3>
				  </div>
				  <div>
				  	<a href="{% url 'landing:date' %}" class="emma-btn-light welcome-btn">
						  Programar llamada
					  </a>
				  </div>
			  {% else %}
				  <div class="welcome-paragraph margin-bottom-80">
				  	En Emma trabajaremos día con día para que tu ser querido reciba el mejor plan de acompañamiento integral de parte de nuestras Emmas. Conoce nuestro portal, diseñado exclusivamente para ti.
				  </div>
				  <div>
				  	<a href="{{ dashboard_suscription }}"
					     class="emma-btn-light welcome-btn">Ver suscripción</a>
				  </div>
			  {% endif %}
		  </div>
	  </div>
	</div>
{% endblock %}