{% load static from staticfiles %}
<footer class="footer">
  <div class="row text-center padding-bottom-40 padding-top-30">
    <div class="col-xs-10 col-md-3-half col-sm-3 vertical-middle
                footer-join footer-col">
      <p class="footer-join-principal">
        ¿Quieres ser parte de nuestra familia?
      </p>
      <p class="footer-join-second">
        Envía tu solicitud para ser una <i>Emma</i>
      </p>
      <a href="{% url 'landing:thanks' %}" class="emma-btn emma-btn-light footer-btn">
        Únete al equipo
      </a>
    </div>
    <div class="col-xs-10 col-md-4 col-sm-3 text-center
                vertical-middle footer-col">
      <figure class="footer-social-logo">
        <img src="{% static 'img/icons/full_logo_bw.svg' %}" alt="emma"/>
      </figure>
      <p class="footer-social-copyright">
        © 2016 Emma
      </p>
      <p class="footer-social-rights">
        Todos los derechos reservados
      </p>
      <p class="footer-social-follow">
        Síguenos en:
      </p>
      <figure class="footer-social-img">
        <img src="{% static 'img/icons/social.png' %}" alt="redes sociales"/>
        <a id="facebook" href="https://www.facebook.com/miemma.mexico/?fref=ts" target="_blank"></a>
        <a href="https://twitter.com/miemma_" id="twitter" target="_blank"></a>
        <a href="https://instagram.com/miemmamx" id="instagram" target="_blank"></a>
      </figure>
      <i class="footer-social-icons"></i>
      <div class="footer-social-terms">
        <p>
          Términos y condiciones
        </p>
        <p>
          <a href="{% url 'landing:privacy' %}">Aviso de privacidad</a>
        </p>
      </div>
    </div>
    <div class="col-xs-10 col-md-3-half col-sm-3 vertical-middle
                footer-info footer-col">
      <p class="footer-info-phone center">
        <img src="{% static 'img/icons/phone.svg' %}" height="27px"
             style="margin-top: -5px;" alt="telefono">
	      +52 1 55 4544 9350
      </p>
      <p class="footer-info-text">
        Horarios de atención: de lunes a viernes de 9:00 a 20:00 hrs.
      </p>
      <ul class="footer-info-list">
        <li class="footer-info-list-item center">
          <a href="#" data-toggle="modal" data-target="#contactModal">
             Contacto
           </a>
        </li>
        <li class="footer-info-list-item center">
          <a href="{% url 'landing:who' %}">Quiénes somos</a>
        </li>
        <li class="footer-info-list-item center">
          <a href="{% url 'landing:faq' %}">Preguntas frecuentes</a>
        </li>
      </ul>
    </div>
  </div>
</footer>