{% load static from staticfiles %}
<header class="header-navbar">
  <input type="checkbox" id="navbar-trigger" />
  <label class="fa fa-bars" for="navbar-trigger"></label>
  <a href="{% url 'landing:home' %}">
    <img class="header-navbar-logo" src="{% static "img/icons/logo_2.png" %}"/>
  </a>
  <ul class="header-navbar-list">
    <li class="header-navbar-list-item" hcolor="white">
	    {% if request.path == '/faq/' %}
	    <a class="header-navbar-list-item-link yellow-link " href="{% url 'landing:faq' %}">
	    {% else %}
	    <a class="header-navbar-list-item-link" href="{% url 'landing:faq' %}">
	    {% endif %}
        Cómo funciona
      </a>
    </li>
    <li class="header-navbar-list-item" hcolor="white">
      {% if request.path == '/servicios/' %}
	    <a class="header-navbar-list-item-link yellow-link" href="{% url 'landing:services' %}">
	    {% else %}
	    <a class="header-navbar-list-item-link" href="{% url 'landing:services' %}">
	    {% endif %}
        Servicios
      </a>
    </li>
    <li class="header-navbar-list-item" hcolor="white">
	    {% if request.path == '/acerca/' %}
	    <a class="header-navbar-list-item-link yellow-link" href="{% url 'landing:about' %}">
	    {% else %}
	    <a class="header-navbar-list-item-link" href="{% url 'landing:about' %}">
	    {% endif %}
        Acerca de Emma
      </a>
    </li>
    <li class="header-navbar-list-item" hcolor="white">
	    {% if user.is_authenticated %}
		    <a class="header-navbar-list-item-link" href="{% url 'xauth:logout' %}">
	        Cerrar sesión
	      </a>
	    {% else %}
		    <a class="header-navbar-list-item-link" href="{% url 'xauth:login' %}">
	        Inicia sesión
	      </a>
	    {% endif %}
    </li>
    <li class="header-navbar-list-item phone">
      <div class="phone-content">
	      {% if request.user.client %}
			    <a href="{%  url 'clients:dashboard_welcome'  %}" class="header-navbar-pay">
		        Dashboard
		      </a>
		    {% else %}
		      <i class="fa fa-phone"></i>
	        <span>
	          +52 1 55 4544 9350
	        </span>
		    {% endif %}
      </div>
    </li>
  </ul>
</header>