{% load static from staticfiles %}
{% load settings_tag %}
  <title>Emma: Acompañamiento con propósito</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
    	content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
    	         user-scalable=no" />
  <meta name="description"
    	content="Emma es un servicio de acompañamiento a adultos de la
    	tercera edad. Premio Nacional del Estudiante Emprendedor de
    	Entrepreneurs Organization (EO)"/>
  <meta name="keywords"
    	content="emma, fernanda sottil, permio nacional el estudiante
    	emprendedor, acompañantes de la tercera edad, emma acompañantes de
    	la tercera edad, fernanda sottil ganadora del premio estudiante
    	emprendedor, Para que tu ser querido no pierda sus pasatiempos
    	favoritos, acompañamiento, tercera, edad, tercera edad, miemma, mi
    	emma, mi emma fernanda sottil"/>

  <meta property="og:site_name" content="Emma">
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://miemma.com">
  <meta property="og:title" content="Emma: Acompañamiento con propósito"/>
  <meta property="og:description" content="Redefinimos el acompañamiento en casa. A través de nuestros cuidados no médicos, Emma personaliza el aprendizaje, la activación de intereses y el bienestar integral de tus seres queridos desde su hogar."/>
	<meta property="og:image" content="{% static 'img/road.jpg' %}" />
	<meta property="og:image:type" content="image/jpeg" />



	<meta property="og:image" content="{% static "img/Logo-Emma-OG.png" %}" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="250" />
	<meta property="og:image:height" content="250" />

  <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}"
    	rel="stylesheet"/>
  <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}"
    	rel="stylesheet"/>
  <link href="{% static "css/main.css" %}" rel="stylesheet" type="text/css"
    	media="screen"/>
  <link rel="shortcut icon" type="image/x-icon"
    	href="{% static "img/favicon.png" %}"/>
	<!--GA-->
  {% autoescape off %}
    {% settings_value "GOOGLE_ANALYTICS_CODE" %}
  {% endautoescape %}