{% load static from staticfiles %}
<header class="header-navbar">
  <input type="checkbox" id="navbar-trigger" />
  <label class="fa fa-bars" for="navbar-trigger"></label>
  <a href="{% url 'landing:home' %}">
    <img class="header-navbar-logo" src="{% static "img/icons/logo_2.png" %}"/>
  </a>
  <ul class="header-navbar-list">
    <li class="header-navbar-list-item" hcolor="white">
      <a class="header-navbar-list-item-link" href="{% url 'landing:faq' %}">
        Cómo funciona
      </a>
    </li>
    <li class="header-navbar-list-item" hcolor="white">
      <a class="header-navbar-list-item-link"
         href="{% url 'landing:services' %}">
        Servicios
      </a>
    </li>
    <li class="header-navbar-list-item" hcolor="white">
      <a class="header-navbar-list-item-link" href="{% url 'landing:about' %}">
        Acerca de Emma
      </a>
    </li>
    <li class="header-navbar-list-item" hcolor="white">
      <a class="header-navbar-list-item-link" href="{% url 'landing:login' %}">
        Inicia sesión
      </a>
    </li>
    <li class="header-navbar-list-item phone">
      <div class="phone-content">
        <i class="fa fa-phone"></i>
        <span>
          +52 1 55 4544 9350
        </span>
      </div>
    </li>
  </ul>
</header>