{% load static from staticfiles %}
<a href="#characteristics-table" class="emma-btn compare-plans-btn" data-action="scroll">Comparar planes</a>
<div class="white">
  <div id="characteristics-table" class="plans-table-container">
    <div class="table-responsive">
      <table class="table plans-characteristics-table">
        <thead>
          <tr>
            <th colspan="2">Beneficios</th>
            <th>Básico</th>
            <th>Mixto</th>
            <th>PRO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Activación de intereses del adulto mayor</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Explotamos sus intereses a través de actividades planeadas que tengan un sentido personal para ellos.">
                  ?
              </span>
            </td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Reportes mensuales para los familiares</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Informamos sobre las actividades realizadas, el estado de ánimo del adulto mayor y los resultados observados durante el mes.">
                  ?
                  </span>
            </td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Combinación de diferentes talleres</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Al tener más sesiones a la semana, en estos planes es posible combinar varios talleres sin perder el seguimiento a cada uno (Ej: taller de memorias y taller de tecnología).">
                  ?
                  </span>
            </td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Asistencia en transporte para actividades fuera de casa</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Con más horas disponibles a la semana, es posible coordinar salidas fuera de casa como paseos o visitas culturales.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Monitoreo de actividad cognitiva y de la memoria</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Se realizan evaluaciones geriátricas a principio y fin de mes con el objetivo de hacer ajustes en las actividades propuestas.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Plan de atención creado por nuestros geriatras</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Generamos un plan adecuado a las limitaciones, habilidades e intereses del adulto mayor.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Involucramiento del geriatra o médico de cabecera</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Establecemos una comunicación efectiva con el médico del adulto mayor para involucrarlo en el plan, las actividades que se realizan y los resultados observados en las sesiones.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Valoraciones geriátricas periódicas</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Buscamos un monitoreo regular en el desempeño físico, cognitivo, funcional y social del adulto mayor.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="on-demand-container">
    <h2 class="on-demand-title">¿Deseas ayuda de Emma por sólo esta ocasión?</h2>
    <div class="on-demand-images">
      <div class="image-item" style="background-image: url({% static 'img/services_1.jpg' %})">
        <span class="hover-text">
          Emma te acompaña con tus pendientes diarios
        </span>
      </div>
      <div class="image-item" style="background-image: url({% static 'img/services_2.jpg' %})">
        <span class="hover-text">
          ¿Ganas de ir al teatro o al cine?
        </span>
      </div>
      <div class="image-item" style="background-image: url({% static 'img/services_3.jpg' %})">
        <span class="hover-text">
          Vamos contigo al doctor
        </span>
      </div>
    </div>
    <div class="button-container">
      <p>
        <span>Envíanos tu solicitud y pide una <i>Emma</i> por única vez</span>
        <a href="{% url 'services:contract_unique' %}" class="emma-btn emma-btn-light">Solicitar una Emma</a>
      </p>
    </div>
  </div>
</div>