{% load static from staticfiles %}
<a href="#characteristics-table" class="emma-btn compare-plans-btn" data-action="scroll">Comparar planes</a>
<div class="white">
  <div id="characteristics-table" class="plans-table-container">
    <div class="table-responsive">
      <table class="table plans-characteristics-table">
        <thead>
          <tr>
            <th colspan="2">Beneficios</th>
            <th>Básico</th>
            <th>Mixto</th>
            <th>PRO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Activación de intereses del adulto mayor</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Explotamos sus intereses a través de actividades planeadas que tengan un sentido personal para ellos.">
                  ?
              </span>
            </td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Reportes mensuales para los familiares</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Informamos sobre las actividades realizadas, el estado de ánimo del adulto mayor y los resultados observados durante el mes.">
                  ?
                  </span>
            </td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Combinación de diferentes talleres</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Al tener más sesiones a la semana, en estos planes es posible combinar varios talleres sin perder el seguimiento a cada uno (Ej: taller de memorias y taller de tecnología).">
                  ?
                  </span>
            </td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Asistencia en transporte para actividades fuera de casa</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Con más horas disponibles a la semana, es posible coordinar salidas fuera de casa como paseos o visitas culturales.">
                  ?
                  </span>
            </td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Monitoreo de actividad cognitiva y de la memoria</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Se realizan evaluaciones geriátricas a principio y fin de mes con el objetivo de hacer ajustes en las actividades propuestas.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Plan de atención creado por nuestros geriatras</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Generamos un plan adecuado a las limitaciones, habilidades e intereses del adulto mayor.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Involucramiento del geriatra o médico de cabecera</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Establecemos una comunicación efectiva con el médico del adulto mayor para involucrarlo en el plan, las actividades que se realizan y los resultados observados en las sesiones.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
          <tr>
            <td>Valoraciones geriátricas periódicas</td>
            <td>
              <span class="tooltip-container" data-toggle="tooltip" title="Buscamos un monitoreo regular en el desempeño físico, cognitivo, funcional y social del adulto mayor.">
                  ?
                  </span>
            </td>
            <td></td>
            <td></td>
            <td><img src="{% static 'img/icons/check.png' %}" width="40px"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="on-demand-container">
    <h2 class="on-demand-title">¿Deseas ayuda de Emma por sólo esta ocasión?</h2>
    <div class="on-demand-images">
      <div class="image-item" style="background-image: url({% static 'img/services_2.jpg' %})">
        <span class="hover-text">
          Emma te acompaña con tus pendientes diarios
        </span>
      </div>
      <div class="image-item" style="background-image: url({% static 'img/services_1.jpg' %})">
        <span class="hover-text">
          ¿Ganas de ir al teatro o al cine?
        </span>
      </div>
      <div class="image-item" style="background-image: url({% static 'img/services_3.jpg' %})">
        <span class="hover-text">
          Vamos contigo al doctor
        </span>
      </div>
    </div>
    <div class="button-container">
      <p>
        <span>Envíanos tu solicitud y pide una <i>Emma</i> por única vez</span>
        <a href="{% url 'services:contract_unique' %}" class="emma-btn emma-btn-light">Solicitar una Emma</a>
      </p>
    </div>
  </div>
</div>
<div id="customplan-modal" role="dialog" class="modal fade emma-modal home-modal">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
    </button>
    <form id="customplan-modal__form" action="" class="modal-content" data-ajax-form>
      <div class="modal-header">
        <h3 class="modal-title">Crear plan personalizado</h3>
        <p class="modal-description">Llena los siguientes campos y selecciona una fecha y hora en la que te podemos llamar para definir a detalle tu plan con Emma:</p>
      </div>
      <div class="modal-body">
        <div class="call-modal__left-column">
          <div class="input-wrapper">
            <input name="name" class="emma-input" required type="text" placeholder="Nombre completo">
          </div>
          <div class="input-wrapper">
            <input name="phone" class="emma-input" required type="tel" placeholder="Teléfono">
          </div>
          <div class="input-wrapper">
            <input name="email" class="emma-input" required type="email" placeholder="Correo electrónico">
          </div>
          <div class="input-wrapper">
            <select class="emma-input" required name="service">
              <option value="" disabled selected>Quiero acompañamiento para</option>
              <option value="1">...</option>
              <option value="2">...</option>
              <option value="3">...</option>
            </select>
          </div>
          <div class="input-wrapper">
            <textarea name="description" class="emma-input" placeholder="Breve descripción del adulto mayor (Opcional)"></textarea>
          </div>
        </div>
        <div class="call-modal__right-column">
          <div class="call-modal__calendar">
            <div id="customplan-modal-datepicker" data-date="{{ today }}"></div>
            <input type="hidden" id="customplan-modal__date-input"
              name="date" value="{{ today }}">
          </div>
          <div class="call-modal__time">
            <div class="call-modal__time-inner">
              <strong>Hora:</strong>
              <div class="emma-input">
                <div class="input-wrapper">
                  <input name="hour" class="hour-input" type="text" placeholder="00" max="12" min="1" value="10">:<input class="minute-input" type="text" max="59" min="0"
                  placeholder="00" value="30" name="minute">
                </div>
              </div>
              <input id="reservation-time-button__customplan" type="text" name="morning" value="AM"
                     class="reservation-time-button emma-input date-input date-input-little" readonly>
            </div>
          </div>
          <div class="row text-center form-loader">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div>
                <div class="movingBallLineG"></div>
                <div class="movingBallG"></div>
              </div>
            </div>
          </div>
          <button type="submit" class="emma-btn emma-btn-light">Agendar llamada</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="customplan-confirmation-modal" role="dialog" class="modal fade emma-modal home-modal">
  <div class="modal-dialog" role="document">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <img aria-hidden="true" src="{% static 'img/icons/close.png' %}">
    </button>
    <div class="modal-content">
      <div class="modal-body">
        <img class="emma-modal__check" src="{% static 'img/icons/modal-check.png' %}" alt="">
        <p class="call-confirmation-modal__text">
          Tu llamada ha sido programada de manera exitosa para el día
          <span class="confirmation-modal__text--date confirmation-modal__text--yellow"></span> de <span class="confirmation-modal__text--year"></span> a las <span class="confirmation-modal__text--time confirmation-modal__text--yellow"></span>. A la brevedad recibirás un correo de confirmación
        </p>
      </div>
    </div>
  </div>
</div>
