<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Emma titular</title>
</head>
<body>
	<p>
		<b>Nombre:</b> {{ emma.user.first_name }}
	</p>
	<p>
		<b>Apellido:</b> {{ emma.user.last_name }}
	</p>
	<p>
		<p>
		<b>Edad: </b> {{ emma.birthday }}
	</p>
	<p>
		<b>Estudios: </b>
		<ul>
			{% for studie in emma.emmastudies_set.all %}
				<li>
					{{ studie.studie }}
				</li>
			{% endfor %}
			
		</ul>
	</p>
	
	<p>
		<b>Descripcion general: </b> {{ emma.general_description }}
	</p>
	<p>
		<b>Cualidades: </b> {{ emma.qualities }}
	</p>
	<p>
		<b>Experincia con abuelos: </b> {{ emma.experience_with_seniors }}
	</p>
	<p>
		<b>Caracteristicas </b> {{ emma.experience_with_seniors }}
	</p>
</body>
</html>