{% extends "clients/dashboard_base.html" %}
{% block content %}
<div class="dashboard">
<div class="dashboard-content" style="margin-left: 0">
  <div class="dashboard-box centered-col">
    <div class="dashboard-box-title border">
      <div class="flex-grow-1 text-center">
        <h2>Reporte Mensual</h2>
      </div>
    </div>
    <div class="dashboard-box-content flex-grow-1 padding-bottom-30 margin-bottom-80">
      <div class="table-responsive">
        <table class="table dashboard-history-table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Servicio</th>
              <th>Talleres</th>
              <th>Estado de ánimo</th>
              <th>Observaciones</th>
	            <th></th>
            </tr>
          </thead>
          <tbody>
            {% for history in histories %}
            <tr>
              <td>{{ history.date }}</td>
              <td>{{ history.service }}</td>
              <td>
	              {% for workshop in history.workshops.all %}
									{% if forloop.last %}
										<p>{{ workshop.name }}</p>
									{% else %}
										<p>
										{{ workshop.name }},
										</p>
									{% endif %}
								{% endfor %}
              </td>
              <td>
	              {{ history.mood }}
              </td>
              <td>
	              {{ history.comments }}
              </td>
	            {% if history.file %}
		             <td>
			            <a class="dashboard-history-file" href="{{ history.file.url }}" download target="_blank">
				            <i class="fa fa-download" aria-hidden="true"></i>
			            </a>
		            </td>
	            {% endif %}
            </tr>
            {% endfor %}
            <!-- <tr>
              <td>29 junio 2016</td>
              <td>Asistencia en transporte</td>
              <td>Pendientes diarios</td>
              <td class="text-center">Ocupado</td>
              <td>Estaba muy cómodo, la pasamos muy bien cuando estábamos blah blah...</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div></div>
</div>
{% endblock %}