{% extends "clients/dashboard_base.html" %}
{% block content %}
<div class="dashboard">
 {% include "clients/dashboard_menu.html" %}
	<div class="dashboard-content">
	  <div class="dashboard-box centered-col">
	    <div class="dashboard-box-title border">
	      <div class="flex-grow-1 text-center">
	        <h2>Mis tarjetas</h2>
	      </div>
	    </div>
	    <div class="dashboard-box-content cards-list flex-grow-1 padding-top-40 padding-bottom-40 margin-bottom-80">
	    	<div class="col-md-7 col-sm-8 col-xs-10 centered-col">
	    		{% for card in cards %}
		    		<form action="." method="post" class="updatecard-form">
				      {% csrf_token %}
		    			<div class="flex">
		    				<span class="card-brand-image">{{ card.brand | upper}}</span>
		    				<div class="card-number flex-grow-1">{{ card.card_number }}</div>
						    <input type="hidden" value="{{ card.id }}" name="card_id">
		    				<button type="submit" class="dashboard-box-title-button cancel-button">eliminar</button>
		    			</div>
		    		</form>
					{% endfor %}
		      <div class="row text-center padding-top-30 form-loader" id="addCardLoader">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top-20">
		          <div id="movingBallG">
								<div class="movingBallLineG"></div>
								<div id="movingBallG_1" class="movingBallG"></div>
							</div>
		        </div>
		      </div>
	    	</div>
	    	<div class="add-card-button-container text-center margin-top-30 padding-top-40">
	    		<a href="{{dashboard_add_card}}" class="add-card-btn"><span class="fa fa-plus"></span> Agregar tarjeta</a>
	    	</div>
			</div>
	  </div>
	</div>
</div>
{% endblock %}