{% load static from staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payment Info</title>
</head>
	<body>
		<ul>
		  {{ request.user.client }}
			<br>
			<br>
			<br>
			{% for card in cards %}
				<form action="." method="post" id="updatecard-form">
					{% csrf_token %}
					<h4>{{ card.brand }}</h4>
					<label>
						Numero de la tarjeta:
						<input type="text" name="card_number" value="{{ card.card_number }}">
					</label>
					<br>
					<label>
						Mes de expiracion
						<input type="text" name="card_exp_month" value="{{ card.expiration_month }}">
					</label>
					<br>
					<label>
						Año de expiracion
						<input type="text" name="card_exp_year" value="{{ card.expiration_year }}">
					</label>
					<br>
					<label>
						ID de la tarjeta
						<input type="text" name="card_id" value="{{ card.id }}">
					</label>
					<br>
					<label>
						Session ID (Hidden)
					</label>
					<br>
					<button type="submit">Eliminar tarjeta</button>
				</form>
				<br><br><br><br><br>
			{% endfor %}

		</ul>
	</body>
</html>